%section#location.main-content
  .container

    %h3.h-section Location

    %h2
      Harrington College of Design
      .lineup
        %a.a-chevron-right(href="https://goo.gl/maps/Azbie") 200 West Madison Street, Chicago, IL 60606

    .grid

      .event-location-venue
        .event-location-media
          %figure= image_tag "events/locations/harrington.jpg", class: "frame", alt: "Harrington College of Design"

        %h3 About Harrington College of Design

        %p In the heart of Chicago&#8217;s Loop, great location with lots of local flavor. Hosted in a school for design, Prototype Camp Chicago offers a great setting for learning.

        %p Check out <a href="http://www.harrington.edu/" rel="nofollow">Harrington College of Design</a>.

      .event-location-area
        .event-location-media
          %figure
            %iframe.frame(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11881.984732812934!2d-87.634767!3d41.882185!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x47c37e9f0dde86e7!2sHarrington+College+of+Design!5e0!3m2!1sen!2sus!4v1420497358257")

        %h3 Where to Park?

        %p There are several easy-access <a href="http://www.parkwhiz.com/harrington-college-of-design-parking/" rel="nofollow">parking garages</a> available in the surrounding blocks.

        %h3 Where to Stay?

        %p Coming from out of town? There are a lot of <a href="https://goo.gl/maps/qWvl1" rel="nofollow">hotels in the surrounding area</a> that may work well for you and we have already done the searching for you!
