---
title: Sketch Camp
date: 2011-10-22 01:00 CDT
category: events
summary: SketchCamp Chicago is an unconference/camp that brings together designers of all types for a single-day event focused on sketching for user experience design.
---
