---
title: Prototype Camp
date: 2012-08-25 01:00 CDT
category: events
summary: PrototypeCamp Chicago delivers a full day of bringing together Designers, Developers, and anyone else who is interested in putting a bit more &#8220;build and create&#8221; into their craft.
---
