---
published: false
title: Speaker Camp
date: 2013-06-22 01:00 CDT
category: events
summary: Speaker Camp helps you get prepared for Conference Submission Season&trade;! Spend your Saturday with us and get prepared to get on stage and show your smarts!
---
