---
published: false
title: Sketch Camp
date: 2013-11-02 01:00 CDT
category: events
summary: Sketch Camp Chicago spends a full day taking a deep dive into the world of sketching! Bring your favorite pencils, erasers, and a fresh Moleskine to fill up with all you can sketch!
---
