---
published: false
title: Prototype Camp
date: 2013-08-24 01:00 CDT
category: events
summary: Prototype Camp Chicago delivers a full day of bringing together people who are interested in putting a bit more &#8220;build and create&#8221; into their craft. Clearly-thought and nearly-there are great places to be!
---
