---
title: Getting Started with Axure RP 7 Workshop
date: 2014-04-05 01:00 CDT
category: events
alias: axure-rp-7-workshop
summary: This one-day, hands-on workshop is designed for those who want to learn how this powerful rapid prototyping tool can be used to create clickable HTML-based prototypes so they can more clearly communicate their visual and interaction designs to stakeholders and end users. Unlike tools that create static wireframes, <a href="http://www.axure.com/" rel="nofollow">Axure RP 7</a> lets user experience designers create highly interactive prototypes that can be used in web browsers and on mobile devices without having to write any code.
---

%nav.event-nav.group(data-js="event-nav")
  .container
    %ul.event-nav-content
      %li.event-nav-title
        %a(href="#top" rel="nofollow") Axure RP 7
      %li
        %a(href="#details" rel="nofollow") Details
      %li
        %a(href="#instructor" rel="nofollow") Instructor
      %li
        %a(href="#location" rel="nofollow") Location

%section#details.main-content
  .container

    %h3.h-section Details

    %h2 Getting Started With Axure RP 7

    %p This one-day, hands-on workshop is designed for those who want to learn how this powerful rapid prototyping tool can be used to create clickable HTML-based prototypes so they can more clearly communicate their visual and interaction designs to stakeholders and end users. Unlike tools that create static wireframes, <a href="http://www.axure.com/" rel="nofollow">Axure RP 7</a> lets user experience designers create highly interactive prototypes that can be used in web browsers and on mobile devices without having to write any code.

    %p This workshop will get you up and running (or refreshed on the new Axure 7!) with a mixture of examples, tutorials, and exercises that start with static wireframes and then advance to interactive prototypes that use forms and variables to capture user input and update the interface based on user actions. You will take home working Axure RP 7 files that you build in the workshop. These project files include the functions you&#8217;ll need get up and running with the latest version of this extremely popular prototyping solution.

    %h3 Topics Covered

    %ul.list-ul
      %li Planning an Axure project
      %li Learning the Axure workspace
      %li Using Axure&#8217;s interface widget library
      %li Creating simple wireframes
      %li Working with forms
      %li Adding interactivity to a prototype
      %li Using variables to store data used by the prototype
      %li Displaying and sharing a prototype

    %h3 Required Preparation for Attendees

    %p Bring your laptop with Axure RP 7 installed and ready to run. If you do not own a licensed copy of Axure, you can download a free 30-day trial (link to <a href="http://www.axure.com/download" rel="nofollow">download</a>). Make sure your trial version is not expired on the day of the workshop.

    %h3 Axure System Requirements

    %h5 For Mac

    %ul.list-ul
      %li Mac computer with Intel processor Mac OS X 10.5+
      %li 2 GB Memory (4 GB recommended) 200 MB disk space
      %li For prototypes, Firefox, Safari, or Chrome

    %h5 For Windows

    %ul.list-ul
      %li Windows XP, 2003 Server, Vista, 7, or 8
      %li 2 GB RAM (4 GB recommended)
      %li 1 GHz Processor
      %li 60 MB disk space
      %li For prototypes, IE 7.0+, Firefox, Safari, or Chrome 

%section#instructor.main-content.main-bg-alt
  .container

    %h3.h-section Instructor

    .profile.profile-bump.media
      .profile-object.media-object= image_tag "events/speakers/will-hacker.jpg", alt: "Will Hacker"
      .media-body

        %h2
          Will Hacker
          .lineup.lineup-wrap
            .h-sm-caps-gray Lead Interaction Designer, GE Capital
        
        %p Will Hacker is the author of <a href="http://axuremobilebook.com/" rel="nofollow">Mobile Prototyping with Axure 7</a>. He&#8217;s used Axure for several years as part of his iterative design and prototyping process. Will spent two and a half years working exclusively on mobile design, prototyping, and usability testing, and Axure was one of the main tools in his arsenal. He also has written about prototyping and user experience design for Smashing Magazine and UX Booth, and is a frequent speaker at design events in Chicago. Will is currently a Lead Interaction Designer at GE Capital. You can follow his tweets at <a href="https://twitter.com/willhacker" rel="nofollow">@willhacker</a> or visit his website at <a href="http://willhacker.net/" rel="nofollow">willhacker.net.</a>

= partial "partials/event-location-harrington"
