---
title: Mobile Camp
date: 2014-05-03 01:00 CDT
category: events
---

%p Mobile Camp Chicago gets you up to speed on the mobile issues you need to know! Spend a Saturday with us and then spend your Monday applying what you&#8217;ve learned! READMORE
