---
title: Getting Started with Axure RP 7 Workshop
date: 2014-04-05 01:00 CDT
category: events
summary: This one-day, hands-on workshop is designed for those who want to learn how this powerful rapid prototyping tool can be used to create clickable HTML-based prototypes so they can more clearly communicate their visual and interaction designs to stakeholders and end users. Unlike tools that create static wireframes, <a href="http://www.axure.com/" rel="nofollow">Axure RP 7</a> lets user experience designers create highly interactive prototypes that can be used in web browsers and on mobile devices without having to write any code.
---
