---
title: Prototyping Responsive Designs with Axure RP 7 Workshop
date: 2014-11-15 01:00 CDT
category: events
---

%p This one-day workshop will get you up to speed prototyping responsive web designs with the new Adaptive Views feature in Axure RP 7. In this hands-on workshop you&#8217;ll learn how to create designs that scale for smartphones, tablets, and desktop displays. This workshop includes examples, tutorials, and exercises covering the functionality of an cross-platform ecommerce project prototyped with Axure. READMORE
