---
title: Speaker Camp Atlanta
date: 2014-06-28 01:00 CDT
category: events
summary: Speaker Camp Atlanta helps you get prepared for Conference Submission Season&trade;! Spend your Saturday with us and get prepared to get on stage and show your smarts!
---
