---
title: Real World Responsive Design Workshop
date: 2014-06-21 01:00 CDT
category: events
summary: This one-day, hands-on workshop is for those that are ready to start building responsively or are having trouble integrating responsive techniques into their workflow. They&#8217;re convinced of the benefits of a fluid, device agnostic web and believe in mobile first as a best practice, but need a helping hand in breaking free of old build habits.
---
