---
title: Prototypes, Process &amp; Play
date: 2015-08-06 01:00 CDT
category: events
alias: prototypes-process-play
duration: August 6&#8211;7, 2015
location: Columbia College Film Row &ndash; Chicago
summary: Learn design leadership skills from Adaptive Path, Public Good Software, Google Ventures, and the Chicago Bulls&#8211;just to name a few!
---
- sponsors = ["Balsamiq", "Columbia College", "Mailchimp", "Terminus Threads"]
- speakers = ["Andrea Mignolo", "Braden Kowitz", "Carl Smith", "Denise Jacobs", "Dustin DiTommaso", "Hannah Donovan", "J Cornelius", "Jason Kunesh", "Jen Myers", "Jesse James Garrett", "Stacey James", "Dr. Steve Julius", "Dr. Temple Grandin"]

%nav.event-nav.group(data-js="event-nav")
  .container
    %ul.event-nav-content
      %li.event-nav-title
        %a(href="#top" rel="nofollow") Prototypes, Process &amp; Play
      %li
        %a(href="#details" rel="nofollow") Details
      %li
        %a(href="#schedule" rel="nofollow") Schedule
      %li
        %a(href="#speakers" rel="nofollow") Speakers
      %li
        %a(href="#location" rel="nofollow") Location

    %a.btn.btn-alt.event-nav-btn(href="https://chicagocamps.ticketleap.com/prototypes-process-play-2015/dates/Aug-06-2015_at_0900AM" rel="nofollow")
      Join Us Now for
      %strong Only $275

%section#details.main-content
  .container

    %h3.h-section Details

    %h2 Learn design leadership skills from Adaptive Path, Public Good Software, Google Ventures, and the Chicago Bulls&#8211;just to name a few!

    %p We&#8217;ll gain from the wisdom and experience of brilliant professionals who have been there, done that, and have shown others how to do it, too. 

    .event-cta
      %a.btn.btn-alt(href="https://chicagocamps.ticketleap.com/prototypes-process-play-2015/dates/Aug-06-2015_at_0900AM" rel="nofollow")
        Join Us for Now Only $275 &#8212; Ticket Prices Increase Each Month

    %h3 Meet Our Awesome Sponsors
    
    %p These fantastic sponsors are helping us bring this great event to you.

    = partial "partials/events/sponsors", locals: {sponsors: sponsors}

%section#schedule.main-content.main-bg-highlight
  .container

    %h3.h-section Schedule

    %p We&#8217;ve prepared 2 days&#8211;Thursday and Friday, August 6th and 7th&#8211;at Columbia College Chicago that will help you hone and focus your design leadership skills. Come ready to learn, and leave ready to drive the future of design in your organization!

    %h4 Schedule Announcement Forthcoming

%section#speakers.main-content.main-bg-alt
  .container

    %h3.h-section Speakers

    %p We&#8217;ve meticulously curated professionals who are a mix of strong design leaders, leadership mentors and coaches from other fields, and aspiring design leaders who are forging their own path. Our line-up will inspire you and provide you with techniques and tools to help you down your own leadership path.

    %p We&#8217;re very excited for you to meet our speakers!

    = partial "partials/events/speakers", locals: {speakers: speakers}

%section#location.main-content
  .container

    %h3.h-section Location

    %h2
      Columbia College Film Row
      .lineup
        %a.a-chevron-right(href="https://goo.gl/maps/Vp7xk") 1104 South Wabash Avenue, 8th Floor, Chicago, IL 60605

    %p We are big fans of our venue and sponsor: Columbia College in Chicago. Columbia is a great place to learn and upgrade your design skills and we&#8217;re excited to host our inaugural Prototypes, Process &amp; Play with them!

    .grid

      .event-location-venue
        .event-location-media
          %figure= image_tag "events/locations/columbia-college.jpg", class: "frame", alt: "Columbia College"

        %h3 About Columbia College

        %p Columbia College Chicago is an institution of higher education specializing in arts and media disciplines, with nearly 12,000 students pursuing degrees within 120 undergraduate and graduate programs.

        %p Check out <a href="http://www.colum.edu/" rel="nofollow">Columbia College</a>.

      .event-location-area
        .event-location-media
          %figure
            %iframe.frame(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2971.105065873076!2d-87.62611649999995!3d41.86908589999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2c9bb5532bd3%3A0x6629a25ea0b3cfe4!2s1104+S+Wabash+Ave%2C+Chicago%2C+IL+60605!5e0!3m2!1sen!2sus!4v1422745233180")

        %h3 Where to Park?

        %p There are several easy-access <a href="http://www.parkwhiz.com/search/?destination=1104+S+Wabash+Ave%2C+Chicago%2C+IL+60605%2C+USA" rel="nofollow">parking garages</a> available in the surrounding blocks.

        %h3 Where to Stay?

        %p Coming from out of town? There are a lot of <a href="https://goo.gl/maps/ClTXy" rel="nofollow">hotels in the surrounding area</a> that may work well for you and we have already done the searching for you!

%section.main-content
  .container

    %h3.h-section Sponsorship Opportunities

    %p We want to be the easiest partner you&#8217;ve ever worked with&#8211;even at the traditional conference level! With that as our guiding mantra, all of our Prototypes, Process &amp; Play sponsorships are $1,500.

    %p Prototypes, Process &amp; Play has many different options available that are comparable to any other large scale event, and we&#8217;re happy to work with you to create something custom to meet your needs! We&#8217;ve got a great event planned and we&#8217;d love to talk to you about how we can partner with you!

    %p If you&#8217;re interested in sponsoring Prototypes, Process &amp; Play and getting in front of the people who are driving the future of design, <a href="/contact/">contact us</a> or download our Sponsorship Packet.
