---
title: Mobile Camp
date: 2015-04-18 01:00 CDT
category: events
alias: mobile-camp
header_image_photographer: Scott Cresswell
header_image_url: https://flic.kr/p/iVvY69
summary: Mobile Camp gets you up to speed on the mobile issues you need to know! Spend a Saturday with us and then spend your Monday applying what you&#8217;ve learned!
---

- keynotes = ["Dylan Richard", "Kathi Kaiser"]
- speakers = ["Alyssa Burke", "Ashley Phillips", "Brian Lee", "Mark McEahern", "Mark Meeker", "Sharon Bautista", "Will Hacker", "Zac Siegel"]

%nav.event-nav.group(data-js="event-nav")
  .container
    %ul.event-nav-content
      %li.event-nav-title
        %a(href="#top" rel="nofollow") Mobile Camp
      %li
        %a(href="#details" rel="nofollow") Details
      %li
        %a(href="#keynotes" rel="nofollow") Keynotes
      %li
        %a(href="#schedule" rel="nofollow") Schedule
      %li
        %a(href="#speakers" rel="nofollow") Speakers
      %li
        %a(href="#location" rel="nofollow") Location

%section#details.main-content
  .container

    %h3.h-section Details

    %h2 Mobile Camp gets you up to speed on the mobile issues you need to know! Spend a Saturday with us and then spend your Monday applying what you&#8217;ve learned!

    %p Mobile Camp dedicates a full day to bring together Designers, Developers, and anyone else who is interested in leveling-up their mobile skills.

    %p It&#8217;s more than smaller screens. Come learn with us!

%section#keynotes.main-content.main-bg-alt
  .container

    %h3.h-section Keynotes

    = partial "partials/events/speakers", locals: {speakers: keynotes}

%section#schedule.main-content.main-bg-highlight
  .container

    %h3.h-section Schedule

    %table.event-schedule

      %tr
        %th
          %time(datetime="2014-09-13T08:30") 8:30
          &#8212;
          %time(datetime="2014-09-13T09:00") 9:00
        %td.event-schedule-offset(colspan="2") Registration &amp; Breakfast

      %tr
        %th
          %time(datetime="2014-09-13T09:00") 9:00
          &#8212;
          %time(datetime="2014-09-13T09:45") 9:45
        %td(colspan="2")
          %a(href="#kathi-kaiser" rel="nofollow")
            %strong.event-schedule-room(data-room="Blue") Kathi Kaiser
          .event-schedule-offset Morning Keynote

      %tr
        %th
          %time(datetime="2014-09-13T09:45") 9:45
          &#8212;
          %time(datetime="2014-09-13T10:00") 10:00
        %td.event-schedule-offset(colspan="2") Morning Break

      %tr
        %th Rooms
        %td
          %strong Blue
          %span.event-schedule-offset (Main)
        %td
          %strong Red
      
      %tr
        %th
          %time(datetime="2014-09-13T10:00") 10:00
          &#8212;
          %time(datetime="2014-09-13T10:45") 10:45
        %td
          %a(href="#mark-meeker" rel="nofollow")
            %strong.event-schedule-room(data-room="Blue") Mark Meeker
          .event-schedule-offset Building a Mobile Device Lab
        %td
          %a(href="#mark-mceahern" rel="nofollow")
            %strong.event-schedule-room(data-room="Red") Mark McEahern
          .event-schedule-offset Getting Started with the Ionic Framework
      
      %tr
        %th
          %time(datetime="2014-09-13T10:45") 10:45
          &#8212;
          %time(datetime="2014-09-13T11:00") 11:00
        %td.event-schedule-offset(colspan="2") Break
      
      %tr
        %th
          %time(datetime="2014-09-13T11:00") 11:00
          &#8212;
          %time(datetime="2014-09-13T11:45") 11:45
        %td
          %a(href="#sharon-bautista" rel="nofollow")
            %strong.event-schedule-room(data-room="Blue") Sharon Bautista
          .event-schedule-offset The New Frontiers of User Research <br> (or What Your Digital Wallet Says About You)
        %td
          %a(href="#zac-siegel" rel="nofollow")
            %strong.event-schedule-room(data-room="Red") Zac Siegel
          .event-schedule-offset Animation Nation!
      
      %tr
        %th
          %time(datetime="2014-09-13T11:45") 11:45
          &#8212;
          %time(datetime="2014-09-13T13:15") 1:15
        %td.event-schedule-offset(colspan="2") Lunch
      
      %tr
        %th
          %time(datetime="2014-09-13T13:15") 1:15
          &#8212;
          %time(datetime="2014-09-13T14:00") 2:00
        %td
          %a(href="#will-hacker" rel="nofollow")
            %strong.event-schedule-room(data-room="Blue") Will Hacker
          .event-schedule-offset Material Design: It&#8217;s a Whole New Language
        %td
          %a(href="#ashley-phillips" rel="nofollow")
            %strong.event-schedule-room(data-room="Red") Ashley Phillips
          .event-schedule-offset Think Globally, Develop Locally: <br> What International Users (Should) Mean to You
      
      %tr
        %th
          %time(datetime="2014-09-13T14:00") 2:00
          &#8212;
          %time(datetime="2014-09-13T14:15") 2:15
        %td.event-schedule-offset(colspan="2") Break
      
      %tr
        %th
          %time(datetime="2014-09-13T14:15") 2:15
          &#8212;
          %time(datetime="2014-09-13T15:00") 3:00
        %td
          %a(href="#alyssa-burke" rel="nofollow")
            %strong.event-schedule-room(data-room="Blue") Alyssa Burke
          .event-schedule-offset The Battle of the Smartwatches
        %td
          %a(href="#brian-lee" rel="nofollow")
            %strong.event-schedule-room(data-room="Red") Brian Lee
          .event-schedule-offset Android: Be Together. Not the Same.
      
      %tr
        %th
          %time(datetime="2014-09-13T15:00") 3:00
          &#8212;
          %time(datetime="2014-09-13T15:30") 3:30
        %td.event-schedule-offset(colspan="2") Afternoon Snack
      
      %tr
        %th
          %time(datetime="2014-09-13T15:30") 3:30
          &#8212;
          %time(datetime="2014-09-13T16:15") 4:15
        %td(colspan="2")
          %a(href="#dylan-richard" rel="nofollow")
            %strong.event-schedule-room(data-room="Blue") Dylan Richard
          .event-schedule-offset Afternoon Keynote

      %tr
        %th
          %time(datetime="2014-09-13T16:15") 4:15
          &#8212;
          %time(datetime="2014-09-13T16:30") 4:30
        %td.event-schedule-offset(colspan="2") Closing Ceremonies

%section#speakers.main-content.main-bg-alt
  .container

    %h3.h-section Speakers

    - content_for :talk_alyssa_burke do

      %h3 The Battle of the Smartwatches

      %p With the recent announcement of the Apple Watch, along with Android Wear rapidly evolving, the popularity of the smartwatch is at an all-time high. Learn the commonalities and differences between these two platforms as means to enhance the smartwatch user experience &#8211; from understanding design trends for each operating system, to utilizing the constraints of these small devices.

    - content_for :talk_ashley_phillips do

      %h3 Think Globally, Develop Locally: What International Users (Should) Mean to You

      %p As the world gets smaller, the universe of mobile users is getting bigger. Mobile devices outnumber the world&#8217;s population, yet as we design and develop apps from our stateside offices, couches and coffee shops, we often forget about consumers in other countries. In this session, we&#8217;ll talk about how to design for other cultures, what our products lose when we don&#8217;t and how to find inspiration in the incredible mobile experiences made for international audiences.

    - content_for :talk_brian_lee do

      %h3 Android: Be Together. Not the Same.

      %p It shouldn&#8217;t really matter if an app&#8217;s running on Android, iOS, or web. Each app should work together to provide a seamless experience to the user. But this doesn&#8217;t mean that they should be the same. We should embrace the platform and take advantage of the unique features that each platform provides.

      %p In this session, we will go over some main concepts and elements that are unique to Android. We will identify the difference between dp and pixels, explore back buttons and app navigation, and highlight some cool features that exist in Android. I will also share what worked out great when working together with designers, based on my experience as an Android developer.

    - content_for :talk_mark_mceahern do

      %h3 Getting Started with the Ionic Framework
      
      %p Native app development is hard. You want to take advantage of the unique features of the mobile device, and you want your app to look and feel appropriate to each target platform. One approach to this is to have separate development efforts for each platform with an iOS team and with an Android team. Another approach is to use a framework that lets you build a hybrid mobile app. Ionic is one such framework. Ionic is an HTML5 mobile app development framework targeted at building hybrid mobile apps.

      %p In this session, we&#8217;ll explore Ionic. We&#8217;ll cover at a high level what Ionic is, how it leverages Cordova, and the basics of creating and developing an Ionic app. We&#8217;ll see how to share an app with Ionic view. We&#8217;ll look at debugging and testing an Ionic app, both locally and on a real device. By the end of this session, you&#8217;ll have a really good feel for what Ionic is and hopefully you&#8217;ll try it out yourself!

    - content_for :talk_mark_meeker do

      %h3 Building a Mobile Device Lab
      
      %p Each new release of the latest phone or tablet comes with it the need to guarantee your site will work on it. All the different devices, screen sizes, browsers and operating systems make it impossible to test everything. Yet nothing compares to pinching and scrolling on a physical device and seeing how your code reacts.

      %p In this session, we&#8217;ll look at what to consider when building a test lab of devices on a limited budget, how to make it as usable as possible for your team, and what tools can help with testing when a physical device either isn&#8217;t available or even an option.

    - content_for :talk_sharon_bautista do

      %h3 The New Frontiers of User Research (or What Your Digital Wallet Says About You)

      %p Once upon a time, people carried physical wallets that contained personal identification, cash, credit cards, photos of loved ones, and perhaps a Blockbuster card. Times have clearly changed. Blockbuster is long gone, and now with our physical wallets, many of us also carry smartphones with native functionality and downloaded apps that give ever richer meaning to the notion of digital wallets. 

      %p In this session, I will draw on this particular straddling between the physical and digital to discuss new opportunities and challenges for user research focused on mobile experiences. I will share stories of what happened when I asked people to open their wallets to me and the lessons I learned about observation, qualitative interviewing, documentation, and empathy.

    - content_for :talk_will_hacker do

      %h3 Material Design: It&#8217;s a Whole New Language

      %p This talk is an introduction to Material Design, Google&#8217;s new visual design and interaction language for cross-platform applications. 

      %p Material Design has been introduced in various Google web apps and in Android 5 (Lollipop). Material Design is more than a visual pattern language; it also address interaction patterns, motion and animations, and transitions between on-screen states. On the ever-evolving continuum of approaches to design, Material Design is the next step on a journey that has already taken designers from skeuomorphism to flat design. Learn from examples drawn from real applications about the principals behind Material Design and how it adds a new dimension to how we conceive user experiences.

    - content_for :talk_zac_siegel do

      %h3 Animation Nation!

      %p Animations are an excellent way to add more personality to great design. Often times however translating static deliverables into meaningful animations can be difficult. Learn how to identify and play with key metrics of your animations to delight and engage your users further.

    = partial "partials/events/speakers", locals: {speakers: speakers}

= partial "partials/events/location-harrington"
