---
title: UX Camp
date: 2015-06-06 01:00 CDT
category: events
alias: ux-camp
header_image_photographer: Anne Worner
header_image_url: https://flic.kr/p/fhkjZh
summary: UX Camp is a full day of UX Goodness&#8211;we&#8217;ll leave few topics uncovered and you&#8217;ll learn current topics and improved upon standards in one of the hottest fields today!
---

- sponsors = ["Harrington", "UXPin"]
- keynotes = ["Marcin Treder"]
- speakers = ["Daniel Zarick", "Jared Caponi", "Mike Kornacki", "Nathan Hinshaw", "Travis LaFleur"]

%nav.event-nav.group(data-js="event-nav")
  .container
    %ul.event-nav-content
      %li.event-nav-title
        %a(href="#top" rel="nofollow") UX Camp
      %li
        %a(href="#details" rel="nofollow") Details
      %li
        %a(href="#keynotes" rel="nofollow") Keynotes
      %li
        %a(href="#schedule" rel="nofollow") Schedule
      %li
        %a(href="#speakers" rel="nofollow") Speakers
      %li
        %a(href="#location" rel="nofollow") Location

    %a.btn.btn-alt.event-nav-btn(href="https://chicagocamps.ticketleap.com/ux-camp-2015/dates/Jun-06-2015_at_0800AM" rel="nofollow")
      Join Us for
      %strong Only $60

%section#details.main-content
  .container

    %h3.h-section Details

    %h2 UX Camp is a full day of UX Goodness&#8211;we&#8217;ll leave few topics uncovered and you&#8217;ll learn current topics and improved upon standards in one of the hottest fields today!

    %p If you&#8217;re just getting your start in UX and you&#8217;re hoping to learn more, or you&#8217;ve been in the field awhile and want to stay current, UX Camp is for you. A full day&#8211;3 full tracks&#8211;of UX talks, surrounded by impressive keynotes and all for a great price that includes your lunch. 

    %p Should you be interested in speaking please <a href="/proposal/">let us know</a>!

    %p Sign up now&#8211;these tickets go fast!

    .event-cta
      %a.btn.btn-alt(href="https://chicagocamps.ticketleap.com/ux-camp-2015/dates/Jun-06-2015_at_0800AM" rel="nofollow")
        Join Us for Only $60 &#8212; Limited Tickets Available

    %h3 Meet Our Awesome Sponsors
    
    %p These fantastic sponsors are helping us bring this great event to you.

    = partial "partials/events/sponsors", locals: {sponsors: sponsors}

%section#keynotes.main-content.main-bg-alt
  .container

    %h3.h-section Keynotes
    = partial "partials/events/speakers", locals: {speakers: keynotes}

%section#schedule.main-content.main-bg-highlight
  .container

    %h3.h-section Schedule

    %h4 Coming soon!

%section#speakers.main-content.main-bg-alt
  .container

    %h3.h-section Speakers

    %h4 Want to speak? <a href="/proposal/">Submit a proposal.</a>

    - content_for :talk_daniel_zarick do

      %h3 Questioning Default Design Decisions

      %p &#8220;Well, that&#8217;s how [another company] does it.&#8221;

      %p It&#8217;s easy to default to common design patterns when building a product, but that doesn&#8217;t mean those are the right choices for your software. This talk will discuss some of these common patterns and show alternative options.

    - content_for :talk_jared_caponi do

      %h3 Personalities, Politics, Art &amp; Design: The UX Remix of the Guggenheim Museum

      %p The history of the Guggenheim Museum reads more like a modern user experience case study than you might expect. While it&#8217;s earned its place as a celebrated work of architecture and a revered art institution, the story of how it got there is filled with relatable tales right out of the experience design playbook. Within this story, you&#8217;ll recognize the hallmarks of any scrappy start-up from launch to success. Along the way, we&#8217;ll uncover and discuss principles of user centered design, the importance of strategic pivots, how constraints create problems and opportunities, and managing change in organizational politics.

      %p The Guggenheim Museum story takes many fascinating twists and turns from it&#8217;s humble origins as a small, focused collection in a New York City apartment to it&#8217;s current iteration as a diverse global art institution that oversees one of the preeminent modern art collections of the world. In this talk we will look at decisions, characters, problems and evolution points in the museum&#8217;s history that have parallels to, and contain lessons for, the practice of modern day user experience.

    - content_for :talk_mike_kornacki do

      %h3 Experience Innovation &#8212; The New Design Imperative
       
      %p Experience innovation is becoming the most important element in smart companies product lifecycle. They are starting to use experience innovation to remain relevant and retain customer loyalty. Companies like Uber, Delta Airlines, Disney and Nike, to name a few, are figuring out ways to create signature moments that delight users and create significant opportunities for growth. They have learned how to look beyond their products to and see the broader experience their customers have when using their products and services. 

      %p I have come up with a list of 6 ways UXers can do to get our clients or our companies we work for to start innovating experiences. I will share with you examples of how others have done it and how I have led a UX team in a giant engineering organization like Johnson Controls to innovate and impact our business directly. Ultimately we need to start doing this for the companies we work for or for our clients. Experience innovation is not a new idea and it only a matter of time before your company&#8217;s or client&#8217;s competition figures it out.

    - content_for :talk_nathan_hinshaw do

      %h3 Designing Digital Communities

      %p As the architectural complexities and user expectations of websites continue to evolve, viewing them as the communities that they are&#8211;or can become&#8211;is increasingly important to both their sustainability and success. How do we as technologists design, build, and maintain these properties; while also evolving the tools we use to support them? 

      %p We&#8217;ll look at:

      %ul.list-ul
        %li Design patterns, development processes and feedback cycles
        %li How Threadless has worked to foster collaboration between users and developers by encouraging both active and passive participation
        %li How to best leverage a community&#8217;s shared assets, inspiration, and potential, with the intention of creating digital spaces that promote users&#8217; sense of inclusion and satisfaction
        %li Looking at existing real world design patterns (e.g. universal iconography and visual wayfinding) as a means of creating more accessible user experiences in a digital space
        %li Responsible development: pushing design and technology forward without dragging users behind you

    - content_for :talk_travis_lafleur do

      %h3 WHAT Before HOW: Practical, Lo-fi Tools for Alignment, Planning, &amp; Understanding

      %p Budgets and deadlines often push us toward making and doing before we have a shared understanding of the problem space. Here we will explore a handful of lightweight techniques from an information architecture perspective that can compliment your existing UX toolkit. 

      %p These approaches will help frame your design activities first in terms of WHAT would be good to do, setting you up to create even better HOWs. 

    = partial "partials/events/speakers", locals: {speakers: speakers}

= partial "partials/events/location-harrington"
