---
title: Prototypes, Process &amp; Play
date: 2015-08-06 01:00 CDT
category: events
alias: prototypes-process-play
duration: August 6&#8211;7, 2015
location: Columbia College Film Row &ndash; Chicago
summary: Learn design leadership skills from Adaptive Path, Public Good Software, Google Ventures, and the Chicago Bulls&#8211;just to name a few!
---
- sponsors = ["Balsamiq", "Columbia College", "Mailchimp", "Terminus Threads"]
- speakers = ["Andrea Mignolo", "Braden Kowitz", "Carl Smith", "Denise Jacobs", "Dustin DiTommaso", "Hannah Donovan", "J Cornelius", "Jason Kunesh", "Jen Myers", "Jesse James Garrett", "Laralyn McWilliams", "Milissa Tarquini", "Dr. Steve Julius", "Dr. Temple Grandin"]

%nav.event-nav.group(data-js="event-nav")
  .container
    %ul.event-nav-content
      %li.event-nav-title
        %a(href="#top" rel="nofollow") Prototypes, Process &amp; Play
      %li
        %a(href="#details" rel="nofollow") Details
      %li
        %a(href="#schedule" rel="nofollow") Schedule
      %li
        %a(href="#speakers" rel="nofollow") Speakers
      %li
        %a(href="#location" rel="nofollow") Location

    %a.btn.btn-alt.event-nav-btn(href="https://chicagocamps.ticketleap.com/prototypes-process-play-2015/dates/Aug-06-2015_at_0900AM" rel="nofollow")
      Join Us Now for
      %strong Only $300

%section#details.main-content
  .container

    %h3.h-section Details

    %h2 Learn design leadership skills from Adaptive Path, Public Good Software, Google Ventures, and the Chicago Bulls&#8211;just to name a few!

    %p We&#8217;ll gain from the wisdom and experience of brilliant professionals who have been there, done that, and have shown others how to do it, too. 

    .event-cta
      %a.btn.btn-alt(href="https://chicagocamps.ticketleap.com/prototypes-process-play-2015/dates/Aug-06-2015_at_0900AM" rel="nofollow")
        Join Us for Now Only $300 &#8212; Ticket Prices Increase Each Month

    %h3 Meet Our Awesome Sponsors
    
    %p These fantastic sponsors are helping us bring this great event to you.

    = partial "partials/events/sponsors", locals: {sponsors: sponsors}

%section#schedule.main-content.main-bg-highlight
  .container

    %h3.h-section Schedule

    %p We&#8217;ve prepared 2 days&#8211;Thursday and Friday, August 6th and 7th&#8211;at Columbia College Chicago that will help you hone and focus your design leadership skills. Come ready to learn, and leave ready to drive the future of design in your organization!

    %table.event-schedule.event-multi-day(data-js="event-multi-day")

      %tr
        %td
        %th.event-multi-day-1 Thursday, August 6th
        %th.event-multi-day-2 Friday, August 7th

      %tr
        %th
          %time(datetime="08:00") 8:00
          &#8212;
          %time(datetime="09:00") 9:00
        %td.event-schedule-offset(colspan="2") Registration &amp; Coffee

      %tr
        %th
          %time(datetime="09:00") 9:00
          &#8212;
          %time(datetime="09:15") 9:15
        %td(colspan="2")
          %strong Welcome to Prototypes, Process &amp; Play

      %tr
        %th
          %time(datetime="09:15") 9:15
          &#8212;
          %time(datetime="10:00") 10:00
        %td.event-multi-day-1
          %a(href="#temple-grandin" rel="nofollow")
            %strong Dr. Temple Grandin
          .event-schedule-offset Keynote
        %td.event-multi-day-2
          %a(href="#steve-julius" rel="nofollow")
            %strong Dr. Steve Julius
          .event-schedule-offset Keynote

      %tr
        %th
          %time(datetime="10:00") 10:00
          &#8212;
          %time(datetime="10:45") 10:45
        %td.event-multi-day-1
          %a(href="#denise-jacobs" rel="nofollow")
            %strong Denise Jacobs
          .event-schedule-offset Creativity Imperative
        %td.event-multi-day-2
          %a(href="#laralyn-mcwilliams" rel="nofollow")
            %strong Laralyn McWilliams
          .event-schedule-offset The Right Way to Be Wrong

      %tr
        %th
          %time(datetime="10:45") 10:45
          &#8212;
          %time(datetime="11:15") 11:15
        %td.event-schedule-offset(colspan="2") Morning Break

      %tr
        %th
          %time(datetime="11:15") 11:15
          &#8212;
          %time(datetime="12:00") 12:00
        %td.event-multi-day-1
          %a(href="#braden-kowitz" rel="nofollow")
            %strong Braden Kowitz
          .event-schedule-offset Design What Really Matters
        %td.event-multi-day-2
          %a(href="#j-cornelius" rel="nofollow")
            %strong J Cornelius
          .event-schedule-offset Redesign Our Design Thinking

      %tr
        %th
          %time(datetime="12:00") 12:00
          &#8212;
          %time(datetime="13:30") 1:30
        %td.event-schedule-offset(colspan="2") Lunch Break

      %tr
        %th
          %time(datetime="13:30") 1:30
          &#8212;
          %time(datetime="13:45") 1:45
        %td.event-multi-day-1
          %a(href="#jen-myers" rel="nofollow")
            %strong Jen Myers
          .event-schedule-offset Cartoon Creativity: What I Learned from Chuck Jones
        %td.event-multi-day-2
          %strong Speaker TBA

      %tr
        %th
          %time(datetime="13:50") 1:50
          &#8212;
          %time(datetime="14:05") 2:05
        %td.event-multi-day-1
          %a(href="#dustin-ditommaso" rel="nofollow")
            %strong Dustin DiTommaso
          .event-schedule-offset Talk TBA
        %td.event-multi-day-2
          %a(href="#jason-kunesh" rel="nofollow")
            %strong Jason Kunesh
          .event-schedule-offset How to be a Designer CEO at a Startup without Being a Jerk

      %tr
        %th
          %time(datetime="14:15") 2:15
          &#8212;
          %time(datetime="15:00") 3:00
        %td.event-multi-day-1
          %a(href="#hannah-donovan" rel="nofollow")
            %strong Hannah Donovan
          .event-schedule-offset Sometimes You Need to Draw Animals
        %td.event-multi-day-2
          %a(href="#andrea-mignolo" rel="nofollow")
            %strong Andrea Mignolo
          .event-schedule-offset So You&#8217;ve Got A Seat At the Table. Now What?

      %tr
        %th
          %time(datetime="15:00") 3:00
          &#8212;
          %time(datetime="15:30") 3:30
        %td.event-schedule-offset(colspan="2") Afternoon Break

      %tr
        %th
          %time(datetime="15:30") 3:30
          &#8212;
          %time(datetime="16:15") 4:15
        %td.event-multi-day-1
          %a(href="#milissa-tarquini" rel="nofollow")
            %strong Milissa Tarquini
          .event-schedule-offset Design Organization du Jour
        %td.event-multi-day-2
          %a(href="#carl-smith" rel="nofollow")
            %strong Carl Smith
          .event-schedule-offset Lessons from the Lemonade Stand
      
      %tr
        %th
          %time(datetime="16:15") 4:15
          &#8212;
          %time(datetime="17:00") 5:00
        %td.event-multi-day-1
          %strong Keynote TBA
        %td.event-multi-day-2
          %a(href="#jesse-james-garrett" rel="nofollow")
            %strong Jesse James Garrett
          .event-schedule-offset Keynote

      %tr
        %td
        %td.event-multi-day-1
          %strong Happy Hour &amp; Experience Panel 
        %td.event-multi-day-2
          %strong Closing Ceremonies 

%section#speakers.main-content.main-bg-alt
  .container

    %h3.h-section Speakers

    %p We&#8217;ve meticulously curated professionals who are a mix of strong design leaders, leadership mentors and coaches from other fields, and aspiring design leaders who are forging their own path. Our line-up will inspire you and provide you with techniques and tools to help you down your own leadership path.

    %p We&#8217;re very excited for you to meet our speakers!

    - content_for :talk_andrea_mignolo do

      %h3 So You&#8217;ve Got A Seat At the Table. Now What?

      %p In recent years we&#8217;ve seen an emergence of design-led and design driven companies. Breathless articles in technology blogs herald the rise of design as the new competitive differentiator while titles like Chief Experience Officer and Chief Design Officer are becoming more common across companies big and small. In light of these trends, it&#8217;s generally accepted that design finally has a seat at the table. 

      %p But getting to the table is just the beginning &#8212; what happens next brings with it an entirely new and different set of challenges. Drawing from both my own experience as well as others, we&#8217;ll take a look at what the world looks like once you&#8217;re at the table, the types of challenges you&#8217;ll come across, and some practical methods for handling them.

    - content_for :talk_braden_kowitz do

      %h3 Design What Really Matters
      
      %p Designers love to delight customers with look and feel. But if a product doesn&#8217;t solve a real problem, customers won&#8217;t care how pretty it is. For design to be effective in a business, it needs to move beyond surface-level work and contribute to the very core of how products are developed.

      %p This is a pragmatic talk about how designers can work differently to have a stronger role in product development. We&#8217;ll see how slowing down can help you move faster. We&#8217;ll look at ugly design that leads to great products. And we&#8217;ll learn how a careful design process can help companies take big leaps safely.

    - content_for :talk_carl_smith do

      %h3 Lessons from the Lemonade Stand
      
      %p Kids are better entrepreneurs than we are. They show up excited, listen to their customers and make sure everyone is happy. But something happens as they grow up. Kids lose their enthusiasm and ability to empathize. Then they become us. Super busy adults, always tired, cranky and never having enough time to do a good job. Why does this happen and how can we get that fun swagger of our youth back? The answers may delight you.

    - content_for :talk_denise_jacobs do

      %h3 Creativity Imperative
      
      %p Creativity and innovation are now hailed as the most important contributors to the growth of the economy. It&#8217;s imperative that environments are structured so creativity and innovation can thrive. Good news: laying the foundation is easier than you think. Discover the four directives to enhance engagement, reignite passion, and amp up meaningful contribution &#8212; enabling you, your team, and your company to develop and deliver fantastic products and services.

    - content_for :talk_hannah_donovan do

      %h3 Sometimes You Need to Draw Animals
      
      %p This is my story of going to the edge of burnout and back again. When I quit my first startup job in 2011, I did so thinking I might not be able to make anything ever again. Since then, I&#8217;ve devoted most of my personal time to working on this as a design problem.

      %p As people who make things, burnout &#8212; and the inevitable sequel to it, maker&#8217;s block &#8212; is something we all face. It might be big, it might be small, mine was pretty big. I&#8217;ll share my favourite tools for solving and preventing burnout, as well as what factors contributed to it in the first place.

      %p (There will also be drawings of animals.)

    - content_for :talk_j_cornelius do

      %h3 Redesign Our Design Thinking

      %p Design is beautiful and beautiful things are well-designed. While this is true, it isn&#8217;t the whole truth&#8212;aesthetics definitely are NOT everything. Sometimes the best design isn&#8217;t what you think, and we need to leave our design aesthetic ego at the door and focus on positive outcomes for the user.

      %p This talk will challenge your assumptions about what great design is, and discuss ideas about how we can be better designers by focusing on process, function, and outcomes instead of visuals.

    - content_for :talk_jason_kunesh do

      %h3 How to be a Designer CEO at a Startup without Being a Jerk

      %p As designers we&#8217;re told to practice empathy, learning our users&#8217; habits, unspoken needs, and desires. We use that knowledge to inform the design of a product intended to delight people. As CEOs, the skills we celebrate are different. Ford, Jobs, Elon Musk and more were known as ego-driven steamrollers who pushed people to the brink all the time.

      %p Here&#8217;s what I&#8217;ve learned from my time at Public Good about running a business, owning product, and empowering our team to do great work. All without being an a-hole. Most of the time.

    - content_for :talk_jen_myers do

      %h3 Cartoon Creativity: What I Learned from Chuck Jones

      %p Lessons sometimes come from unlikely sources, which is why one of modern history&#8217;s richest sources of inspiration for creativity, leadership and culture-building often goes overlooked: the mid-twentieth-century animator Chuck Jones, otherwise known as one of the fathers of Bugs Bunny and a myriad of other Warner Brothers cartoon characters. The environment he worked in grew out of an unique mix of talent, philosophy and pragmatism that all industries and artists alike can learn from. Plus: cartoons. So who wouldn&#8217;t want to learn how to work like he did? Let&#8217;s find out how.

    - content_for :talk_laralyn_mcwilliams do

      %h3 The Right Way to Be Wrong

      %p You&#8217;ve spent some time with your design: planned it out, walked through it in your head. You&#8217;ve even tackled the edge cases, working up how to handle them or prove they won&#8217;t be an issue. Now it&#8217;s time to present to the team, and the time-honored tradition of &#8220;defending your design.&#8221; No worries: you&#8217;re prepared because you&#8217;re absolutely confident this is the right approach.

      %p Except you&#8217;re wrong. And not just a little wrong&#8212;pants-on-head, holy crap, crawl under a rock wrong. Think that&#8217;s scary? Here&#8217;s the truly frightening thing: you may be so intent on defending your design that you ignore or dismiss all the people saying you&#8217;re wrong and plow on ahead. You may do this for months, or even years. 

      %p A good captain may go down with the ship, but a good designer is never so confident in her own ideas that she can&#8217;t take a step back to listen and re-evaluate. How can we develop or hone the objectivity we need to remain open to criticism&#8212;and to admitting when we&#8217;ve been wrong? This frank talk includes signs that may mean you&#8217;re not listening, and ideas for ways to take a step back and honestly evaluate your design. Let&#8217;s learn not just to admit we&#8217;re wrong, but to embrace it as a critical part of successful design!

    - content_for :talk_milissa_tarquini do

      %h3 Design Organization du Jour: The Best&#8211;and Worst&#8211;of Your Favorite Design Org Structures!

      %p Companies reorganize all the time, and when that happens it&#8217;s easy to feel scared, threatened, or even like it&#8217;s time for you to move on to more stable pastures. Fear not! Embrace your inner designer / honey badger and stop worrying about who will sit where and how teams may line up. There is no organizational structure that can break your spirit or marginalize your skill when you learn from my hard-earned lessons in the field!

      %p As empaths for users and observers of patterns, many designers are bound to notice to the rhythms of reorganization at the companies where they work. Companies may swing between centralization and decentralization in a reactive cycle, often throwing in new and/or removing processes along the way. Teams can be left confused and concerned about their futures. Gossip goes through the roof. Morale plummets.

      %p I&#8217;m here to tell you that it&#8217;s not your fault that the org chart got crazy. Learn from my experience of going through approximately 27 gazillion re-orgs—along with current research on design organizations, to show you the signs of a coming re-org, how to navigate them and lead your team through them in order to insure that the craft of design is not marginalized during the reign of any particular org chart.

      %p And don&#8217;t worry, it will all change in a year or two anyway. Luckily you&#8217;ll be ready.

    - content_for :talk_steve_julius do

      %h3 All of Us Are Smarter Than Some of Us: How to Harness Your Team&#8217;s Collective Intelligence
      
      %p Until relatively recently, innovation was considered the domain of a select few &#8220;gifted&#8221; thinkers who sit alone in their garage or some other mountaintop developing their insights in isolation. In fact, the very idea of a group of people coming together to create something game-changing was thought to result more often in mediocre outcomes due to the drag of &#8220;group think.&#8221;

      %p No longer. And the good news is that everyone possesses the capacity for break through thinking and results that truly matter. Innovation is the lifeblood of all things and occurs when people add tangible value or benefit to others through the conversion and implementation of new ideas.

      %p We have entered the age of collective wisdom; an era where it is recognized that paradigm shifting innovation requires cooperation within an ecosystem of diverse talents and creative styles. Dr. Steve Julius, a clinical psychologist and entrepreneur, will explain and demonstrate how to marshal and lead our natural desire to engage, contribute and act collaboratively in ways that allow for perceiving new possibilities and status quo changing actions.

    = partial "partials/events/speakers", locals: {speakers: speakers}

%section#location.main-content
  .container

    %h3.h-section Location

    %h2
      Columbia College Film Row
      .lineup
        %a.a-chevron-right(href="https://goo.gl/maps/Vp7xk") 1104 South Wabash Avenue, 8th Floor, Chicago, IL 60605

    %p We are big fans of our venue and sponsor: Columbia College in Chicago. Columbia is a great place to learn and upgrade your design skills and we&#8217;re excited to host our inaugural Prototypes, Process &amp; Play with them!

    .grid

      .event-location-venue
        .event-location-media
          %figure= image_tag "events/locations/columbia-college.jpg", class: "frame", alt: "Columbia College"

        %h3 About Columbia College

        %p Columbia College Chicago is an institution of higher education specializing in arts and media disciplines, with nearly 12,000 students pursuing degrees within 120 undergraduate and graduate programs.

        %p Check out <a href="http://www.colum.edu/" rel="nofollow">Columbia College</a>.

      .event-location-area
        .event-location-media
          %figure
            %iframe.frame(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2971.105065873076!2d-87.62611649999995!3d41.86908589999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2c9bb5532bd3%3A0x6629a25ea0b3cfe4!2s1104+S+Wabash+Ave%2C+Chicago%2C+IL+60605!5e0!3m2!1sen!2sus!4v1422745233180")

        %h3 Where to Park?

        %p There are several easy-access <a href="http://www.parkwhiz.com/search/?destination=1104+S+Wabash+Ave%2C+Chicago%2C+IL+60605%2C+USA" rel="nofollow">parking garages</a> available in the surrounding blocks.

        %h3 Where to Stay?

        %p Coming from out of town? There are a lot of <a href="https://goo.gl/maps/ClTXy" rel="nofollow">hotels in the surrounding area</a> that may work well for you and we have already done the searching for you!

%section.main-content
  .container

    %h3.h-section Sponsorship Opportunities

    %p We want to be the easiest partner you&#8217;ve ever worked with&#8211;even at the traditional conference level! With that as our guiding mantra, all of our Prototypes, Process &amp; Play sponsorships are $1,500.

    %p Prototypes, Process &amp; Play has many different options available that are comparable to any other large scale event, and we&#8217;re happy to work with you to create something custom to meet your needs! We&#8217;ve got a great event planned and we&#8217;d love to talk to you about how we can partner with you!

    %p If you&#8217;re interested in sponsoring Prototypes, Process &amp; Play and getting in front of the people who are driving the future of design, <a href="/contact/">contact us</a> or download our Sponsorship Packet.
