---
title: Workshop Workshop
date: 2015-02-07 01:00 CDT
category: events
---

%p You have attended workshops, you have seen them masterfully commanded by other people, and you really want to get a handle on doing this workshop thing yourself. This workshop is the workshop that will help you create and facilitate a workshop of your very own, be it for your teams or your clients. READMORE
