---
title: UX Camp
date: 2015-06-06 01:00 CDT
category: events
alias: ux-camp
header_image_photographer: Anne Worner
header_image_url: https://flic.kr/p/fhkjZh
summary: UX Camp is a full day of UX Goodness&#8211;we&#8217;ll leave few topics uncovered and you&#8217;ll learn current topics and improved upon standards in one of the hottest fields today!
---

- sponsors = ["Harrington", "Software for Good", "UXPin"]
- keynotes = ["Anna van Slee", "Carolyn Chandler", "Marcin Treder"]
- speakers = ["Ameeda Chowdhury", "Beth McKeever", "Carl Beien", "Courtney Roberts", "Daniel Zarick", "Dimple Rao", "Ryan Wynia", "Jared Caponi", "Jeff Eaton", "Kamaria Campbell", "Mike Kornacki", "Natalie Kurz", "Nathan Hinshaw", "Travis LaFleur"]

%nav.event-nav.group(data-js="event-nav")
  .container
    %ul.event-nav-content
      %li.event-nav-title
        %a(href="#top" rel="nofollow") UX Camp
      %li
        %a(href="#details" rel="nofollow") Details
      %li
        %a(href="#keynotes" rel="nofollow") Keynotes
      %li
        %a(href="#schedule" rel="nofollow") Schedule
      %li
        %a(href="#speakers" rel="nofollow") Speakers
      %li
        %a(href="#location" rel="nofollow") Location

%section#details.main-content
  .container

    %h3.h-section Details

    %h2 UX Camp is a full day of UX Goodness&#8211;we&#8217;ll leave few topics uncovered and you&#8217;ll learn current topics and improved upon standards in one of the hottest fields today!

    %p If you&#8217;re just getting your start in UX and you&#8217;re hoping to learn more, or you&#8217;ve been in the field awhile and want to stay current, UX Camp is for you. A full day&#8211;3 full tracks&#8211;of UX talks, surrounded by impressive keynotes and all for a great price that includes your lunch. 

    %p Sign up now&#8211;these tickets go fast!

    %h3 Meet Our Awesome Sponsors
    
    %p These fantastic sponsors are helping us bring this great event to you.

    = partial "partials/events/sponsors", locals: {sponsors: sponsors}

%section#keynotes.main-content.main-bg-alt
  .container

    %h3.h-section Keynotes
    = partial "partials/events/speakers", locals: {speakers: keynotes}

%section#schedule.main-content.main-bg-highlight
  .container

    %h3.h-section Schedule

    %table.event-schedule

      %tr
        %th
          %time(datetime="2015-06-06T08:30") 8:30
          &#8212;
          %time(datetime="2015-06-06T09:00") 9:00
        %td.event-schedule-offset(colspan="3") Registration &amp; Breakfast

      %tr
        %th
          %time(datetime="2015-06-06T09:00") 9:00
          &#8212;
          %time(datetime="2015-06-06T09:45") 9:45
        %td(colspan="3")
          %a(href="#anna-van-slee" rel="nofollow")
            %strong.event-schedule-room(data-room="Blue") Anna van Slee &amp; Carolyn Chandler
          .event-schedule-offset Morning Keynote

      %tr
        %th
          %time(datetime="2015-06-06T09:45") 9:45
          &#8212;
          %time(datetime="2015-06-06T10:00") 10:00
        %td.event-schedule-offset(colspan="3") Morning Break

      %tr
        %th Rooms
        %td
          %strong Blue
          %span.event-schedule-offset (Main)
        %td
          %strong Red
        %td
          %strong Yellow

      %tr
        %th
          %time(datetime="2015-06-06T10:00") 10:00
          &#8212;
          %time(datetime="2015-06-06T10:45") 10:45
        %td
          %a(href="#ameeda-chowdhury" rel="nofollow")
            %strong.event-schedule-room(data-room="Blue") Ameeda Chowdhury
          .event-schedule-offset Designing Learning That Sticks: Collaborating with Users to Redefine the Engagement Problem
        %td
          %a(href="#jared-caponi" rel="nofollow")
            %strong.event-schedule-room(data-room="Red") Jared Caponi
          .event-schedule-offset Personalities, Politics, Art &amp; Design: The UX Remix of the Guggenheim Museum
        %td
          %a(href="#natalie-kurz" rel="nofollow")
            %strong.event-schedule-room(data-room="Yellow") Natalie Kurz
          .event-schedule-offset The Unwitting Content Strategist
      
      %tr
        %th
          %time(datetime="2015-06-06T10:45") 10:45
          &#8212;
          %time(datetime="2015-06-06T11:00") 11:00
        %td.event-schedule-offset(colspan="3") Break
      
      %tr
        %th
          %time(datetime="2015-06-06T11:00") 11:00
          &#8212;
          %time(datetime="2015-06-06T11:45") 11:45
        %td
          %a(href="#daniel-zarick" rel="nofollow")
            %strong.event-schedule-room(data-room="Blue") Daniel Zarick
          .event-schedule-offset Questioning Default Design Decisions
        %td
          %a(href="#beth-mckeever" rel="nofollow")
            %strong.event-schedule-room(data-room="Red") Beth McKeever
          .event-schedule-offset The 4 Fool-Proof Steps to Becoming a UX Professional
        %td
          %a(href="#mike-kornacki" rel="nofollow")
            %strong.event-schedule-room(data-room="Yellow") Mike Kornacki
          .event-schedule-offset Experience Innovation &#8212; The New Design Imperative

      %tr
        %th
          %time(datetime="2015-06-06T11:45") 11:45
          &#8212;
          %time(datetime="2015-06-06T13:00") 1:00
        %td.event-schedule-offset(colspan="3") Lunch
      
      %tr
        %th
          %time(datetime="2015-06-06T13:00") 1:00
          &#8212;
          %time(datetime="2015-06-06T13:45") 1:45
        %td
          %a(href="#carl-beien" rel="nofollow")
            %strong.event-schedule-room(data-room="Blue") Carl Beien &amp; Courtney Roberts
          .event-schedule-offset Maximizing UX Research: In-house vs. Consulting
        %td
          %a(href="#kamaria-campbell" rel="nofollow")
            %strong.event-schedule-room(data-room="Red") Kamaria Campbell
          .event-schedule-offset Heuristics 101: Understanding &amp; Applying Design Principles
        %td
          %a(href="#travis-lafleur" rel="nofollow")
            %strong.event-schedule-room(data-room="Yellow") Travis LaFleur
          .event-schedule-offset WHAT Before HOW: Practical, Lo-fi Tools for Alignment, Planning, &amp; Understanding

      %tr
        %th
          %time(datetime="2015-06-06T13:45") 1:45
          &#8212;
          %time(datetime="2015-06-06T14:00") 2:00
        %td.event-schedule-offset(colspan="3") Break
      
      %tr
        %th
          %time(datetime="2015-06-06T14:00") 2:00
          &#8212;
          %time(datetime="2015-06-06T14:45") 2:45
        %td
          %a(href="#nathan-hinshaw" rel="nofollow")
            %strong.event-schedule-room(data-room="Blue") Nathan Hinshaw
          .event-schedule-offset Designing Digital Communities
        %td
          %a(href="#dimple-rao" rel="nofollow")
            %strong.event-schedule-room(data-room="Red") Dimple Rao &amp; Ryan Wynia
          .event-schedule-offset From You &amp; Me To We: Re-designing the Product &#8212; UX Partnership
        %td
          %a(href="#jeff-eaton" rel="nofollow")
            %strong.event-schedule-room(data-room="Yellow") Jeff Eaton
          .event-schedule-offset Content Strategy &#8212; Getting It Started!

      %tr
        %th
          %time(datetime="2015-06-06T14:45") 2:45
          &#8212;
          %time(datetime="2015-06-06T15:15") 3:15
        %td.event-schedule-offset(colspan="3") Afternoon Snack
      
      %tr
        %th
          %time(datetime="2015-06-06T15:15") 3:15
          &#8212;
          %time(datetime="2015-06-06T16:00") 4:00
        %td(colspan="3")
          %a(href="#marcin-treder" rel="nofollow")
            %strong.event-schedule-room(data-room="Blue") Marcin Treder
          .event-schedule-offset Afternoon Keynote

      %tr
        %th
          %time(datetime="2015-06-06T16:00") 4:00
          &#8212;
          %time(datetime="2015-06-06T16:15") 4:15
        %td.event-schedule-offset(colspan="3") Closing Ceremonies

%section#speakers.main-content.main-bg-alt
  .container

    %h3.h-section Speakers

    - content_for :talk_ameeda_chowdhury do

      %h3 Designing Learning That Sticks: Collaborating with Users to Redefine the Engagement Problem

      %p Why is it that despite innumerable teens and young adults expressing deep interest in exploring coding and app building, most still struggle to pick it up from the innumerable online and offline learning options available? By collaborating closely with our users from prototyping to now, we discovered that we needed to redefine the users&#8217; problem from &#8220;learning to code&#8221; to &#8220;building immediately useful things with code&#8221;. Additionally, we also learned that users must be able to build from their smartphones and develop a measurable sense of mastery over the concepts. As a result, Grokker.io enables users with no coding background to build immediately useful things with code while learning 

      %p This talk will be about how we created and refined this continuous collaborative design process with our core user community of Chicago area high schoolers, across multiple high schools, with a tiny startup team. We will address the challenges of creating and maintaining this design culture as well as the payoffs, including massively reducing product and market risks. We will also look at how our laser focus on the user&#8217;s ultimate goals allowed us to create resonant and delightful experiences for our users, while also delivering excellent skills acquisition outcomes. 

    - content_for :talk_beth_mckeever do

      %h3 The 4 Fool-Proof Steps to Becoming a UX Professional

      %p UX makes a difference. In this field, you have the ability to radically improve products. Because of your influence, a retailer will make more money, a non-profit will generate more awareness and a product&#8217;s user base will grow. People will enjoy their interaction with software more because of what you craft for them. 

      %p So do you want to become a UX Professional? Join me as I share 4 fool-proof steps to make this dream a reality. You&#8217;ll learn about the variety of skills involved in a UX career, resources to guide you along the way, and ways to break into your local community, or make UX a reality at your current company. 

    - content_for :talk_courtney_roberts do

      %h5.lineup-subtitle.h-sm-caps-gray Carl &amp; Courtney present:

      %h3 Maximizing UX Research: In-house vs. Consulting

      %p UX research provides robust qualitative insight firmly rooted in actual user behavior, but is frequently left out of the user-centered design process. Consequently, products and services often don&#8217;t meet user expectations, and this results in frustration, decreased utilization, and sometimes total abandonment. 

      %p In order to be successful, stakeholders in the development process must understand how to best utilize UX researchers. We will describe how UX researchers engage with projects in two different business contexts: as in-house staff, and as outside consultants. For UX researchers, this is your chance to see what it&#8217;s like on the other side. For everyone else, this presentation will explain how to efficiently harness user research to produce designs that are more successful the first time around. 

    - content_for :talk_daniel_zarick do

      %h3 Questioning Default Design Decisions

      %p &#8220;Well, that&#8217;s how [another company] does it.&#8221;

      %p It&#8217;s easy to default to common design patterns when building a product, but that doesn&#8217;t mean those are the right choices for your software. This talk will discuss some of these common patterns and show alternative options.

    - content_for :talk_jared_caponi do

      %h3 Personalities, Politics, Art &amp; Design: The UX Remix of the Guggenheim Museum

      %p The history of the Guggenheim Museum reads more like a modern user experience case study than you might expect. While it&#8217;s earned its place as a celebrated work of architecture and a revered art institution, the story of how it got there is filled with relatable tales right out of the experience design playbook. Within this story, you&#8217;ll recognize the hallmarks of any scrappy start-up from launch to success. Along the way, we&#8217;ll uncover and discuss principles of user centered design, the importance of strategic pivots, how constraints create problems and opportunities, and managing change in organizational politics.

      %p The Guggenheim Museum story takes many fascinating twists and turns from it&#8217;s humble origins as a small, focused collection in a New York City apartment to it&#8217;s current iteration as a diverse global art institution that oversees one of the preeminent modern art collections of the world. In this talk we will look at decisions, characters, problems and evolution points in the museum&#8217;s history that have parallels to, and contain lessons for, the practice of modern day user experience.

    - content_for :talk_jeff_eaton do

      %h3 Content Strategy &#8212; Getting It Started!

      %p Content Strategy! It&#8217;s hot, it&#8217;s hip, and all the cool kids are talking about it! In the real world, though, integrating a new service into your web shop&#8217;s offerings can be a tough slog. In this session, Lullabot&#8217;s Digital Strategist Jeff Eaton explains how the company:

      %ul.list-ul
        %li Integrated strategy work into its development projects
        %li Improved its deliverables to bridge the designer-developer gap
        %li Used a new service to increase the value of work it was already doing
        %li Avoided over-promising as its team explored new techniques
        %li &#8230;And continues to evolve its strategy practice

    - content_for :talk_kamaria_campbell do

      %h3 Heuristics 101: Understanding &amp; Applying Design Principles

      %p Design heuristics are a powerful tool for UXers to have in their toolkit. These principles provide a way to ground your designs as well as communicate the &#8220;why&#8221; behind your decisions to peers and stakeholders. In addition, while technology is always changing, these principles remain the same and can easily be extended to new technologies. 

      %p In this session, you will learn about common sets of heuristics you can draw on in your work. In addition, you will learn how to tailor these principles for use in emerging technologies such as social media and mobile applications.

    - content_for :talk_mike_kornacki do

      %h3 Experience Innovation &#8212; The New Design Imperative
       
      %p Experience innovation is becoming the most important element in smart companies product lifecycle. They are starting to use experience innovation to remain relevant and retain customer loyalty. Companies like Uber, Delta Airlines, Disney and Nike, to name a few, are figuring out ways to create signature moments that delight users and create significant opportunities for growth. They have learned how to look beyond their products to and see the broader experience their customers have when using their products and services. 

      %p I have come up with a list of 6 ways UXers can do to get our clients or our companies we work for to start innovating experiences. I will share with you examples of how others have done it and how I have led a UX team in a giant engineering organization like Johnson Controls to innovate and impact our business directly. Ultimately we need to start doing this for the companies we work for or for our clients. Experience innovation is not a new idea and it only a matter of time before your company&#8217;s or client&#8217;s competition figures it out.

    - content_for :talk_natalie_kurz do

      %h3 The Unwitting Content Strategist

      %p Few of us are formally trained as content strategists. We&#8217;re journalists. Information architects. Copywriters. Interaction designers. Digital marketers. Some are multi-headed hydras that get to wear all the hats.

      %p But that doesn&#8217;t prevent us from tackling the nebulous task of creating content strategies. So what does that even mean? What goes into creating an actual content strategy that you can sit down and execute? And how can we bring our unique perspectives from other disciples to this field to produce a better outcome?

      %p The first time I had to write a content strategy, I had to figure it out as I went. This talk will offer attendees concrete pointers, outlines, definitions and deliverables associated with that big, scary concept of &#8220;content strategy.&#8221; Attend this session and you don&#8217;t have to feel that same sense of dread I did when asked to &#8220;figure it out.&#8221;

    - content_for :talk_nathan_hinshaw do

      %h3 Designing Digital Communities

      %p As the architectural complexities and user expectations of websites continue to evolve, viewing them as the communities that they are&#8211;or can become&#8211;is increasingly important to both their sustainability and success. How do we as technologists design, build, and maintain these properties; while also evolving the tools we use to support them? 

      %p We&#8217;ll look at:

      %ul.list-ul
        %li Design patterns, development processes and feedback cycles
        %li How Threadless has worked to foster collaboration between users and developers by encouraging both active and passive participation
        %li How to best leverage a community&#8217;s shared assets, inspiration, and potential, with the intention of creating digital spaces that promote users&#8217; sense of inclusion and satisfaction
        %li Looking at existing real world design patterns (e.g. universal iconography and visual wayfinding) as a means of creating more accessible user experiences in a digital space
        %li Responsible development: pushing design and technology forward without dragging users behind you

    - content_for :talk_ryan_wynia do

      %h5.lineup-subtitle.h-sm-caps-gray Dimple &amp; Ryan present:

      %h3 From You &amp; Me To We: Re-designing the Product &#8212; UX Partnership

      %p As Marshall Goldsmith cautions in the title of his best-selling book, What Got You Here Won&#8217;t Get You There. The brittle and tenuous cooperation between product management and user experience teams that often exists today won&#8217;t be enough to support the nimble production paradigm required to create the digital products of tomorrow. With the evolving role Design in the product and user experience functions and the organization at large, reconsidering the PM &#8212; UX partnership is perhaps more important than ever.

      %p Drawing on their respective backgrounds—including experience as colleagues—Dimple Rao and Ryan Wynia will offer forward-thinking perspective on the relationship between PM and UX. They will argue the PM &#8212; UX relationship is a collaboration that&#8217;s truly significant and is capable of enhancing or inhibiting the contributions of the other to the benefit or detriment of the product and organization.

    - content_for :talk_travis_lafleur do

      %h3 WHAT Before HOW: Practical, Lo-fi Tools for Alignment, Planning, &amp; Understanding

      %p Budgets and deadlines often push us toward making and doing before we have a shared understanding of the problem space. Here we will explore a handful of lightweight techniques from an information architecture perspective that can compliment your existing UX toolkit. 

      %p These approaches will help frame your design activities first in terms of WHAT would be good to do, setting you up to create even better HOWs. 

    = partial "partials/events/speakers", locals: {speakers: speakers}

= partial "partials/events/location-harrington"
