---
title: Mobile Camp
date: 2015-04-18 01:00 CDT
category: events
alias: mobile-camp
header_image_photographer: Scott Cresswell
header_image_url: https://flic.kr/p/iVvY69
summary: Mobile Camp gets you up to speed on the mobile issues you need to know! Spend a Saturday with us and then spend your Monday applying what you&#8217;ve learned!
---

- speakers = ["Mark Meeker", "Sharon Bautista", "Will Hacker"]

%nav.event-nav.group(data-js="event-nav")
  .container
    %ul.event-nav-content
      %li.event-nav-title
        %a(href="#top" rel="nofollow") Mobile Camp
      %li
        %a(href="#details" rel="nofollow") Details
      %li
        %a(href="#keynotes" rel="nofollow") Keynotes
      %li
        %a(href="#schedule" rel="nofollow") Schedule
      %li
        %a(href="#speakers" rel="nofollow") Speakers
      %li
        %a(href="#location" rel="nofollow") Location

    %a.btn.btn-alt.event-nav-btn(href="https://chicagocamps.ticketleap.com/mobile-camp-2015/dates/Apr-18-2015_at_0900AM" rel="nofollow")
      Join Us for
      %strong Only $60

%section#details.main-content
  .container

    %h3.h-section Details

    %h2 Mobile Camp gets you up to speed on the mobile issues you need to know! Spend a Saturday with us and then spend your Monday applying what you&#8217;ve learned!

    %p Mobile Camp dedicates a full day to bring together Designers, Developers, and anyone else who is interested in leveling-up their mobile skills.

    %p Should you be interested in speaking please <a href="/proposal/">let us know</a>!

    %p It&#8217;s more than smaller screens. Come learn with us!

    .event-cta
      %a.btn.btn-alt(href="https://chicagocamps.ticketleap.com/mobile-camp-2015/dates/Apr-18-2015_at_0900AM" rel="nofollow")
        Join Us for Only $60 &#8212; Limited Tickets Available

%section#keynotes.main-content.main-bg-alt
  .container

    %h3.h-section Keynotes

    %h4 Coming soon!

%section#schedule.main-content.main-bg-highlight
  .container

    %h3.h-section Schedule

    %h4 Coming soon!


%section#speakers.main-content.main-bg-alt
  .container

    %h3.h-section Speakers

    %h4 Want to speak? <a href="/proposal/">Submit a proposal.</a>

    - content_for :talk_mark_meeker do

      %h3 Building a Mobile Device Lab
      
      %p Each new release of the latest phone or tablet comes with it the need to guarantee your site will work on it. All the different devices, screen sizes, browsers and operating systems make it impossible to test everything. Yet nothing compares to pinching and scrolling on a physical device and seeing how your code reacts.

      %p In this session, we&#8217;ll look at what to consider when building a test lab of devices on a limited budget, how to make it as usable as possible for your team, and what tools can help with testing when a physical device either isn&#8217;t available or even an option.

    - content_for :talk_sharon_bautista do

      %h3 The New Frontiers of User Research (or What Your Digital Wallet Says About You)

      %p Once upon a time, people carried physical wallets that contained personal identification, cash, credit cards, photos of loved ones, and perhaps a Blockbuster card. Times have clearly changed. Blockbuster is long gone, and now with our physical wallets, many of us also carry smartphones with native functionality and downloaded apps that give ever richer meaning to the notion of digital wallets. 

      %p In this session, I will draw on this particular straddling between the physical and digital to discuss new opportunities and challenges for user research focused on mobile experiences. I will share stories of what happened when I asked people to open their wallets to me and the lessons I learned about observation, qualitative interviewing, documentation, and empathy.

    - content_for :talk_will_hacker do

      %h3 Material Design: It&#8217;s a Whole New Language

      %p This talk is an introduction to Material Design, Google&#8217;s new visual design and interaction language for cross-platform applications. 

      %p Material Design has been introduced in various Google web apps and in Android 5 (Lollipop). Material Design is more than a visual pattern language; it also address interaction patterns, motion and animations, and transitions between on-screen states. On the ever-evolving continuum of approaches to design, Material Design is the next step on a journey that has already taken designers from skeuomorphism to flat design. Learn from examples drawn from real applications about the principals behind Material Design and how it adds a new dimension to how we conceive user experiences.

    = partial "partials/events/speakers", locals: {speakers: speakers}

= partial "partials/events/location-harrington"
