---
title: Front-end Camp
date: 2017-06-03 01:00 CDT
category: events
alias: front-end-camp
location: Columbia College Film Row &ndash; Chicago
header_image_photographer: Bhaskar Peddhapati
header_image_url: https://flic.kr/p/nQfMy5
summary: If you want to ramp up your HTML, CSS, Javascript, and throw in a bit of UX and Design for good measure, Front-end Camp is the event you won&#8217;t want to miss!
---

- keynotes = []
- speakers = []
- sponsors = ["Columbia College", "Lead Honestly", "Rosenfeld"]

%nav.event-nav.group(data-js="event-nav")
  .container
    %ul.event-nav-content
      %li.event-nav-title
        %a(href="#top" rel="nofollow") Front-end Camp
      %li
        %a(href="#details" rel="nofollow") Details
      -#
        %li
          %a(href="#keynotes" rel="nofollow") Keynotes
        %li
          %a(href="#schedule" rel="nofollow") Schedule
      %li
        %a(href="#speakers" rel="nofollow") Speakers
      %li
        %a(href="#location" rel="nofollow") Location
    -#
      %a.btn.btn-alt.event-nav-btn(href="https://chicagocamps.ticketleap.com/front-end-camp-2015/dates/Oct-03-2015_at_0800AM" rel="nofollow")
        Join Us for
        %strong Only $60

%section#details.main-content
  .container

    %h3.h-section Details

    %h2 If you want to ramp up your HTML, CSS, Javascript, and throw in a bit of UX and Design for good measure, Front-end Camp is the event you won&#8217;t want to miss!

    %p It takes a lot to stay current when you work in front-end design and development, and Front-end Camp will bring you presentations that help you level up. We&#8217;ll provide you with a full-day of presentations on the topics that are important to you, from speakers who bring the front-end knowledge and all for a great price that includes your lunch.

    %h3 Interested in Sponsoring Front-End Camp?

    %p We&#8217;re actively looking for <a href="/contact/">sponsors</a> for Front-End Camp. If you&#8217;re interested, or if you know someone we should talk to, <a href="/proposal/">please let us know</a>!

    -#

      %p Sign up now&#8211;these tickets go fast!

      .event-cta
        %a.btn.btn-alt(href="https://chicagocamps.ticketleap.com/front-end-camp-2015/dates/Oct-03-2015_at_0800AM" rel="nofollow")
          Join Us for Only $60 &#8212; Limited Tickets Available

    %h3 Meet Our Awesome Sponsors
    
    %p These fantastic sponsors are helping us bring this great event to you.

    = partial "partials/events/sponsors", locals: {sponsors: sponsors}

-#
  %section#keynotes.main-content.main-bg-alt
    .container

      %h3.h-section Keynotes
      = partial "partials/events/speakers", locals: {speakers: keynotes}

-#
  %section#schedule.main-content.main-bg-highlight
    .container

      %h3.h-section Schedule

      %h4 Coming soon!

%section#speakers.main-content.main-bg-alt
  .container

    %h3.h-section Speakers

    %h3 Call for Speakers
    
    %p Are you interested in speaking at Front-End Camp? We sure hope so! <a href="/proposal/">Submit your talk</a> and let us know what&#8217;s on your mind to share.

    %p First time speaker, or have limited experience? Let us know&mdash;we welcome new speakers and have been known to help folks round out their proposals.

    %p <a href="/proposal/">Submit your talk</a>&mdash;come hang out with us in Chicago and share what you&#8217;ve learned!

    = partial "partials/events/speakers", locals: {speakers: speakers}

= partial "partials/events/location-columbia-film-row"
