---
title: UX Camp
date: 2017-02-11 01:00 CDT
category: events
alias: ux-camp
location: Columbia College Film Row &ndash; Chicago
header_image_photographer: Anne Worner
header_image_url: https://flic.kr/p/fhkjZh
summary: UX Camp is a full day of UX Goodness&#8211;we&#8217;ll leave few topics uncovered and you&#8217;ll learn current topics and improved upon standards in one of the hottest fields today!
---

- sponsors = ["Columbia College", "Lead Honestly", "MOMENT", "Rosenfeld"]
- keynotes = ["Gail Swanson", "Jeff Eaton"]
- speakers = ["Autumn Schultz", "Brad Nunnally", "Daniel Orbach", "David Farkas", "Garrett Polifka", "Jayne Spottswood", "Lauren Johnson", "Lauren Lucchese", "Mike Gorgone", "Nikola Ranguelov", "Wilson Lee"]

%nav.event-nav.group(data-js="event-nav")
  .container
    %ul.event-nav-content
      %li.event-nav-title
        %a(href="#top" rel="nofollow") UX Camp
      %li
        %a(href="#details" rel="nofollow") Details
      %li
        %a(href="#keynotes" rel="nofollow") Keynotes
      %li
        %a(href="#schedule" rel="nofollow") Schedule
      %li
        %a(href="#speakers" rel="nofollow") Speakers
      %li
        %a(href="#location" rel="nofollow") Location

    %a.btn.btn-alt.event-nav-btn(href="https://chicagocamps.ticketleap.com/ux-camp-2017/dates/Feb-11-2017_at_0830AM" rel="nofollow")
      Join Us for
      %strong Only $60

%section#details.main-content
  .container

    %h3.h-section Details

    %h2 UX Camp is a full day of UX Goodness&#8211;we&#8217;ll leave few topics uncovered and you&#8217;ll learn current topics and improved upon standards in one of the hottest fields today!

    %p If you&#8217;re just getting your start in UX and you&#8217;re hoping to learn more, or you&#8217;ve been in the field awhile and want to stay current, UX Camp is for you. A full day&#8211;3 full tracks&#8211;of UX talks, surrounded by impressive keynotes and all for a great price that includes your lunch. 

    %p Sign up now&#8211;these tickets go fast!

    .event-cta
      %a.btn.btn-alt(href="https://chicagocamps.ticketleap.com/ux-camp-2017/dates/Feb-11-2017_at_0830AM" rel="nofollow")
        Join Us for Only $60 &#8212; Limited Tickets Available

    %h3 Interested in Sponsoring UX Camp?

    %p We&#8217;re actively looking for <a href="/contact/">sponsors</a> for UX Camp. If you&#8217;re interested, or if you know someone we should talk to, <a href="/proposal/">please let us know</a>!

    %h3 Call for Speakers
    
    %p Are you interested in speaking at UX Camp? We sure hope so! <a href="/proposal/">Submit your talk</a> and let us know what&#8217;s on your mind to share.

    %p First time speaker, or have limited experience? Let us know&mdash;we welcome new speakers and have been known to help folks round out their proposals.

    %p <a href="/proposal/">Submit your talk</a>&mdash;come hang out with us in Chicago and share what you&#8217;ve learned!

    %h3 Meet Our Awesome Sponsors
    
    %p These fantastic sponsors are helping us bring this great event to you.

    = partial "partials/events/sponsors", locals: {sponsors: sponsors}

%section#keynotes.main-content.main-bg-alt
  .container

    - content_for :talk_gail_swanson do

      %h3 Presenting Design Work to Decision Makers
      
      %p The job of design includes collaborating with decision makers to accomplish business goals. Successful designers create shared understanding of complex ideas, in addition to doing high quality design work. Unfortunately, explaining the design rationale yields low levels of success. More effective communication strategies use a broader spectrum of tactics to start collaboration, get buy-in, and share knowledge.

      %p Gail will explain how to create a presentation strategy, identify purposeful details, and handle difficult moments. Be more successful by learning to use work presentations as an opportunity to connect and make progress.

    - content_for :talk_jeff_eaton do

      %h3 The Map Is Not The Territory: Collaborative Content Modeling for Digital Teams

      %p The rise of content strategy has given digital teams a new way to tackle the challenges of publishing and product design. Concepts like a shared &#8220;content model&#8221; promise better communication and coordination… but somehow, most teams still manage to talk past each other.

      %p Developers, designers, content editors, and stakeholders all care about different aspects of the content—and use different tools to capture their pieces of the puzzle. The good news is that these different views don&#8217;t have to conflict. By using each discipline&#8217;s perspectives to inform the others, we can gain a clearer and richer understanding of the content-avoiding common pitfalls, developing better lines of communication, and spotting often-overlooked opportunities for improvement.

    %h3.h-section Keynotes
    = partial "partials/events/speakers", locals: {speakers: keynotes}

%section#schedule.main-content.main-bg-highlight
  .container

    %h3.h-section Schedule

    %table.event-schedule

      %tr
        %th
          %time(datetime="2017-02-11T08:30") 8:30
          &#8212;
          %time(datetime="2017-02-11T09:00") 9:00
        %td.event-schedule-offset(colspan="3") Registration &amp; Breakfast

      %tr
        %th
          %time(datetime="2017-02-11T09:00") 9:00
          &#8212;
          %time(datetime="2017-02-11T09:45") 9:45
        %td(colspan="3")
          %a(href="#gail-swanson" rel="nofollow")
            %strong.event-schedule-room(data-room="Blue") Gail Swanson
          .event-schedule-offset Presenting Design Work to Decision Makers Keynote

      %tr
        %th
          %time(datetime="2017-02-11T09:45") 9:45
          &#8212;
          %time(datetime="2017-02-11T10:00") 10:00
        %td.event-schedule-offset(colspan="3") Morning Break

      %tr
        %th Rooms
        %td.event-schedule-distributed
          %strong Blue
          %span.event-schedule-offset (Main)
        %td.event-schedule-distributed
          %strong Red
        %td.event-schedule-distributed
          %strong Yellow

      %tr
        %th
          %time(datetime="2017-02-11T10:00") 10:00
          &#8212;
          %time(datetime="2017-02-11T10:45") 10:45
        %td
          %a(href="#david-farkas" rel="nofollow")
            %strong.event-schedule-room(data-room="Blue") David Farkas
          .event-schedule-offset UX Field Research Basics
        %td
          -# %a(href="#stacy-kvernmo" rel="nofollow")
          %strong.event-schedule-room(data-room="Red") TBA
          -# .event-schedule-offset TBA
        %td
          %a(href="#garrett-polifka" rel="nofollow")
            %strong.event-schedule-room(data-room="Yellow") Garrett Polifka &amp; Jayne Spottswood
          .event-schedule-offset Get the Whole Team Together &amp; Design Jam
      
      %tr
        %th
          %time(datetime="2017-02-11T10:45") 10:45
          &#8212;
          %time(datetime="2017-02-11T11:00") 11:00
        %td.event-schedule-offset(colspan="3") Break
      
      %tr
        %th
          %time(datetime="2017-02-11T11:00") 11:00
          &#8212;
          %time(datetime="2017-02-11T11:45") 11:45
        %td
          %a(href="#brad-nunnally" rel="nofollow")
            %strong.event-schedule-room(data-room="Blue") Brad Nunnally
          .event-schedule-offset See What I Mean &#8212; The Hidden Language of the Body
        %td
          -# %a(href="#rachel-mcclung" rel="nofollow")
          %strong.event-schedule-room(data-room="Red") TBA
          -# .event-schedule-offset Type Trials
        %td
          %a(href="#mike-gorgone" rel="nofollow")
            %strong.event-schedule-room(data-room="Yellow") Mike Gorgone
          .event-schedule-offset ImprovUX: Creating a Culture with Trust, Empathy &amp; Collaboration

      %tr
        %th
          %time(datetime="2017-02-11T11:45") 11:45
          &#8212;
          %time(datetime="2017-02-11T13:00") 1:00
        %td.event-schedule-offset(colspan="3") Lunch
      
      %tr
        %th
          %time(datetime="2017-02-11T13:00") 1:00
          &#8212;
          %time(datetime="2017-02-11T13:45") 1:45
        %td
          %a(href="#autumn-schultz" rel="nofollow")
            %strong.event-schedule-room(data-room="Blue") Autumn Schultz
          .event-schedule-offset Askin&#8217; Aint Easy
        %td
          %a(href="#lauren-johnson" rel="nofollow")
            %strong.event-schedule-room(data-room="Red") Lauren Johnson
          .event-schedule-offset The Benefits of Iterative Failure
        %td
          %a(href="#wilson-lee" rel="nofollow")
            %strong.event-schedule-room(data-room="Yellow") Wilson Lee
          .event-schedule-offset Accessible UI for Color-Blind Users

      %tr
        %th
          %time(datetime="2017-02-11T13:45") 1:45
          &#8212;
          %time(datetime="2017-02-11T14:00") 2:00
        %td.event-schedule-offset(colspan="3") Break
      
      %tr
        %th
          %time(datetime="2017-02-11T14:00") 2:00
          &#8212;
          %time(datetime="2017-02-11T14:45") 2:45
        %td
          %a(href="#lauren-lucchese" rel="nofollow")
            %strong.event-schedule-room(data-room="Blue") Lauren Lucchese
          .event-schedule-offset Real Talk: Designing Content That Builds Trust
        %td
          %a(href="#nikola-ranguelov" rel="nofollow")
            %strong.event-schedule-room(data-room="Red") Nikola Ranguelov
          .event-schedule-offset Designing for All the Rs (VR/AR/SR/MR/HR/etc.)
        %td
          %a(href="#daniel-orbach" rel="nofollow")
            %strong.event-schedule-room(data-room="Yellow") Daniel Orbach
          .event-schedule-offset The Journey to a Better Bar Graph

      %tr
        %th
          %time(datetime="2017-02-11T14:45") 2:45
          &#8212;
          %time(datetime="2017-02-11T15:15") 3:15
        %td.event-schedule-offset(colspan="3") Afternoon Snack
      
      %tr
        %th
          %time(datetime="2017-02-11T15:15") 3:15
          &#8212;
          %time(datetime="2017-02-11T16:00") 4:00
        %td(colspan="3")
          %a(href="#jeff-eaton" rel="nofollow")
            %strong.event-schedule-room(data-room="Blue") Jeff Eaton
          .event-schedule-offset The Map Is Not The Territory: Collaborative Content Modeling for Digital Teams Keynote

      %tr
        %th
          %time(datetime="2017-02-11T16:00") 4:00
          &#8212;
          %time(datetime="2017-02-11T16:15") 4:15
        %td.event-schedule-offset(colspan="3") Closing Ceremonies

%section#speakers.main-content.main-bg-alt
  .container
    
    - content_for :talk_autumn_schultz do

      %h3 Askin&#8217; Aint Easy

      %p Interviewing users is hard, but it doesn&#8217;t have to be. Autumn will be sharing tips on how to ask the right questions during user interviews so everyone can be a mini-user researcher!

      %p Her talk will walk you through why user research is important to designers, the steps needed to kick off an interview and specific tactics keep in mind when interviewing. Following these steps, you should be able to gather authentic, actionable insights for your next project!

    - content_for :talk_brad_nunnally do

      %h3 See What I Mean &#8212; The Hidden Language of the Body
      
      %p As designers, we are lucky enough to get to interact with many different types of people during the course of our work. We observe people using technology and proposed design solutions. While working on our projects, we collaborate directly with our team, clients, and stakeholders to bring a solution to life. All of this interaction exposes us to lots of body language. The language of the body offers up many hints and insights into what people are thinking and feeling. It&#8217;s been said that our bodies communicates what is really on our minds, and it&#8217;s important to know not only what others might be telling you but what you could be telling them.

      %p It&#8217;s important for designers to have a fundamental understanding of body language and patterns they should look for when interacting with users or team members. There are key patterns that, when observed correctly, can tell you if someone is supportive of your idea, hiding their true feelings, or simply sitting back and daydreaming the meeting away.

      %p Observing non-verbal communication cues is only one side of the coin though, the other side being your own body language. Inherently knowing the patterns and signs of the body opens your eyes to the messages you might be giving off. The ability to manage your own body language is something that can be learned and mastered, helping you become a better collaborator and communicator.

      %p Participants will walk away from this session with a basic knowledge of how to read and respond to common non-verbal communication patterns and learn how to better manage their own non-verbal communication. They will be armed with additional resources to continue on their path of mastering the language of the body.

    - content_for :talk_daniel_orbach do

      %h3 The Journey to a Better Bar Graph

      %p How do you take something like a basic bar graph and make it beautiful without making it overly complex, or worse, misleading? Thinking about well-designed data visualization often conjures images of complex charts whose beauty lies in the dense texture of the data they bring to life. However, these visualizations are often lacking when it comes to being easily read and consumed by another human being. 

      %p In this talk, I&#8217;ll discuss how to meet in the middle by visualizing information in an intuitive, but also beautiful way. We&#8217;ll walk through a brief history of data visualization and look at various types of graphs and charts as well as ways of getting visualizations &#8220;past default.&#8221; Attendees will walk away with a better understanding of why graphs are the way they are, the parts you can keep and the parts you can change, and a framework that can be used right away to create more compelling visualizations in their everyday work.

    - content_for :talk_david_farkas do

      %h3 UX Field Research Basics
    
      %p With the speed at which technology is changing, field research offers understanding into how products can impact the lives of your customers. Regardless if it&#8217;s your first or hundredth time, conducting field research is a daunting task. Planning and conducting field research is a juggling act between preparation, interview skills, and synthesis. In this talk, I&#8217;ll share some of the key principles involved in any researcher&#8217;s toolkit and explore lessons learned from the three main stages of conducting field studies:

      %p Stage 1: Planning and prep &#8212; Gathering good research data starts with proper planning. This includes everything from writing interview questions and developing an interview guide to recruiting participants and determining logistics.

      %p Stage 2: Out in the field &#8212; Research can drain you both physically and mentally. David introduce some tricks to keep your mind sharp, allowing you to give each session your focus.

      %p Stage 3: Finding the patterns &#8212; The data resulting from field research grows quickly. David outline a few techniques for making the most out of limited time and managing mountains of information.

    - content_for :talk_jayne_spottswood do

      %h5.lineup-subtitle.h-sm-caps-gray Garrett &amp; Jayne present:

      %h3 Picking from the Grove, How We Discovered the Citrus Design System &amp; Helped It Flourish 

      %p We&#8217;ve all had that moment where it becomes apparent that various designers created the UI for your product. It also becomes glaring that reusable parts of the UI have divergent thinking contributing to inconsistencies in experience. There is a trend enterprise organizations are embracing to address these common problems, Design Systems.

      %p Companies such as Salesforce and Google have embraced the notion with systems like Lighting and Material. At Paylocity, we&#8217;ve been fortunate to have found success creating the Citrus Design System alongside a company that grew to be a top twenty tech company that tripled its revenue. We&#8217;ll share some of our most critical findings; failures, challenges and defining moments over the last two years that helped shape our shift to a design mindset as an organization.

    - content_for :talk_lauren_johnson do

      %h3 The Benefits of Iterative Failure

      %p As design thinkers, we must focus on the process and not just the end goal. This presentation will address the benefits of creating environments that allow teams to take risks and fail; through this failure, they become more resilient, more realistic, and more accountable. In turn, their future work is more thoughtful and they have a greater ability to be nimble, collaborate, and pivot away from ineffective ideas.

    - content_for :talk_lauren_lucchese do

      %h3 Real Talk: Designing Content That Builds Trust

      %p As content strategy continues to grow, it&#8217;s adapting to the needs of different organizations. While it used to be synonymous with writing web content, copywriting, and content marketing, that&#8217;s no longer the case. Now, we content strategists design messages to create meaningful, personal interactions with customers across across app interfaces, error messages, transactional communications, and more. Essentially, we are experience designers. It&#8217;s just that instead of visual elements, our main tool is words.

      %p With this increased influence comes responsibility. As designers and content strategists, we need to constantly be thoughtful about how we&#8217;re positioning messaging in our experiences. We need to build trust with our customers, and much like trust between people, the only way we can do this effectively is by being upfront, authentic, and honest in our communication at all times. When we&#8217;re not, we end up failing our customers in a big way.

      %p Lauren will talk about her experience as a content strategist on design and product teams at Capital One, and will showcase some of her go-to content strategy techniques and tools. She&#8217;ll introduce some questions and frameworks that can be iteratively applied throughout our design processes to maintain the integrity of our content.

    - content_for :talk_mike_gorgone do

      %h3 ImprovUX: Creating a Culture with Trust, Empathy &amp; Collaboration
    
      %p With more Agile and Lean processes becoming commonplace, people are working in larger and more diverse teams. The teams can be comprised of UX professionals, subject matter experts, marketing professionals, technical experts, business stakeholders etc. How do you bring these people from varied silos together quickly so they can effectively solve problems together?

      %p <em>Answer: Improvisation</em>

      %p Improvisation and its basic tenets stress listening, agreement and non-judgment. Those tenets help foster an environment of trust, empathy and connection which all support better collaboration between people (as well as creativity, less fear of risk etc.). ImprovUX is action (you&#8217;ll be walking the walk!) as everyone will be participating in Improv exercises that focus on these skills. The audience gets to experience how it feels when you let yourself be present and open in a supportive and fun environment.

    - content_for :talk_nikola_ranguelov do

      %h3 Designing for All the Rs (VR/AR/SR/MR/HR/etc.)

      %p The world is rapidly changing, there are more and more companies taking notice of VR/AR (and often both) becoming anxious to experiment and have something of their own in that space. This talk will examine what&#8217;s available to consumers today, devices that are just around the corner and what impact there will be to best design practices when the user interface is viewed via a HMD (Head Mounted Display).

      %p Why you should check out this talk &#8211; even if your company isn&#8217;t actively producing VR/AR experiences yet you will learn what the possibilities are and get a glimpse into things to come as well as different applications in various industries &#8211; Augmented and Virtual Reality revenue forecast is to hit $120 billion within three years (by 2020).

    - content_for :talk_wilson_lee do

      %h3 Accessible UI for Color-Blind Users
    
      %p According to non-profit organization Color Blind Awareness, 8% of men and 0.5% of women in the world suffer from color blindness. It is crucial to develop websites that are accessible to color-blind users. I will first go over the accessibility guidelines on color and contrast from W3C as well as a series of dos and don&#8217;ts examples. I will then dive into a set of new non-color-based animations and transitions. These can be used to provide interaction feedback (active state, select state, etc) using SVG and D3.js. The attendees will walk away with useful tools and principles to build accessible UI for color-blind users. 

    %h3.h-section Speakers
    = partial "partials/events/speakers", locals: {speakers: speakers}

= partial "partials/events/location-columbia-film-row"
