---
title: UX Camp
date: 2017-02-11 01:00 CDT
category: events
alias: ux-camp
location: Columbia College Film Row &ndash; Chicago
header_image_photographer: Anne Worner
header_image_url: https://flic.kr/p/fhkjZh
summary: UX Camp is a full day of UX Goodness&#8211;we&#8217;ll leave few topics uncovered and you&#8217;ll learn current topics and improved upon standards in one of the hottest fields today!
---

- sponsors = ["Columbia College", "Rosenfeld"]
- keynotes = ["Jeff Eaton"]
- speakers = ["Daniel Orbach", "Lauren Lucchese", "Mike Gorgone"]

%nav.event-nav.group(data-js="event-nav")
  .container
    %ul.event-nav-content
      %li.event-nav-title
        %a(href="#top" rel="nofollow") UX Camp
      %li
        %a(href="#details" rel="nofollow") Details
      -#
        %li
          %a(href="#keynotes" rel="nofollow") Keynotes
        %li
          %a(href="#schedule" rel="nofollow") Schedule
      %li
        %a(href="#speakers" rel="nofollow") Speakers
      %li
        %a(href="#location" rel="nofollow") Location

    %a.btn.btn-alt.event-nav-btn(href="https://chicagocamps.ticketleap.com/ux-camp-2017/dates/Feb-11-2017_at_0830AM" rel="nofollow")
      Join Us for
      %strong Only $60

%section#details.main-content
  .container

    %h3.h-section Details

    %h2 UX Camp is a full day of UX Goodness&#8211;we&#8217;ll leave few topics uncovered and you&#8217;ll learn current topics and improved upon standards in one of the hottest fields today!

    %p If you&#8217;re just getting your start in UX and you&#8217;re hoping to learn more, or you&#8217;ve been in the field awhile and want to stay current, UX Camp is for you. A full day&#8211;3 full tracks&#8211;of UX talks, surrounded by impressive keynotes and all for a great price that includes your lunch. 

    %p Sign up now&#8211;these tickets go fast!

    .event-cta
      %a.btn.btn-alt(href="https://chicagocamps.ticketleap.com/ux-camp-2017/dates/Feb-11-2017_at_0830AM" rel="nofollow")
        Join Us for Only $60 &#8212; Limited Tickets Available

    %h3 Interested in Sponsoring UX Camp?

    %p We&#8217;re actively looking for <a href="/contact/">sponsors</a> for UX Camp. If you&#8217;re interested, or if you know someone we should talk to, <a href="/proposal/">please let us know</a>!

    %h3 Call for Speakers
    
    %p Are you interested in speaking at UX Camp? We sure hope so! <a href="/proposal/">Submit your talk</a> and let us know what&#8217;s on your mind to share.

    %p First time speaker, or have limited experience? Let us know&mdash;we welcome new speakers and have been known to help folks round out their proposals.

    %p <a href="/proposal/">Submit your talk</a>&mdash;come hang out with us in Chicago and share what you&#8217;ve learned!

    %h3 Meet Our Awesome Sponsors
    
    %p These fantastic sponsors are helping us bring this great event to you.

    = partial "partials/events/sponsors", locals: {sponsors: sponsors}

%section#keynotes.main-content.main-bg-alt
  .container

    - content_for :talk_jeff_eaton do

      %h3 The Map Is Not The Territory: Collaborative Content Modeling for Digital Teams

      %p The rise of content strategy has given digital teams a new way to tackle the challenges of publishing and product design. Concepts like a shared &#8220;content model&#8221; promise better communication and coordination… but somehow, most teams still manage to talk past each other.

      %p Developers, designers, content editors, and stakeholders all care about different aspects of the content—and use different tools to capture their pieces of the puzzle. The good news is that these different views don&#8217;t have to conflict. By using each discipline&#8217;s perspectives to inform the others, we can gain a clearer and richer understanding of the content-avoiding common pitfalls, developing better lines of communication, and spotting often-overlooked opportunities for improvement.

    %h3.h-section Keynotes
    = partial "partials/events/speakers", locals: {speakers: keynotes}

-#
  %section#schedule.main-content.main-bg-highlight
    .container

      %h3.h-section Schedule

      %table.event-schedule

        %tr
          %th
            %time(datetime="2016-04-30T08:30") 8:30
            &#8212;
            %time(datetime="2016-04-30T09:00") 9:00
          %td.event-schedule-offset(colspan="3") Registration &amp; Breakfast

        %tr
          %th
            %time(datetime="2016-04-30T09:00") 9:00
            &#8212;
            %time(datetime="2016-04-30T09:45") 9:45
          %td(colspan="3")
            %a(href="#carolyn-chandler" rel="nofollow")
              %strong.event-schedule-room(data-room="Blue") Carolyn Chandler
            .event-schedule-offset Lessons Learned from the World of Wearables Keynote

        %tr
          %th
            %time(datetime="2016-04-30T09:45") 9:45
            &#8212;
            %time(datetime="2016-04-30T10:00") 10:00
          %td.event-schedule-offset(colspan="3") Morning Break

        %tr
          %th Rooms
          %td.event-schedule-distributed
            %strong Blue
            %span.event-schedule-offset (Main)
          %td.event-schedule-distributed
            %strong Red
          %td.event-schedule-distributed
            %strong Yellow

        %tr
          %th
            %time(datetime="2016-04-30T10:00") 10:00
            &#8212;
            %time(datetime="2016-04-30T10:45") 10:45
          %td
            %a(href="#sean-johnson" rel="nofollow")
              %strong.event-schedule-room(data-room="Blue") Sean Johnson
            .event-schedule-offset How to Guarantee Product Failure
          %td
            %a(href="#stacy-kvernmo" rel="nofollow")
              %strong.event-schedule-room(data-room="Red") Stacy Kvernmo
            .event-schedule-offset Curing Design Complacency
          %td
            %a(href="#jamie-mcatee" rel="nofollow")
              %strong.event-schedule-room(data-room="Yellow") Jamie McAtee
            .event-schedule-offset Get the Whole Team Together &amp; Design Jam
        
        %tr
          %th
            %time(datetime="2016-04-30T10:45") 10:45
            &#8212;
            %time(datetime="2016-04-30T11:00") 11:00
          %td.event-schedule-offset(colspan="3") Break
        
        %tr
          %th
            %time(datetime="2016-04-30T11:00") 11:00
            &#8212;
            %time(datetime="2016-04-30T11:45") 11:45
          %td
            %a(href="#will-hacker" rel="nofollow")
              %strong.event-schedule-room(data-room="Blue") Will Hacker
            .event-schedule-offset Sketch-to-Code Prototyping: Moving Faster to Final Designs
          %td
            %a(href="#rachel-mcclung" rel="nofollow")
              %strong.event-schedule-room(data-room="Red") Rachel McClung
            .event-schedule-offset Type Trials
          %td
            %a(href="#dennis-ellis" rel="nofollow")
              %strong.event-schedule-room(data-room="Yellow") Katie Swindler &amp; Dennis Ellis
            .event-schedule-offset The Checkbox That Ruined My Life: Exposing Manipulative Design

        %tr
          %th
            %time(datetime="2016-04-30T11:45") 11:45
            &#8212;
            %time(datetime="2016-04-30T13:00") 1:00
          %td.event-schedule-offset(colspan="3") Lunch
        
        %tr
          %th
            %time(datetime="2016-04-30T13:00") 1:00
            &#8212;
            %time(datetime="2016-04-30T13:45") 1:45
          %td
            %a(href="#natalie-kurz" rel="nofollow")
              %strong.event-schedule-room(data-room="Blue") Natalie Kurz
            .event-schedule-offset Vocal Exercises: Finding Your Voice
          %td
            %a(href="#phil-balagtas" rel="nofollow")
              %strong.event-schedule-room(data-room="Red") Phil Balagtas
            .event-schedule-offset Shaping Signals: Preparing for the Future through Speculative Design
          %td
            %a(href="#rizwan-javaid" rel="nofollow")
              %strong.event-schedule-room(data-room="Yellow") Rizwan Javaid
            .event-schedule-offset You Too Can Be a Sketching Machine

        %tr
          %th
            %time(datetime="2016-04-30T13:45") 1:45
            &#8212;
            %time(datetime="2016-04-30T14:00") 2:00
          %td.event-schedule-offset(colspan="3") Break
        
        %tr
          %th
            %time(datetime="2016-04-30T14:00") 2:00
            &#8212;
            %time(datetime="2016-04-30T14:45") 2:45
          %td
            %a(href="#scott-sullivan" rel="nofollow")
              %strong.event-schedule-room(data-room="Blue") Scott Sullivan
            .event-schedule-offset Wearable Devices &amp; Everyone
          %td
            %a(href="#lauren-johnson" rel="nofollow")
              %strong.event-schedule-room(data-room="Red") Lauren Johnson
            .event-schedule-offset Fostering Empathy in Collaborative Development
          %td
            %a(href="#kavitha-krishna" rel="nofollow")
              %strong.event-schedule-room(data-room="Yellow") Kavitha Krishna
            .event-schedule-offset Content First for Better User Experience

        %tr
          %th
            %time(datetime="2016-04-30T14:45") 2:45
            &#8212;
            %time(datetime="2016-04-30T15:15") 3:15
          %td.event-schedule-offset(colspan="3") Afternoon Snack
        
        %tr
          %th
            %time(datetime="2016-04-30T15:15") 3:15
            &#8212;
            %time(datetime="2016-04-30T16:00") 4:00
          %td(colspan="3")
            %a(href="#cornelius-rachieru" rel="nofollow")
              %strong.event-schedule-room(data-room="Blue") Cornelius Rachieru
            .event-schedule-offset UXers Are from Mars, BAs Are from Venus Keynote

        %tr
          %th
            %time(datetime="2016-04-30T16:00") 4:00
            &#8212;
            %time(datetime="2016-04-30T16:15") 4:15
          %td.event-schedule-offset(colspan="3") Closing Ceremonies

%section#speakers.main-content.main-bg-alt
  .container
    
    - content_for :talk_daniel_orbach do

      %h3 The Journey to a Better Bar Graph

      %p How do you take something like a basic bar graph and make it beautiful without making it overly complex, or worse, misleading? Thinking about well-designed data visualization often conjures images of complex charts whose beauty lies in the dense texture of the data they bring to life. However, these visualizations are often lacking when it comes to being easily read and consumed by another human being. 

      %p In this talk, I&#8217;ll discuss how to meet in the middle by visualizing information in an intuitive, but also beautiful way. We&#8217;ll walk through a brief history of data visualization and look at various types of graphs and charts as well as ways of getting visualizations &#8220;past default.&#8221; Attendees will walk away with a better understanding of why graphs are the way they are, the parts you can keep and the parts you can change, and a framework that can be used right away to create more compelling visualizations in their everyday work.

    - content_for :talk_lauren_lucchese do

      %h3 Real Talk: Designing Content That Builds Trust

      %p As content strategy continues to grow, it&#8217;s adapting to the needs of different organizations. While it used to be synonymous with writing web content, copywriting, and content marketing, that&#8217;s no longer the case. Now, we content strategists design messages to create meaningful, personal interactions with customers across across app interfaces, error messages, transactional communications, and more. Essentially, we are experience designers. It&#8217;s just that instead of visual elements, our main tool is words.

      %p With this increased influence comes responsibility. As designers and content strategists, we need to constantly be thoughtful about how we&#8217;re positioning messaging in our experiences. We need to build trust with our customers, and much like trust between people, the only way we can do this effectively is by being upfront, authentic, and honest in our communication at all times. When we&#8217;re not, we end up failing our customers in a big way.

      %p Lauren will talk about her experience as a content strategist on design and product teams at Capital One, and will showcase some of her go-to content strategy techniques and tools. She&#8217;ll introduce some questions and frameworks that can be iteratively applied throughout our design processes to maintain the integrity of our content.

    - content_for :talk_mike_gorgone do

      %h3 ImprovUX: Creating a Culture with Trust, Empathy &amp; Collaboration
    
      %p With more Agile and Lean processes becoming commonplace, people are working in larger and more diverse teams. The teams can be comprised of UX professionals, subject matter experts, marketing professionals, technical experts, business stakeholders etc. How do you bring these people from varied silos together quickly so they can effectively solve problems together?

      %p <em>Answer: Improvisation</em>

      %p Improvisation and its basic tenets stress listening, agreement and non-judgment. Those tenets help foster an environment of trust, empathy and connection which all support better collaboration between people (as well as creativity, less fear of risk etc.). ImprovUX is action (you&#8217;ll be walking the walk!) as everyone will be participating in Improv exercises that focus on these skills. The audience gets to experience how it feels when you let yourself be present and open in a supportive and fun environment.

    %h3.h-section Speakers
    = partial "partials/events/speakers", locals: {speakers: speakers}

= partial "partials/events/location-columbia-film-row"
