---
title: Front-end Camp
date: 2017-06-03 01:00 CDT
category: events
alias: front-end-camp
location: Columbia College Film Row &ndash; Chicago
header_image_photographer: Bhaskar Peddhapati
header_image_url: https://flic.kr/p/nQfMy5
summary: If you want to ramp up your HTML, CSS, Javascript, and throw in a bit of UX and Design for good measure, Front-end Camp is the event you won&#8217;t want to miss!
---

- keynotes = ["Jen Myers", "Jim Remsik"]
- speakers = ["Arlo Bryan Guthrie", "Brad Larson", "Brian Montana", "Chris Courtney", "Jessica Bertling", "John Polacek", "Kurt Cunningham", "Rebecca Miller-Webster", "Rudy Rigot", "Stacy Kvernmo", "Taylor Poulos"]
- sponsors = ["Columbia College", "Lead Honestly", "Rosenfeld"]

%nav.event-nav.group(data-js="event-nav")
  .container
    %ul.event-nav-content
      %li.event-nav-title
        %a(href="#top" rel="nofollow") Front-end Camp
      %li
        %a(href="#details" rel="nofollow") Details
      %li
        %a(href="#keynotes" rel="nofollow") Keynotes
      %li
        %a(href="#schedule" rel="nofollow") Schedule
      %li
        %a(href="#speakers" rel="nofollow") Speakers
      %li
        %a(href="#location" rel="nofollow") Location

    %a.btn.btn-alt.event-nav-btn(href="https://chicagocamps.ticketleap.com/front-end-camp-2017/dates/Jun-03-2017_at_0830AM" rel="nofollow")
      Join Us for
      %strong Only $60

%section#details.main-content
  .container

    %h3.h-section Details

    %h2 If you want to ramp up your HTML, CSS, Javascript, and throw in a bit of UX and Design for good measure, Front-end Camp is the event you won&#8217;t want to miss!

    %p It takes a lot to stay current when you work in front-end design and development, and Front-end Camp will bring you presentations that help you level up. We&#8217;ll provide you with a full-day of presentations on the topics that are important to you, from speakers who bring the front-end knowledge and all for a great price that includes your lunch.

    %h3 Interested in Sponsoring Front-End Camp?

    %p We&#8217;re actively looking for <a href="/contact/">sponsors</a> for Front-End Camp. If you&#8217;re interested, or if you know someone we should talk to, <a href="/proposal/">please let us know</a>!

    %p Sign up now&#8211;these tickets go fast!

    .event-cta
      %a.btn.btn-alt(href="https://chicagocamps.ticketleap.com/front-end-camp-2017/dates/Jun-03-2017_at_0830AM" rel="nofollow")
        Join Us for Only $60 &#8212; Limited Tickets Available

    %h3 Meet Our Awesome Sponsors
    
    %p These fantastic sponsors are helping us bring this great event to you.

    = partial "partials/events/sponsors", locals: {sponsors: sponsors}

%section#keynotes.main-content.main-bg-alt
  .container

    - content_for :talk_jen_myers do

      %h3 Move at a Reasonable Speed &amp; Balance Things

      %p We know that the rapid pace of technology makes a challenging task for its creators and practitioners to keep up with its perpetual innovations. Those of us who inhabit the nebulous front-end design/development world, with its constantly changing tools and complexity, know this truth twice over. All of which suggests that it&#8217;s worthwhile to pause from time to time to think about how we think about it all. Let&#8217;s consider how the speed of technology affects our product quality, our continuing education and our community connection, and whether or not the philosophies we often use to navigate this world are likely lead us to the result we really want.

    - content_for :talk_jim_remsik do

      %h3 Trust

      %p As developers we&#8217;re part of a mesh of decisions large and small that impact the world around us. All of us have a set of tools that we use to address problems which is built on our experience. As we act together with others our collection of tools grows as do the expectations on us and those around us.

    %h3.h-section Keynotes
    = partial "partials/events/speakers", locals: {speakers: keynotes}

%section#schedule.main-content.main-bg-highlight
  .container

    %h3.h-section Schedule

    %table.event-schedule

      %tr
        %th
          %time(datetime="2017-02-11T08:30") 8:30
          &#8212;
          %time(datetime="2017-02-11T09:00") 9:00
        %td.event-schedule-offset(colspan="3") Registration &amp; Breakfast

      %tr
        %th
          %time(datetime="2017-02-11T09:00") 9:00
          &#8212;
          %time(datetime="2017-02-11T09:45") 9:45
        %td(colspan="3")
          %a(href="#jen-myers" rel="nofollow")
            %strong.event-schedule-room(data-room="Blue") Jen Myers
          .event-schedule-offset Move at a Reasonable Speed &amp; Balance Things Keynote

      %tr
        %th
          %time(datetime="2017-02-11T09:45") 9:45
          &#8212;
          %time(datetime="2017-02-11T10:00") 10:00
        %td.event-schedule-offset(colspan="3") Morning Break

      %tr
        %th Rooms
        %td.event-schedule-distributed
          %strong Blue
          %span.event-schedule-offset (Main)
        %td.event-schedule-distributed
          %strong Red
        %td.event-schedule-distributed
          %strong Yellow

      %tr
        %th
          %time(datetime="2017-02-11T10:00") 10:00
          &#8212;
          %time(datetime="2017-02-11T10:45") 10:45
        %td
          %a(href="#stacy-kvernmo" rel="nofollow")
            %strong.event-schedule-room(data-room="Blue") Stacy Kvernmo
          .event-schedule-offset The Great State of Design with CSS Grid Layout &amp; Friends
        %td
          %a(href="#jessica-bertling" rel="nofollow")
            %strong.event-schedule-room(data-room="Red") Jessica Bertling
          .event-schedule-offset Tale of Two Redesigns
        %td
          %a(href="#taylor-poulos" rel="nofollow")
            %strong.event-schedule-room(data-room="Yellow") Taylor Poulos
          .event-schedule-offset Ironing Pixels &ndash; How to Achieve Perfect Type on the Web
      
      %tr
        %th
          %time(datetime="2017-02-11T10:45") 10:45
          &#8212;
          %time(datetime="2017-02-11T11:00") 11:00
        %td.event-schedule-offset(colspan="3") Break
      
      %tr
        %th
          %time(datetime="2017-02-11T11:00") 11:00
          &#8212;
          %time(datetime="2017-02-11T11:45") 11:45
        %td
          %a(href="#kurt-cunningham" rel="nofollow")
            %strong.event-schedule-room(data-room="Blue") Kurt Cunningham
          .event-schedule-offset Let&#8217;s Refactor That Sass
        %td
          %a(href="#chris-courtney" rel="nofollow")
            %strong.event-schedule-room(data-room="Red") Chris Courtney
          .event-schedule-offset Beyond the Show: The Making of Job-Ready Designers
        %td
          %a(href="#arlo-bryan-guthrie" rel="nofollow")
            %strong.event-schedule-room(data-room="Yellow") Arlo Bryan Guthrie
          .event-schedule-offset So They Agreed to a Design System. Now What?

      %tr
        %th
          %time(datetime="2017-02-11T11:45") 11:45
          &#8212;
          %time(datetime="2017-02-11T13:00") 1:00
        %td.event-schedule-offset(colspan="3") Lunch
      
      %tr
        %th
          %time(datetime="2017-02-11T13:00") 1:00
          &#8212;
          %time(datetime="2017-02-11T13:45") 1:45
        %td
          %a(href="#john-polacek" rel="nofollow")
            %strong.event-schedule-room(data-room="Blue") John Polacek
          .event-schedule-offset Rethinking CSS: Go Functional for Scaling, Performance &amp; Simplicity
        %td
          .event-schedule-offset(data-room="Red") &mdash;
        %td
          %a(href="#rudy-rigot" rel="nofollow")
            %strong.event-schedule-room(data-room="Yellow") Rudy Rigot
          .event-schedule-offset Human Scaling on the Front-End

      %tr
        %th
          %time(datetime="2017-02-11T13:45") 1:45
          &#8212;
          %time(datetime="2017-02-11T14:00") 2:00
        %td.event-schedule-offset(colspan="3") Break
      
      %tr
        %th
          %time(datetime="2017-02-11T14:00") 2:00
          &#8212;
          %time(datetime="2017-02-11T14:45") 2:45
        %td
          %a(href="#rebecca-miller-webster" rel="nofollow")
            %strong.event-schedule-room(data-room="Blue") Rebecca Miller-Webster
          .event-schedule-offset All About the Client &amp; Server
        %td
          %a(href="#brad-larson" rel="nofollow")
            %strong.event-schedule-room(data-room="Red") Brad Larson
          .event-schedule-offset HTML5 Animation &amp; Advertising
        %td
          %a(href="#brian-montana" rel="nofollow")
            %strong.event-schedule-room(data-room="Yellow") Brian Montana
          .event-schedule-offset Through the Lens of Design as a Developer

      %tr
        %th
          %time(datetime="2017-02-11T14:45") 2:45
          &#8212;
          %time(datetime="2017-02-11T15:15") 3:15
        %td.event-schedule-offset(colspan="3") Afternoon Snack
      
      %tr
        %th
          %time(datetime="2017-02-11T15:15") 3:15
          &#8212;
          %time(datetime="2017-02-11T16:00") 4:00
        %td(colspan="3")
          %a(href="#jim-remsik" rel="nofollow")
            %strong.event-schedule-room(data-room="Blue") Jim Remsik
          .event-schedule-offset Trust Keynote

      %tr
        %th
          %time(datetime="2017-02-11T16:00") 4:00
          &#8212;
          %time(datetime="2017-02-11T16:15") 4:15
        %td.event-schedule-offset(colspan="3") Closing Ceremonies

%section#speakers.main-content.main-bg-alt
  .container

    %h3.h-section Speakers

    - content_for :talk_arlo_bryan_guthrie do

      %h3 So They Agreed to a Design System. Now What?

      %p You demonstrated the benefits, you gave several presentations, and they gave your design system proposal a +1. Where do you go from here? In this presentation, I&#8217;ll talk about the early steps Sprout Social took to ensure their design system got off to a strong start. Identify your stakeholders, set their expectations early, and demonstrate empathy for their needs. Learn from our mistakes and successes. We&#8217;ll even dive into a little code to demonstrate how our specific needs helped us determine when to use a third-party solution and when to build something ourselves.

    - content_for :talk_brad_larson do

      %h3 HTML5 Animation &amp; Advertising

      %p Brad will be discussing some of the challenges of digital design and animation. He will show how they solve some of those issues at BannerWave. In doing so, he will cover display ads and how BannerWave is innovating advertising on the web.

    - content_for :talk_brian_montana do

      %h3 Through the Lens of Design as a Developer

      %p The discussions in digital workflow have focused on the expectation of the designer communicating and thinking like a developer, an artifact of the waterfall workflow. The dynamic of the emerging workflow, repositions the conversations away from the canon and invites others to use empathy when collaborating on projects. 

      %p The talk will cover how I communicate as a developer through the perspective of designer and how making a designers life easier makes the current and future projects easier to manage.

    - content_for :talk_chris_courtney do

      %h3 Beyond the Show: The Making of Job-Ready Designers
    
      %p Every year thousands of designers graduate from our educational institutions, yet many are not hired even though thousands of open positions go unfilled. Why is that? At Bloc, we&#8217;ve had conversations with hundreds of design program graduates and the design leaders who have hired them. This gives us a very good read on how graduates successfully land jobs as well as what design leaders see in these graduates that makes them want to bring them on. This talk will break apart what the ideal design graduate looks like to industry and investigate how we as educators can prepare the next wave of graduates to have a greater chance of success.

    - content_for :talk_jessica_bertling do

      %h3 Tale of Two Redesigns

      %p As we move into a world of continuous deployment, divided work, fast moving ops teams and agile time boxes, how does something like a full responsive site overhaul or site redesign get accomplished without a mess of conflicts or new development freezes? What happens when you take two sister companies, both on the Internet Retailer Top 500 list, and try two completely different approaches? We&#8217;ll talk about what we learned, show you some pitfalls to avoid, and how we ultimately completed a successful full site responsive redesign in "bite sized" pieces, independent of other development, without disrupting the customer experience. 

    - content_for :talk_john_polacek do

      %h3 Rethinking CSS: Go Functional for Scaling, Performance &amp; Simplicity

      %p We can be our own worst enemies when it comes to creating CSS architectures. Functional CSS is a simple approach to creating and following consistent design patterns that lead to performant web applications at scale. If you do it right, the older a project gets, the less CSS you write. The only catch is that you may have to change the way you think.

      %p We will look at real world applications of this technique, and show how you can apply it, from prototypes to large scale mature web applications.

    - content_for :talk_kurt_cunningham do

      %h3 Let&#8217;s Refactor That Sass

      %p Sass is a powerful pre-processor. That&#8217;s a given. Since it&#8217;s release Sass has helped designers and front-end developer&#8217;s create more modular stylesheets. But it&#8217;s so much more than just variables and nested selectors. By using functions, mixins, and yes, even extends, we can write powerful design architectures in less code and better prepare our systems for future feature development.

      %p Let&#8217;s take advantage of all that Sass provides us. Over the years, I&#8217;ve seen&mdash;and made&mdash;many common mistakes in Sass that could be cleaned up with some refactoring. &#8220;Let&#8217;s refactor that Sass&#8221; is a phrase my co-workers are sick of hearing. But, it&#8217;s something I find myself saying on a daily basis. And something, hopefully, you&#8217;ll be saying too.

    - content_for :talk_rebecca_miller_webster do

      %h3 All About the Client &amp; Server

      %p New JavaScript frameworks and libraries popping up everywhere. Code that was once only on the server is now performing beautifully on the client. Data that once only lived in one part of your application is needed everywhere.

      %p But the truth is that the internet &mdash; its fundamental protocols and constraints &mdash; hasn&#8217;t changed much in the last couple decades. We&#8217;ve just gotten better at working within those constraints. Maybe we&#8217;ve gotten too good.

      %p Let&#8217;s discuss the fundamentals of interacting with the client and the server. We&#8217;ll discuss the basic ways to connect JavaScript with a web application using examples in Ruby on Rails and other web frameworks. You&#8217;ll leave the talk able to assess the best approach for your app&#8217;s needs, communicate with your backend team and a deeper understanding of how the libraries and frameworks you use work under the hood.

    - content_for :talk_rudy_rigot do
    
      %h3 Human Scaling on the Front-End

      %p Your product (or your client&#8217;s product) is kicking butt, and the userbase is ever growing, allowing to hire more engineers to build more experimental features, more interactions, more experiences in your product. Soon, a dreadful problem starts arising: how do you ensure that one team&#8217;s work in your crowd of engineers doesn&#8217;t unwillingly break or impact another team&#8217;s front-end work? How do you scale humans on the front-end while limiting risk?

      %p We&#8217;ll briefly look at how that problem is being solved on the back-end in large companies (Google, Apple, Uber, Salesforce) to see what we can learn from it for the front-end, and then we&#8217;ll dive in the opportunities that current front-end framework are leveraging. We&#8217;ll discuss component-based approaches in particular, since they&#8217;re designed as a solution to that problem, and will review the solutions they bring, but also the new challenges, and what future we can expect to them.
    
    - content_for :talk_stacy_kvernmo do

      %h3 The Great State of Design with CSS Grid Layout &amp; Friends

      %p For far too long we&#8217;ve been forced to reuse layout patterns that have worked in the past, creating a web full of sites that all look the same. Lack of browser support, no true layout system, and designers who are forced to make safe decisions for budget or timeline reasons have led us to create work that is rarely creative nor inspiring.

      %p I&#8217;ve spent years exploring how we can make the web a more unique space. Many CSS properties have been overlooked, but support has grown and many of these features are available now or can be used as enhancements. One of these new features is CSS Grid Layout, which will play a major role in layout design. Having a true, 2 dimensional grid will give our layouts much more flexibility and it is on us to explore the possibilities.

    - content_for :talk_taylor_poulos do

      %h3 Ironing Pixels &ndash; How to Achieve Perfect Type on the Web

      %p Designers are an obsessive group of people, especially where type is concerned. 18th Century type designer John Baskerville famously ironed each sheet of paper and brewed his own ink to achieve darker, more uniform letters. This attention to detail produced books that noticeably advanced the state of the art.

      %p However, as design has become more digital and less tactile, designers have become removed from the process of setting type. Few understand how the bits on their hard drive get turned into letterforms on the screen. As Mig Reyes pointed out, modern interfaces are 90 percent typography, and it is more important than ever to set type effectively. By learning more about the process of how type gets rendered on a screen, we&#8217;ll be equipped to sweat the details and build beautiful, typographically pristine websites.

      %p In this talk, we&#8217;ll get into the nitty gritty of how type is rendered. We&#8217;ll cover:

      %ul.list-ul
        %li What information goes into a font file, and how to tell if a font has been built to work effectively on a wide variety of screens
        %li Web font loading and rendering, and how this process is different than what you might be familiar with in Sketch or Illustrator
        %li Emerging standards—like variable fonts—that will change the way we set type on the web in the upcoming years

    = partial "partials/events/speakers", locals: {speakers: speakers}

= partial "partials/events/location-columbia-film-row"
