---
title: Front-end Camp
date: 2017-06-03 01:00 CDT
category: events
alias: front-end-camp
location: Columbia College Film Row &ndash; Chicago
header_image_photographer: Bhaskar Peddhapati
header_image_url: https://flic.kr/p/nQfMy5
summary: If you want to ramp up your HTML, CSS, Javascript, and throw in a bit of UX and Design for good measure, Front-end Camp is the event you won&#8217;t want to miss!
---

- keynotes = []
- speakers = ["Arlo Bryan Guthrie", "Chris Courtney", "Jessica Bertling", "John Polacek", "Stacy Kvernmo"]
- sponsors = ["Columbia College", "Lead Honestly", "Rosenfeld"]

%nav.event-nav.group(data-js="event-nav")
  .container
    %ul.event-nav-content
      %li.event-nav-title
        %a(href="#top" rel="nofollow") Front-end Camp
      %li
        %a(href="#details" rel="nofollow") Details
      -#
        %li
          %a(href="#keynotes" rel="nofollow") Keynotes
        %li
          %a(href="#schedule" rel="nofollow") Schedule
      %li
        %a(href="#speakers" rel="nofollow") Speakers
      %li
        %a(href="#location" rel="nofollow") Location

    %a.btn.btn-alt.event-nav-btn(href="https://chicagocamps.ticketleap.com/front-end-camp-2017/dates/Jun-03-2017_at_0830AM" rel="nofollow")
      Join Us for
      %strong Only $60

%section#details.main-content
  .container

    %h3.h-section Details

    %h2 If you want to ramp up your HTML, CSS, Javascript, and throw in a bit of UX and Design for good measure, Front-end Camp is the event you won&#8217;t want to miss!

    %p It takes a lot to stay current when you work in front-end design and development, and Front-end Camp will bring you presentations that help you level up. We&#8217;ll provide you with a full-day of presentations on the topics that are important to you, from speakers who bring the front-end knowledge and all for a great price that includes your lunch.

    %h3 Interested in Sponsoring Front-End Camp?

    %p We&#8217;re actively looking for <a href="/contact/">sponsors</a> for Front-End Camp. If you&#8217;re interested, or if you know someone we should talk to, <a href="/proposal/">please let us know</a>!

    %p Sign up now&#8211;these tickets go fast!

    .event-cta
      %a.btn.btn-alt(href="https://chicagocamps.ticketleap.com/front-end-camp-2017/dates/Jun-03-2017_at_0830AM" rel="nofollow")
        Join Us for Only $60 &#8212; Limited Tickets Available

    %h3 Meet Our Awesome Sponsors
    
    %p These fantastic sponsors are helping us bring this great event to you.

    = partial "partials/events/sponsors", locals: {sponsors: sponsors}

-#
  %section#keynotes.main-content.main-bg-alt
    .container

      %h3.h-section Keynotes
      = partial "partials/events/speakers", locals: {speakers: keynotes}

-#
  %section#schedule.main-content.main-bg-highlight
    .container

      %h3.h-section Schedule

      %h4 Coming soon!

%section#speakers.main-content.main-bg-alt
  .container

    %h3.h-section Speakers

    %h3 Call for Speakers
    
    %p Are you interested in speaking at Front-End Camp? We sure hope so! <a href="/proposal/">Submit your talk</a> and let us know what&#8217;s on your mind to share.

    %p First time speaker, or have limited experience? Let us know&mdash;we welcome new speakers and have been known to help folks round out their proposals.

    %p <a href="/proposal/">Submit your talk</a>&mdash;come hang out with us in Chicago and share what you&#8217;ve learned!

    - content_for :talk_arlo_bryan_guthrie do

      %h3 So They Agreed to a Design System. Now What?

      %p You demonstrated the benefits, you gave several presentations, and they gave your design system proposal a +1. Where do you go from here? In this presentation, I&#8217;ll talk about the early steps Sprout Social took to ensure their design system got off to a strong start. Identify your stakeholders, set their expectations early, and demonstrate empathy for their needs. Learn from our mistakes and successes. We&#8217;ll even dive into a little code to demonstrate how our specific needs helped us determine when to use a third-party solution and when to build something ourselves.

    - content_for :talk_chris_courtney do

      %h3 Beyond the Show: The Making of Job-Ready Designers
    
      %p Every year thousands of designers graduate from our educational institutions, yet many are not hired even though thousands of open positions go unfilled. Why is that? At Bloc, we&#8217;ve had conversations with hundreds of design program graduates and the design leaders who have hired them. This gives us a very good read on how graduates successfully land jobs as well as what design leaders see in these graduates that makes them want to bring them on. This talk will break apart what the ideal design graduate looks like to industry and investigate how we as educators can prepare the next wave of graduates to have a greater chance of success.

    - content_for :talk_jessica_bertling do

      %h3 Tale of Two Redesigns

      %p As we move into a world of continuous deployment, divided work, fast moving ops teams and agile time boxes, how does something like a full responsive site overhaul or site redesign get accomplished without a mess of conflicts or new development freezes? What happens when you take two sister companies, both on the Internet Retailer Top 500 list, and try two completely different approaches? We&#8217;ll talk about what we learned, show you some pitfalls to avoid, and how we ultimately completed a successful full site responsive redesign in "bite sized" pieces, independent of other development, without disrupting the customer experience. 

    - content_for :talk_john_polacek do

      %h3 Rethinking CSS: Go Functional for Scaling, Performance and Simplicity

      %p We can be our own worst enemies when it comes to creating CSS architectures. Functional CSS is a simple approach to creating and following consistent design patterns that lead to performant web applications at scale. If you do it right, the older a project gets, the less CSS you write. The only catch is that you may have to change the way you think.

      %p We will look at real world applications of this technique, and show how you can apply it, from prototypes to large scale mature web applications.

    - content_for :talk_stacy_kvernmo do

      %h3 The Great State of Design with CSS Grid Layout &amp; Friends

      %p For far too long we&#8217;ve been forced to reuse layout patterns that have worked in the past, creating a web full of sites that all look the same. Lack of browser support, no true layout system, and designers who are forced to make safe decisions for budget or timeline reasons have led us to create work that is rarely creative nor inspiring.

      %p I&#8217;ve spent years exploring how we can make the web a more unique space. Many CSS properties have been overlooked, but support has grown and many of these features are available now or can be used as enhancements. One of these new features is CSS Grid Layout, which will play a major role in layout design. Having a true, 2 dimensional grid will give our layouts much more flexibility and it is on us to explore the possibilities.

    = partial "partials/events/speakers", locals: {speakers: speakers}

= partial "partials/events/location-columbia-film-row"
