---
title: UX Camp Spring
date: 2018-05-19 01:00 CDT
category: events
alias: ux-camp
location: Columbia College Film Row &ndash; Chicago
header_image_photographer: Anne Worner
header_image_url: https://flic.kr/p/fhkjZh
summary: UX Camp is a full day of UX Goodness&#8211;we&#8217;ll leave few topics uncovered and you&#8217;ll learn current topics and improved upon standards in one of the hottest fields today!
---

- sponsors = ["Columbia College", "Lead Honestly",]
- keynotes = ["Don Bora"]
- speakers = ["Alina Cvetkova", "Alissa Ampezzan", "Amanda Weller", "Snigdha Sah", "Brian Montana", "Claire Mallory", "Colleen Pellissier", "Neil Jacobsen", "Dale Sande", "Eva PenzeyMoog", "Fei Ren", "Jeff Eaton", "Karmen Kaufmann", "Katie Swindler"]

%nav.event-nav.group(data-js="event-nav")
  .container
    %ul.event-nav-content
      %li.event-nav-title
        %a(href="#top" rel="nofollow") UX Camp
      %li
        %a(href="#details" rel="nofollow") Details
      %li
        %a(href="#keynotes" rel="nofollow") Keynotes
      -#
        %li
          %a(href="#schedule" rel="nofollow") Schedule
      %li
        %a(href="#speakers" rel="nofollow") Speakers
      %li
        %a(href="#location" rel="nofollow") Location

    %a.btn.btn-alt.event-nav-btn(href="https://chicagocamps.ticketleap.com/ux-camp-spring-2018/" rel="nofollow")
      Join Us for
      %strong Only $60

%section#details.main-content
  .container

    %h3.h-section Details

    %h2 UX Camp is a full day of UX Goodness&#8211;we&#8217;ll leave few topics uncovered and you&#8217;ll learn current topics and improved upon standards in one of the hottest fields today!

    %p If you&#8217;re just getting your start in UX and you&#8217;re hoping to learn more, or you&#8217;ve been in the field awhile and want to stay current, UX Camp is for you. A full day&#8211;3 full tracks&#8211;of UX talks, surrounded by impressive keynotes and all for a great price that includes your lunch. 

    %p Sign up now&#8211;these tickets go fast!

    .event-cta
      %a.btn.btn-alt(href="https://chicagocamps.ticketleap.com/ux-camp-spring-2018/" rel="nofollow")
        Join Us for Only $60 &#8212; Limited Tickets Available

    %h3 Meet Our Awesome Sponsors
    
    %p These fantastic sponsors are helping us bring this great event to you.

    = partial "partials/events/sponsors", locals: {sponsors: sponsors}

    %h3 Interested in Sponsoring UX Camp?

    %p We&#8217;re actively looking for <a href="/contact/">sponsors</a> for UX Camp. If you&#8217;re interested, or if you know someone we should talk to, <a href="/contact/">please let us know</a>!

%section#keynotes.main-content.main-bg-alt
  .container

    %h3.h-section Keynotes
    = partial "partials/events/speakers", locals: {speakers: keynotes}

-#
  %section#schedule.main-content.main-bg-highlight
    .container

      %h3.h-section Schedule

      %table.event-schedule

        %tr
          %th
            %time(datetime="2018-05-19T08:30") 8:30
            &#8212;
            %time(datetime="2018-05-19T09:00") 9:00
          %td.event-schedule-offset(colspan="3") Registration &amp; Breakfast

        %tr
          %th
            %time(datetime="2018-05-19T09:00") 9:00
            &#8212;
            %time(datetime="2018-05-19T09:45") 9:45
          %td(colspan="3")
            %a(href="#gail-swanson" rel="nofollow")
              %strong.event-schedule-room(data-room="Blue") Gail Swanson
            .event-schedule-offset Presenting Design Work to Decision Makers Keynote

        %tr
          %th
            %time(datetime="2018-05-19T09:45") 9:45
            &#8212;
            %time(datetime="2018-05-19T10:00") 10:00
          %td.event-schedule-offset(colspan="3") Morning Break

        %tr
          %th Rooms
          %td.event-schedule-distributed
            %strong Blue
            %span.event-schedule-offset (Main)
          %td.event-schedule-distributed
            %strong Red
          %td.event-schedule-distributed
            %strong Yellow

        %tr
          %th
            %time(datetime="2018-05-19T10:00") 10:00
            &#8212;
            %time(datetime="2018-05-19T10:45") 10:45
          %td
            %a(href="#david-farkas" rel="nofollow")
              %strong.event-schedule-room(data-room="Blue") David Farkas
            .event-schedule-offset UX Field Research Basics
          %td
            %a(href="#margot-harrington" rel="nofollow")
              %strong.event-schedule-room(data-room="Red") Margot Harrington
            .event-schedule-offset Design Tools for Political Justice
          %td
            %a(href="#garrett-polifka" rel="nofollow")
              %strong.event-schedule-room(data-room="Yellow") Garrett Polifka &amp; Jayne Spottswood
            .event-schedule-offset Picking from the Grove, How We Discovered the Citrus Design System &amp; Helped It Flourish
        
        %tr
          %th
            %time(datetime="2018-05-19T10:45") 10:45
            &#8212;
            %time(datetime="2018-05-19T11:00") 11:00
          %td.event-schedule-offset(colspan="3") Break
        
        %tr
          %th
            %time(datetime="2018-05-19T11:00") 11:00
            &#8212;
            %time(datetime="2018-05-19T11:45") 11:45
          %td
            %a(href="#brad-nunnally" rel="nofollow")
              %strong.event-schedule-room(data-room="Blue") Brad Nunnally
            .event-schedule-offset See What I Mean &#8212; The Hidden Language of the Body
          %td
            %a(href="#zeke-binion" rel="nofollow")
              %strong.event-schedule-room(data-room="Red") Zeke Binion
            .event-schedule-offset Facilitating Google Design Sprints
          %td
            %a(href="#mike-gorgone" rel="nofollow")
              %strong.event-schedule-room(data-room="Yellow") Mike Gorgone
            .event-schedule-offset ImprovUX: Creating a Culture with Trust, Empathy &amp; Collaboration

        %tr
          %th
            %time(datetime="2018-05-19T11:45") 11:45
            &#8212;
            %time(datetime="2018-05-19T13:00") 1:00
          %td.event-schedule-offset(colspan="3") Lunch
        
        %tr
          %th
            %time(datetime="2018-05-19T13:00") 1:00
            &#8212;
            %time(datetime="2018-05-19T13:45") 1:45
          %td
            %a(href="#autumn-schultz" rel="nofollow")
              %strong.event-schedule-room(data-room="Blue") Autumn Schultz
            .event-schedule-offset Askin&#8217; Aint Easy
          %td
            %a(href="#lauren-johnson" rel="nofollow")
              %strong.event-schedule-room(data-room="Red") Lauren Johnson
            .event-schedule-offset The Benefits of Iterative Failure
          %td
            %a(href="#wilson-lee" rel="nofollow")
              %strong.event-schedule-room(data-room="Yellow") Wilson Lee
            .event-schedule-offset Accessible UI for Color-Blind Users

        %tr
          %th
            %time(datetime="2018-05-19T13:45") 1:45
            &#8212;
            %time(datetime="2018-05-19T14:00") 2:00
          %td.event-schedule-offset(colspan="3") Break
        
        %tr
          %th
            %time(datetime="2018-05-19T14:00") 2:00
            &#8212;
            %time(datetime="2018-05-19T14:45") 2:45
          %td
            %a(href="#lauren-lucchese" rel="nofollow")
              %strong.event-schedule-room(data-room="Blue") Lauren Lucchese
            .event-schedule-offset Real Talk: Designing Content That Builds Trust
          %td
            %a(href="#nikola-ranguelov" rel="nofollow")
              %strong.event-schedule-room(data-room="Red") Nikola Ranguelov
            .event-schedule-offset Designing for All the Rs (VR/AR/SR/MR/HR/etc.)
          %td
            %a(href="#daniel-orbach" rel="nofollow")
              %strong.event-schedule-room(data-room="Yellow") Daniel Orbach
            .event-schedule-offset The Journey to a Better Bar Graph

        %tr
          %th
            %time(datetime="2018-05-19T14:45") 2:45
            &#8212;
            %time(datetime="2018-05-19T15:15") 3:15
          %td.event-schedule-offset(colspan="3") Afternoon Snack
        
        %tr
          %th
            %time(datetime="2018-05-19T15:15") 3:15
            &#8212;
            %time(datetime="2018-05-19T16:00") 4:00
          %td(colspan="3")
            %a(href="#jeff-eaton" rel="nofollow")
              %strong.event-schedule-room(data-room="Blue") Jeff Eaton
            .event-schedule-offset The Map Is Not The Territory: Collaborative Content Modeling for Digital Teams Keynote

        %tr
          %th
            %time(datetime="2018-05-19T16:00") 4:00
            &#8212;
            %time(datetime="2018-05-19T16:15") 4:15
          %td.event-schedule-offset(colspan="3") Closing Ceremonies

%section#speakers.main-content.main-bg-alt
  .container

    - content_for :talk_alina_cvetkova do

      %h3 Anticipating User Needs with Data
      
      %p These days it is not enough to simply provide an interface for the users to reach their goal: users expect so much more from products. It&#8217;s essential to address user needs in a smart way, and sometimes there are needs which the user hasn&#8217;t even expressed yet. 

      %p Anticipatory design and smart data help address this. We&#8217;ll explore a practical way that shows how to identify and use data that can help users reach their goals by boosting their journey with useful and helpful information.

    - content_for :talk_alissa_ampezzan do

      %h3 Getting the F-U Out of Cross-Function

      %p All those job postings and career pages that taut the fun of working on a multi-disciplinary team… to solve the world&#8217;s greatest problems&hellip; in the trendiest office space you&#8217;ve ever seen&hellip; are full of it. It&#8217;s hard. It&#8217;s easy to sing kumbaya and talk about togetherness on your culture blog. In reality, effective cross-function is a daily struggle. But it&#8217;s critical to building successful products. Increasingly, the role of the designer on a pod/squad/scrum seems to be peacekeeper, translator, or even therapist. “Empathy” takes on a whole new meaning when it&#8217;s a fussy internal subject matter expert and not your idyllic external user. As a group, we&#8217;ll share real examples of working across domains and the macro and micro approaches to building consensus in order to make real progress day-to-day.

    - content_for :talk_snigdha_sah do

      %h5.lineup-subtitle.h-sm-caps-gray Amanda &amp; Snigdha present:

      %h3 Crossing Cultures: Making Global Research Work

      %p It has become imperative that companies and corporations that are committed to enhancing the user experience consider the unique challenges and perspectives of users across the globe. As the world becomes smaller, and markets shift and consolidate, opportunities expand.

      %p But conducting research on a global scale carries some unique challenges. For example, how do you conduct ethnographies in India, or manage a usability test in a country with low Internet penetration? What is the best method for reaching the underbanked in the Philippines? How do privacy laws effect research in Germany and Japan? How do you test successfully in markets where participants are likely to sign up for research only for the incentive? What about navigating different approaches to live, simultaneous interpretation?

      %p We&#8217;ll discuss the expanded focus of research to global and newly emerging markets such as the Middle East and North Africa; the value  and importance of a global perspective and the indispensable nature of localizing research and specific challenges and best practices for managing and executing a global project. You&#8217;ll walk away with actionable takeaways on practical approaches geared towards successful global projects, including but not limited to management of cultural differences and tips on smart recruitment and communication. We&#8217;ll also include a couple of case studies for illustration.

    - content_for :talk_brian_montana do

      %h3 Web Animation API-llusion of Life

      %p Animation in applications and on the web are much more commonplace, however, whether or not they are an enhancement to the user experience is suspect. The first question we need to ask ourselves is &#8220;do we need animation?&#8221; and if we decide the answer is yes, then we need to know where to begin to craft an effective animation experience.

      %p Animation has become a strong way to telegraph intent to users and give personality to products. There&#8217;s an amazing world of principles to learn from and rich history to investigate that will shape your vernacular and purpose when working with animation. We&#8217;ll start with the beginning of animation usage and move into the foundations that lead to believable and useful animations. Then, we&#8217;ll get current and learn about how to implement UI/UX animations and the Web Animation API that leverages a more performant approach to dynamically animating UI. 

      %p There will be animation, code and friendship!

    - content_for :talk_claire_mallory do

      %h3 Don&#8217;t Fear the Recruit!

      %p A solid recruit is essential for good research—UX cannot exist without research, and research requires participants. And yet, recruiting can seem like a daunting or insurmountable task. As the foundation of successful user research, recruitment deserves careful attention. 

      %p In this talk, we will focus on the many possible (and varied) ways to secure research participants. We&#8217;ll share the pros and cons of each approach, from scrappy DIY methods to outsourcing your recruit to the professionals. We will also discuss best practices for defining your target audience, writing a screener, and compensating participants. You will leave with an understanding of the tools and techniques necessary for a successful recruit, putting you in the best position to conduct successful UX research.
    
    - content_for :talk_dale_sande do

      %h3 Empowering Your UI Design Systems

      %p It&#8217;s time to dispell these misconceptions about building design systems, their role, and issues with maintenance. This talk will also propose new ideas in the industry in regards to building a design system that is integrated into the production development workflow. After all, the more you can involve the whole team in a process, the more likely you will create a process that outlasts the members of the team.

      %p This talk will cover conceptually what a design system is and how to best abstract UI elements from a design and apply to an application. Tools such as <a href="https://fractal.build/" rel="nofollow">Fractal</a> and <a href="http://patternlab.io/" rel="nofollow">Pattern Lab</a> will be reviewed, while integration tools like <a href="https://www.styled-components.com/" rel="nofollow">styled components</a> and <a href="https://react-styleguidist.js.org/" rel="nofollw">React Styleguidist</a> or <a href="https://storybook.js.org/" rel="nofollow">Storybook</a> will be discussed in detail for how to properly weaponize and maintain your UI across your whole team.

    - content_for :talk_neil_jacobsen do

      %h5.lineup-subtitle.h-sm-caps-gray Colleen &amp; Neil present:

      %h3 Telling the Best Story All the Time, Every Single Time. Forever.

      %p Storytelling tools and methods help throughout the design thinking process, while executing a UX practice, and sharing deliverables. How can we share design choices with clients or stakeholders? How did we arrive at the design decision we made? 

      %p You&#8217;ve done the work and now need engaging ways to frame or present your findings. Being able to tell a good story supports and enhances your presentations, deliverables, and meetings. We&#8217;ll also look different mediums used to tell your story, from verbal to visual and how to engage and effectively communicate with your audience.

      %p By the end of this presentation, we aim to leave the attendee with actionable strategies to tell better stories, anecdotes to share over dinner, and a fierce desire to get around a campfire and tell a tale.

    - content_for :talk_eva_penzeymoog do

      %h3 Designing Against Domestic Violence

      %p The reality of domestic violence doesn&#8217;t disappear when people leave enter the digital world. Abusers use technology to exploit and control their victims, meaning that technologists have a responsibility to ensure that users of our products are empowered to protect their safety. How can we prevent people with violent intentions from forms of abuse and control that are digital, such as browsing a victim&#8217;s computer, finding sensitive information about them online, or creating fake content in their name? How can our products that involve real people, such as software for building managers, protect against an abuser talking their way past a building&#8217;s doorman whose uses software to track approved guests? While there&#8217;s no simple answer and ultimately no way to ensure our users&#8217; safety in all situations, thoughtful considerations and small changes while designing and building products can and does result in meaningful contributions to people&#8217;s safety. This talk will explore how to think through a lens of safety, create those thoughtful considerations, and advocate for an emphasis on safety.

      %p <em>This presentation will deal explicitly with domestic violence and may be triggering for some attendees. Please do not hesitate to leave the room at any time should you need to.</em>

    - content_for :talk_fei_ren do

      %h3 Understanding &amp; Improving Information Architecture

      %p Information architecture is the art and science of organizing information in the digital world. A lot of times, UX designers and researchers take the responsibility of understanding and improving information architecture of a product. However, it is tricky because users may categorize information differently. This presentation will cover the research methodologies, tools, and skills to study and refine information architecture. Also I will cover the common biases on IA research methodologies.

    - content_for :talk_jeff_eaton do

      %h3 Hi, {{FIRSTNAME}}!
      
      %p Personalization is hot: Whether you&#8217;re a designer, a developer, an information architect, or a marketer, you&#8217;ve probably had *someone* tell you your next project will need it. Beneath the products and the hype, though, there&#8217;s a tangle of complex assumptions and challenges that can make the difference between success and failure. In this session, Jeff will explain the basic conceptual building blocks shared by most personalization techniques; explore two projects that used those techniques in simple and complex ways; and give you a checklist of things to ask when your boss &ndash; or a salesperson &ndash; tells you Personalization Is What You Need.
    
    - content_for :talk_karmen_kaufmann do

      %h3 How to Shut Up &amp; Listen

      %p When conducting research with users, designers are always thinking one step ahead. &#8220;Should I take them down that thought path? How much more time do I have? What&#8217;s the next question I should ask?&#8221;

      %p Unfortunately, this is how most people have conversations in their daily life as well—completely one-sided, selfish, and focused on the next time they get to talk. That just doesn&#8217;t work when you&#8217;re trying to get genuine stories out of people.

      %p Using the Constructivist Listening Dyad (a tool developed for educators), design researchers can uncover greater insights through listening, and not just thinking one step ahead to guide the conversation. By forcing yourself to remain silent and fully dedicate yourself to listening to your users, you will empower them to speak their truth. In the end you&#8217;ll have honest insights from your users that will guide your design.

      %p In this session, participants (anyone from designers, researchers, and strategists) will walk away with a refreshed empathy for their research subjects, a new method to apply to their generative research, and refined skills in active listening.

    - content_for :talk_katie_swindler do

      %h3 Animation in UX: The Subconscious Influence of Motion

      %p If you&#8217;re not leveraging interface animations to influence your users, you are missing a critical component of UX design. Like body language, motion design supplies a rich, often-subconscious layer of meaning and personality to every micro-interaction. Digital products can leverage the same techniques used by cartoon animators, actors and dancers to convey personality, improve comprehension and influence behavior through movement. Learn the right animation styles for your brand, users and product.  

    %h3.h-section Speakers
    = partial "partials/events/speakers", locals: {speakers: speakers}

    .event-cta
      %a.btn.btn-alt(href="https://chicagocamps.ticketleap.com/ux-camp-spring-2018/" rel="nofollow")
        Join Us for Only $60 &#8212; Limited Tickets Available

= partial "partials/events/location-columbia-film-row"
