---
title: UX Camp Fall
date: 2018-11-10 01:00 CDT
category: events
alias: ux-camp
location: Columbia College Film Row &ndash; Chicago
header_image_photographer: Anne Worner
header_image_url: https://flic.kr/p/fhkjZh
summary: UX Camp is a full day of UX Goodness&#8211;we&#8217;ll leave few topics uncovered and you&#8217;ll learn current topics and improved upon standards in one of the hottest fields today!
---

- sponsors = ["Columbia College", "Lead Honestly",]
- keynotes = ["Natalie D. Hanson, Ph.D."]
- speakers = ["Amy Johnson", "Brian Santiago", "Cynthia Gelper", "Diana Deibel", "Julie Morycz", "Garrett Polifka", "Eva PenzeyMoog", "Gabby Hon", "Jon Yablonski"]

%nav.event-nav.group(data-js="event-nav")
  .container
    %ul.event-nav-content
      %li.event-nav-title
        %a(href="#top" rel="nofollow") UX Camp
      %li
        %a(href="#details" rel="nofollow") Details
      %li
        %a(href="#keynotes" rel="nofollow") Keynotes
      %li
        %a(href="#schedule" rel="nofollow") Schedule
      %li
        %a(href="#speakers" rel="nofollow") Speakers
      %li
        %a(href="#location" rel="nofollow") Location

    %a.btn.btn-alt.event-nav-btn(href="https://chicagocamps.ticketleap.com/ux-camp-fall-2018/" rel="nofollow")
      Join Us for
      %strong Only $60

%section#details.main-content
  .container

    %h3.h-section Details

    %h2 UX Camp is a full day of UX Goodness&#8211;we&#8217;ll leave few topics uncovered and you&#8217;ll learn current topics and improved upon standards in one of the hottest fields today!

    %p If you&#8217;re just getting your start in UX and you&#8217;re hoping to learn more, or you&#8217;ve been in the field awhile and want to stay current, UX Camp is for you. A full day&#8211;2 full tracks&#8211;of UX talks, surrounded by impressive keynotes and all for a great price that includes your lunch. 

    %p Sign up now&#8211;these tickets go fast!

    .event-cta
      %a.btn.btn-alt(href="https://chicagocamps.ticketleap.com/ux-camp-fall-2018/" rel="nofollow")
        Join Us for Only $60 &#8212; Limited Tickets Available

    %h3 Meet Our Awesome Sponsors
    
    %p These fantastic sponsors are helping us bring this great event to you.

    = partial "partials/events/sponsors", locals: {sponsors: sponsors}

%section#keynotes.main-content.main-bg-alt
  .container

    %h3.h-section Keynotes
    = partial "partials/events/speakers", locals: {speakers: keynotes}

%section#schedule.main-content.main-bg-highlight
  .container

    %h3.h-section Schedule

    %table.event-schedule

      %tr
        %th
          %time(datetime="2018-11-10T08:30") 8:30
          &#8212;
          %time(datetime="2018-11-10T09:00") 9:00
        %td.event-schedule-offset(colspan="2") Registration &amp; Breakfast

      %tr
        %th
          %time(datetime="2018-11-10T09:00") 9:00
          &#8212;
          %time(datetime="2018-11-10T09:45") 9:45
        %td(colspan="2")
          %a(href="#natalie-hanson" rel="nofollow")
            %strong.event-schedule-room(data-room="Blue") Natalie Hanson
          .event-schedule-offset Keynote

      %tr
        %th
          %time(datetime="2018-11-10T09:45") 9:45
          &#8212;
          %time(datetime="2018-11-10T10:00") 10:00
        %td.event-schedule-offset(colspan="2") Morning Break

      %tr
        %th Rooms
        %td
          %strong Blue
          %span.event-schedule-offset (Main)
        %td
          %strong Red

      %tr
        %th
          %time(datetime="2018-11-10T10:00") 10:00
          &#8212;
          %time(datetime="2018-11-10T10:45") 10:45
        %td
          %a(href="#amy-johnson" rel="nofollow")
            %strong.event-schedule-room(data-room="Blue") Amy Johnson
          .event-schedule-offset Neurodiversity at Work: Valuing Teammates Who are Wired Differently
        %td
          %a(href="#brian-santiago" rel="nofollow")
            %strong.event-schedule-room(data-room="Red") Brian Santiago
          .event-schedule-offset Creating User-Centered Organizations Through Rapid Usability Testing
      
      %tr
        %th
          %time(datetime="2018-11-10T10:45") 10:45
          &#8212;
          %time(datetime="2018-11-10T11:00") 11:00
        %td.event-schedule-offset(colspan="2") Break
      
      %tr
        %th
          %time(datetime="2018-11-10T11:00") 11:00
          &#8212;
          %time(datetime="2018-11-10T11:45") 11:45
        %td
          %a(href="#cynthia-gelper" rel="nofollow")
            %strong.event-schedule-room(data-room="Blue") Cynthia Gelper
          .event-schedule-offset What Content Strategy Can Teach UX
        %td
          %a(href="#diana-deibel" rel="nofollow")
            %strong.event-schedule-room(data-room="Red") Diana Deibel &amp; Julie Morycz
          .event-schedule-offset The True Crime of Bad Design

      %tr
        %th
          %time(datetime="2018-11-10T11:45") 11:45
          &#8212;
          %time(datetime="2018-11-10T13:00") 1:00
        %td.event-schedule-offset(colspan="2") Lunch
      
      %tr
        %th
          %time(datetime="2018-11-10T13:00") 1:00
          &#8212;
          %time(datetime="2018-11-10T13:45") 1:45
        %td
          %a(href="#eva-penzeymoog" rel="nofollow")
            %strong.event-schedule-room(data-room="Blue") Eva PenzeyMoog
          .event-schedule-offset Designing Against Domestic Violence
        %td
          %a(href="#garrett-polifka" rel="nofollow")
            %strong.event-schedule-room(data-room="Red") Garrett Polifka
          .event-schedule-offset EQ + Design: Elevating the Design Process

      %tr
        %th
          %time(datetime="2018-11-10T13:45") 1:45
          &#8212;
          %time(datetime="2018-11-10T14:00") 2:00
        %td.event-schedule-offset(colspan="2") Break
      
      %tr
        %th
          %time(datetime="2018-11-10T14:00") 2:00
          &#8212;
          %time(datetime="2018-11-10T14:45") 2:45
        %td
          %a(href="#gabby-hon" rel="nofollow")
            %strong.event-schedule-room(data-room="Blue") Gabby Hon
          .event-schedule-offset The Map Is Not The Territory: Against UX Portfolios, and For Rational Hiring
        %td
          %a(href="#jon-yablonski" rel="nofollow")
            %strong.event-schedule-room(data-room="Red") Jon Yablonski
          .event-schedule-offset The Intersection of Psychology &amp; UX Design

      %tr
        %th
          %time(datetime="2018-11-10T14:45") 2:45
          &#8212;
          %time(datetime="2018-11-10T15:15") 3:15
        %td.event-schedule-offset(colspan="2") Afternoon Snack
      
      %tr
        %th
          %time(datetime="2018-11-10T15:15") 3:15
          &#8212;
          %time(datetime="2018-11-10T16:00") 4:00
        %td(colspan="2")
          -#
            %a(href="#jeff-eaton" rel="nofollow")
              %strong.event-schedule-room(data-room="Blue") Jeff Eaton
          .event-schedule-offset TBA

      %tr
        %th
          %time(datetime="2018-11-10T16:00") 4:00
          &#8212;
          %time(datetime="2018-11-10T16:15") 4:15
        %td.event-schedule-offset(colspan="2") Closing Ceremonies

%section#speakers.main-content.main-bg-alt
  .container
    
    %h3.h-section Speakers

    %h3 Call for Speakers
    
    %p Are you interested in speaking at UX Camp? We sure hope so! <a href="/proposal/">Submit your talk</a> and let us know what&#8217;s on your mind to share.

    %p First time speaker, or have limited experience? Let us know&mdash;we welcome new speakers and have been known to help folks round out their proposals.

    %p <a href="/proposal/">Submit your talk</a>&mdash;come hang out with us in Chicago and share what you&#8217;ve learned!

    - content_for :talk_amy_johnson do

      %h3 Neurodiversity at Work: Valuing Teammates Who are Wired Differently

      %p I am a Visual Designer in corporate America; I am also on the Autism Spectrum. I&#8217;ve thrived in my career using self-awareness as a tool for bringing out my best work and approaching design from a different direction. Growing a neurodiverse design team has its hurdles, but the pros far outweigh the cons. I will talk about improving work environments, identifying communication styles, and being a great team mate to those that are wired a bit different.

      %p Key Takeaways:

      %ul.list-ul
        %li Discover the benefits of hiring those with atypical brains
        %li Learn how to best collaborate with individuals that have ADD, ADHD, Autism and more
        %li Make your team work environment healthier and more flexible for all employees; both neurotypical and atypical
    
    - content_for :talk_brian_santiago do

      %h3 Creating User-Centered Organizations Through Rapid Usability Testing

      %p Few will argue the benefits of usability testing, but regardless if you are a seasoned UX professional or new to the field, traditional usability testing can be extremely time consuming. Often times many will completely skip testing because the friction is so high. In my talk, I will share the lessons I learned from when I introduced a low-friction and light-weight testing framework to my colleagues at Fastly, a company that powers over 10% of all internet traffic. This new approach increased our usability testing frequency by 4x in 8 months, gave teams greater insights into their products, and gained greater adoption of the testing process throughout the organization.

    - content_for :talk_cynthia_gelper do
      
      %h3 What Content Strategy Can Teach UX
      
      %p In my talk, I&#8217;ll discuss the role of content strategy in a project and how usability, no matter how researched and executed, stands and falls on the shoulders of content. This includes what user experience designers need to know to perform content strategy functions &ndash; even if the project doesn&#8217;t have the budget to hire a dedicated content strategist. 

      %p I&#8217;ll describe how content strategy contributes to a project, including a structure for creating a project goal and plan, from message architecture through editorial calendar to style guidelines. I&#8217;ll give examples of how content strategy can help accomplish business goals without leaving the users behind and help you think about how content will be sourced, managed and measured. 

      %p I&#8217;ll also give cautionary examples of what happens when you don&#8217;t include content strategy in your planning and when you put content last, instead of first. 

      %p Finally, I&#8217;ll talk about how UX and content strategy folks can help enhance the other&#8217;s work and collaborate for better results. 

    - content_for :talk_garrett_polifka do

      %h3 EQ + Design: Elevating the Design Process

      %p Emotional intelligence is a core competency that we should all explore to foster stronger bonds as a community. By being mindful of the moment, now, we&#8217;re better-prepared to sense emotions within. Through self-awareness, we can harness a shared power to work together more efficiently. Being more aware of ourselves through emotional intelligence, we can shape our perceptions and become a more mindful participant in the design process.

    - content_for :talk_julie_morycz do

      %h5.lineup-subtitle.h-sm-caps-gray Diana &amp; Julie present:

      %h3 The True Crime of Bad Design
      
      %p Much like true crime shows look at the notorious criminals in our culture, we will look at the notorious (and some not-so-notorious but equally &#8220;criminal&#8221;) UX/UI snafus in the recent years, including mistakes from our own work and what we&#8217;ve learned as individuals and a community about why certain tactics or styles don&#8217;t work in digital and conversational interfaces.

    - content_for :talk_eva_penzeymoog do

      %h3 Designing Against Domestic Violence

      %p The reality of domestic violence doesn&#8217;t disappear when people leave enter the digital world. Abusers use technology to exploit and control their victims, meaning that technologists have a responsibility to ensure that users of our products are empowered to protect their safety. How can we prevent people with violent intentions from forms of abuse and control that are digital, such as browsing a victim&#8217;s computer, finding sensitive information about them online, or creating fake content in their name? How can our products that involve real people, such as software for building managers, protect against an abuser talking their way past a building&#8217;s doorman whose uses software to track approved guests? While there&#8217;s no simple answer and ultimately no way to ensure our users&#8217; safety in all situations, thoughtful considerations and small changes while designing and building products can and does result in meaningful contributions to people&#8217;s safety. This talk will explore how to think through a lens of safety, create those thoughtful considerations, and advocate for an emphasis on safety.

      %p
        %em This presentation will deal explicitly with domestic violence and may be triggering for some attendees. Please do not hesitate to leave the room at any time should you need to.

    - content_for :talk_gabby_hon do

      %h3 The Map Is Not The Territory: Against UX Portfolios, and For Rational Hiring

      %p Mired in deliverable purgatory, and possessed of strategic skills that are continually undervalued, UX professionals are further humiliated by hiring requirements that include portfolios. I will explain why portfolios are entirely wrong for evaluating the worth of a UX professional, why hiring managers can&#8217;t seem to stop demanding them, and propose a path out of this quagmire.

    - content_for :talk_jon_yablonski do

      %h3 The Intersection of Psychology &amp; UX Design

      %p The human brain is so complex that understanding it has proven to be arguably the greatest challenge of modern science. It exhibits patterns that are integral to how we perceive and process information, which we&#8217;ve evolved for survival over thousands of years. 

      %p An understanding of these patterns is fundamental to designing human-centered experiences, and we can use established principles from psychology to guide us. Instead of forcing users to conform to the design of a product or experience, we can use this knowledge to design for how people actually are.

    = partial "partials/events/speakers", locals: {speakers: speakers}

    .event-cta
      %a.btn.btn-alt(href="https://chicagocamps.ticketleap.com/ux-camp-fall-2018/" rel="nofollow")
        Join Us for Only $60 &#8212; Limited Tickets Available

= partial "partials/events/location-columbia-film-row"
