---
title: UX Camp Spring
date: 2022-05-21 01:00 CDT
category: events
alias: ux-camp
location: Online &mdash; Everywhere &mdash; 10AM CT
summary: UX Camp Spring Home Edition is a full day of UX Goodness&#8211;we&#8217;ll leave few topics uncovered and you&#8217;ll learn current topics and improved upon standards in one of the hottest fields today!
---

- sponsors = ["Demio", "Lead Honestly"]
- keynotes = ["Christian Crumlish", "Lisa deBettencourt"]
- speakers = ["Casey Hald", "Emily Wachowiak", "Jaime Ventura", "Jessi Shakarian", "Joanne Wang", "Julia Beauchamp Kraft"]

%nav.event-nav.group(data-js="event-nav")
  .container
    %ul.event-nav-content
      %li.event-nav-title
        %a(href="#top" rel="nofollow") UX Camp
      %li
        %a(href="#details" rel="nofollow") Details
      %li
        %a(href="#keynotes" rel="nofollow") Keynotes
      %li
        %a(href="#schedule" rel="nofollow") Schedule
      %li
        %a(href="#speakers" rel="nofollow") Speakers
      %li
        %a(href="#location" rel="nofollow") Location

    %a.btn.btn-alt.event-nav-btn(href="https://chicagocamps.ticketspice.com/ux-camp-spring-2022" rel="nofollow")
      Join Us for
      %strong Only $15

%section#details.main-content
  .container

    %h3.h-section Details

    %h2 UX Camp Spring: Home Edition is a 1-day mini-conference delivering design goodness to you, where ever you may be.

    %p <strong>On Saturday, May 21, 2022 at 10AM CT, from where ever you are</strong>&mdash;we&#8217;re serving up 2 awesome keynotes that bookend up to 12 (3 tracks) really great presentations!

    %p <strong>Interested in getting on a virtual stage?</strong> <a href="/proposal">Submit your talk idea!</a>

    %p <strong>Normally, we&#8217;d all be heading to downtown Chicago</strong> for some (hopefully) nice weather, great views, city sounds, and then the abundant food and snacks that we like to provide from the comfort of Columbia College Film Row.

    %p <strong>Things are different now, and we want to do something that is great for our community</strong>, spreads to the broader community, and still provides opportunity for presenters to present and attendees to learn. We&#8217;re giving this a shot, and we hope you&#8217;ll give us a shot, too!

    .event-cta
      %a.btn.btn-alt(href="https://chicagocamps.ticketspice.com/ux-camp-spring-2022" rel="nofollow")
        Join Us for Only $15

    %h3 Meet Our Awesome Sponsors
    
    %p Our sponsors are helping to make this event special and paying it forward by showing support for UX Camp: Home Edition.

    = partial "partials/events/sponsors", locals: {sponsors: sponsors}

    %p We&#8217;re actively looking for <a href="/contact/">sponsors</a> for UX Camp: Home Edition. If you&#8217;re interested, or if you know someone we should talk to, <a href="/contact/">please let us know!</a>

%section#keynotes.main-content.main-bg-alt
  .container

    %h3.h-section Keynotes

    - content_for :talk_christian_crumlish do

      %h3 Product Management for UX People
      
      %p <strong>&#8220;Why is a product Manager telling me what to do?&#8221;</strong> &#8220;Plus, how is software even a product?&#8221; &#8220;What do product managers want and why are they so frustrating?&#8221; Have you ever asked yourself any of these questions? Meet product managers where they live. They make decisions all day long. They don&#8217;t get to say &#8220;it depends.&#8221; Most of the time they don&#8217;t actually make the decision&mdash;they just make sure it gets made right. They have to keep the build, measure, learn cycle. They have to cajole engineers. They have to persuade stakeholders to support a focused roadmap. Have some sympathy for the PM.

      %p <strong>I feel your pain.</strong> It can be a struggle to influence product direction (before it&#8217;s too late). It&#8217;s not easy to coax requirements out of PM partners. Presenting design & research work can feel like speaking a different language. How product managers generally prioritize initiatives can be opaque. These pain points are widespread because UX and PM roles are still feeling out how to work well together. What can you do?

      %p <strong>Use your UX superpowers:</strong> Bring your creative problem-solving superpower to the table through your command of art, craft, and communication. Overcome the challenged of synthesizing product research with your systems thinking. Lend your taxonomy wisdom, whether via IA or content strategy, to your product partner&#8217;s amorphous model. Contribute your contextual inquiry and qualitative research skills to get beyond the what of data to the why of understanding. Facilitate the prioritization and alignment needs of the product behind all those workshop hours with the stickies and the dot voting. But most of all, design a good friggin&#8217; user experience for the people trying to work with you.

    - content_for :talk_lisa_debettencourt do

      %h3 Good Intentions &amp; Bad Actors

      %p As designers, we are able to leverage our understanding of the human condition and systems to transform technology into offerings that make millions of dollars for companies, while remaining idealistic about our goals of making people&#8217;s lives better or &#8220;changing the world.&#8221; But our process doesn&#8217;t make room to consider what things might just go sideways. I think this borders on negligence. We have a responsibility to ourselves, our profession, our customers, our colleagues, and the businesses who employ us to forecast the impact of our work at scale and work to mitigate risks. Let&#8217;s talk about how to integrate appropriate tools and the processes to do so properly.

    = partial "partials/events/speakers", locals: {speakers: keynotes}

%section#schedule.main-content.main-bg-highlight
  .container

    %h3.h-section Schedule

    %table.event-schedule
      
      %tr
        %th
          %time(datetime="2022-05-21T10:00") 10:00
          &#8212;
          %time(datetime="2022-05-21T010:15") 10:15 CT
        %td.event-schedule-offset(colspan="3") Kick-off

      %tr
        %th
          %time(datetime="2022-05-21T10:15") 10:15
          &#8212;
          %time(datetime="2022-05-21T11:00") 11:00 CT
        %td(colspan="3")
          %a(href="#lisa-debettencourt" rel="nofollow")
            %strong.event-schedule-room(data-room="Track 1") Lisa deBettencourt
          .event-schedule-offset Opening Keynote: Good Intentions &amp; Bad Actors

      %tr
        %th
          %time(datetime="2022-05-21T11:00") 11:00
          &#8212;
          %time(datetime="2022-05-21T11:15") 11:15 CT
        %td.event-schedule-offset(colspan="3") Break
      
      %tr
        %th
          %time(datetime="2022-05-21T11:15") 11:15
          &#8212;
          %time(datetime="2022-05-21T11:45") 11:45 CT
        %td.event-schedule-distributed
          %a(href="#jessi-shakarian" rel="nofollow")
            %strong.event-schedule-room(data-room="Track 1") Jessi Shakarian
          .event-schedule-offset Taxonomizing Accessibility Through Games
        %td.event-schedule-distributed
          %a(href="#jaime-ventura" rel="nofollow")
            %strong.event-schedule-room(data-room="Track 2") Jaime Ventura
          .event-schedule-offset Cognitive Biases: The Good, The Bad, &amp; The Ugly

      %tr
        %th
          %time(datetime="2022-05-21T11:45") 11:45
          &#8212;
          %time(datetime="2022-05-21T12:00") 12:00 CT
        %td.event-schedule-offset(colspan="3") Break
      
      %tr
        %th
          %time(datetime="2022-05-21T12:00") 12:00
          &#8212;
          %time(datetime="2022-05-21T12:30") 12:30 CT
        %td
          %a(href="#casey-hald" rel="nofollow")
            %strong.event-schedule-room(data-room="Track 1") Casey Hald
          .event-schedule-offset Introduction to UXE (UX Engineering)
        %td
          .event-schedule-offset N/A

      %tr
        %th
          %time(datetime="2022-05-21T12:30") 12:30
          &#8212;
          %time(datetime="2022-05-21T13:00") 1:00 CT
        %td.event-schedule-offset(colspan="3") Lunch

      %tr
        %th
          %time(datetime="2022-05-21T13:00") 1:00
          &#8212;
          %time(datetime="2022-05-21T13:30") 1:30 CT
        %td
          %a(href="#emily-wachowiak" rel="nofollow")
            %strong.event-schedule-room(data-room="Track 1") Emily Wachowiak
          .event-schedule-offset Don&#8217;t Fear the Spreadsheet: A Guide to Content Audits for Product Teams
        %td
          %a(href="#joanne-wang" rel="nofollow")
            %strong.event-schedule-room(data-room="Track 2") Joanne Wang
          .event-schedule-offset Set Up Boundaries as a Design Leader

      %tr
        %th
          %time(datetime="2022-05-21T13:30") 1:30
          &#8212;
          %time(datetime="2022-05-21T13:45") 1:45 CT
        %td.event-schedule-offset(colspan="3") Break

      %tr
        %th
          %time(datetime="2022-05-21T13:45") 1:45
          &#8212;
          %time(datetime="2022-05-21T14:15") 2:15 CT
        %td
          %a(href="#julia-beauchamp-kraft" rel="nofollow")
            %strong.event-schedule-room(data-room="Track 1") Julia Beauchamp Kraft
          .event-schedule-offset Confident Communication: Overcome Public Speaking Fear &amp; Be Fully Expressed
        %td
          .event-schedule-offset N/A

      %tr
        %th
          %time(datetime="2022-05-21T14:15") 2:15
          &#8212;
          %time(datetime="2022-05-21T14:30") 2:30 CT
        %td.event-schedule-offset(colspan="3") Break

      %tr
        %th
          %time(datetime="2022-05-21T14:30") 2:30
          &#8212;
          %time(datetime="2022-05-21T15:15") 3:15 CT
        %td(colspan="3")
          %a(href="#christian-crumlish" rel="nofollow")
            %strong.event-schedule-room(data-room="Track 1") Christian Crumlish
          .event-schedule-offset Closing Keynote: Product Management for UX People

      %tr
        %th
          %time(datetime="2022-05-21T15:15") 3:15
          &#8212;
          %time(datetime="2022-05-21T15:30") 3:30 CT
        %td.event-schedule-offset(colspan="3") Closing Ceremonies

%section#speakers.main-content.main-bg-alt
  .container.group
    
    %h3.h-section Speakers

    .card.group(style="margin-bottom: 60px;")

      %h3 Call for Speakers
      
      %p Are you interested in speaking at UX Camp? We sure hope so! <a href="/proposal/">Submit your talk</a> and let us know what&#8217;s on your mind to share.

      %p First time speaker, or have limited experience? Let us know&mdash;we welcome new speakers and have been known to help folks round out their proposals.

      %p <a href="/proposal/">Submit your talk</a>&mdash;come hang out with us in Chicago and share what you&#8217;ve learned!
      
      .event-cta
        %a.btn.btn-alt(href="/proposal/") Submit your talk

    - content_for :talk_aleenah_ansari do

      %h3 Breaking into Tech with a Non-Traditional Background or Degree

      %p You&#8217;re used to hearing about software engineering and program manager roles in tech, but what else is out there? There are so many roles on the team behind your feed, and Aleenah Ansari, a product marketing manager at Microsoft, wants to shed light on that. Learn more about how to break into tech, and how to advocate for your transferable skills. 

      %p During the session, attendees will learn how to:
      
      %ul.list-ul
        %li Find keywords and job titles for the roles that align with their interests
        %li Communicate the value of your past work experience and highlight the transferable skills of your discipline or degree
        %li Strategically network by finding decisionmakers and hiring managers that can get you closer to your dream role

    - content_for :talk_casey_hald do
      
      %h3 Introduction to UXE (UX Engineering)
      
      %p UX Engineers are there not only to help enforce design patterns, but to be creative with coded solutions that assist in speeding up user testing in environments that add security for both the participant and interviewer. I am going to show how code methodologies and current frameworks can help communicate design decisions and drive a cohesive bond with other teams inside your organization.

      %p The one thing every designer can agree on is that design sometimes doesn&#8217;t translate perfectly into production environments. There can be glaring alignment issues, misuse of fonts, and all sorts of weird color interpretations development teams make, simply because they make too many assumptions and rush to make deadlines. Imagine not just delivering a design file to developers&mdash;but an entire coded framework with precise css code that guarantees design fidelity. A UX Engineer is a designer&#8217;s best friend.

      %p As UX continues to grow and evolve, the more need there is to have prototypes available to share with clients, pitch for funding and resources, and iterate patterns with design teams. UX Engineers allow designers to see and test their work in real world applications outside of design software, and create a more cohesive bond with development teams.

    - content_for :talk_emily_wachowiak do
      
      %h3 Don&#8217;t Fear the Spreadsheet: A Guide to Content Audits for Product Teams
      
      %p Audits are a go-to tool for cataloging and optimizing website content, and they can also be your product team&#8217;s secret weapon. Examining key features and flows of your product through a content lens will help you systematically identify gaps, inconsistencies, and usability improvements. How can you make sure that your audit leads to concrete, meaningful product changes&mdash;not just lines on a spreadsheet? There&#8217;s no one-size-fits-all template, but there are a few frameworks, tips, and strategies for getting results&mdash;and buy-in&mdash;without getting overwhelmed. 

      %p Auditing a product is much different than auditing a website. Instead of scraping URLs, you&#8217;ll need to capture and track multiple screens and states, like errors and form fields. And you&#8217;ll need to translate your findings into a digestible story for product and engineering partners. From scoping and conducting your content audit to tracking and sizing your recommendations in an engineer-friendly format, this session will help you turn your audit findings into real product improvements.

    - content_for :talk_jaime_ventura do

      %h3 Cognitive Biases: The Good, The Bad, &amp; The Ugly

      %p Cognitive Bias can impact the way we design and often, it happens without us recognizing what we&#8217;re doing, which in turn means that we could design and build systems that are flawed for our core users. When we recognize our biases, we can learn how to get around them, gain perspective, and make design decisions that are better suited for our users.

    - content_for :talk_jessi_shakarian do
      
      %h3 Taxonomizing Accessibility Through Games
      
      %p Ensuring accessibility implementation in our designs can be a daunting process. It can feel like trying to do a jigsaw puzzle without knowing what the final image looks like. How do we begin to think about these needs and requirements of such a wide variety of users—which is really all users? There is no one-size-fits-all answer, however, there are ways to make the process appear to be less of a challenge and more &#8220;how we work.&#8221;

      %p Come explore different categories of disabilities and access types, select game examples that portray constraints and access in action, and the design principles that will help designers understand the agency users need to make digital experiences accessible and available to all.
    
    - content_for :talk_joanne_wang do

      %h3 Set Up Boundaries as a Design Leader
    
      %p As a design leader, one should know their value and set up boundaries. Ask for feedback to not only maximize your value and career development but to maintain a clear understanding of your worth to the team. As for boundaries, I learn how to push back when you feel your priorities slipping.

      %p Steps to set up boundaries:

      %ul.list-ul
        %li First, define the boundaries; in which area do you need the boundaries.
        %li Second, what do you need to happen to support the boundaries
        %li Third, what are the benefits when your boundaries are respected? 
        %li What actions will you take if your boundaries are not respected? 
        %li What will you feel like if your boundaries are respected?

      %p In practice, learn to ask for clarification and accountability (&#8220;what exactly do you need here? How should we reprioritize our backlog to accommodate for this task?&#8221;) when you feel others&mdash;client or team members&mdash;might cross your boundaries.

    - content_for :talk_julia_beauchamp_kraft do
      
      %h3 Confident Communication: Overcome Public Speaking Fear &amp; Be Fully Expressed
      
      %p Being a confident communicator is not just the way you act, talk, and look. It&#8217;s a habitual way of thinking and reacting. 

      %p In this talk, you will learn how to make small changes to your words, tone, and non-verbal communication to improve how you interact in high-stakes personal and professional communications.

      %p This talk will help you develop the ability to:
      
      %ul.list-ul
        %li Manage your nervous system when anxiety, fear and self-consciousness take over
        %li Systematically develop rock-solid confidence you can rely on
        %li Navigate the virtual speaking world and come across as a credible expert
        %li Effectively communicate verbally and non-verbally for influence
        %li Uncover what&#8217;s holding you back from being fully expressed
      
      %p Even though everything has gone virtual the world still needs your presence and message. Open up to more visibility, confidence and comfort in your skin on camera and in life!

    = partial "partials/events/speakers", locals: {speakers: speakers}

    .event-cta
      %a.btn.btn-alt(href="https://chicagocamps.ticketspice.com/ux-camp-spring-2022" rel="nofollow")
        Join Us for Only $15

%section#location.main-content
  .container

    %h3.h-section Location

    %p UX Camp: Home Edition will be 100% online and from where each of us are. And then, later, we&#8217;ll share on Vimeo so you can watch and learn again, watch what you&#8217;ve missed, or share with your internet pals.
