%section.main-section
  .container

    %h3.h-section
      Code
      %span of
      Conduct

    %p All delegates, speakers, sponsors and volunteers at any Chicago Camps, LLC event are required to agree with the following code of conduct. Organizers will enforce this code throughout the event.

    %h4
      The Short Version
      .h-divider
        %a.a-chevron-right(href="/code-of-conduct/") Full Version

    %p Chicago Camps, LLC is dedicated to providing a harassment-free conference experience for everyone, regardless of gender, sexual orientation, disability, physical appearance, body size, race, or religion. We do not tolerate harassment of conference participants in any form. Sexual language and imagery is not appropriate for any conference venue, including talks.
