%footer.primary-footer(role="contentinfo")
  .container

    %nav
      %a.secondary-logo(href="/") Chicago Camps
      %ul.secondary-nav
        %li
          %a(href="/") Home
        %li
          %a(href="/updates/") Updates
        %li
          %a(href="/sponsorship/") Sponsorship
        %li
          %a(href="/about/") About
        %li
          %a(href="/contact/") Contact
        %li
          %a(href="/code-of-conduct/") Code of Conduct

    %small.primary-footer-legal &copy; Chicago Camps, LLC
