%section.sponsors.main-section
  .container

    %h3.sponsors-heading.h-section <span>Chicago</span> Sponsors <span>Camps</span>

    .lineup
      %a.a-chevron-right(href="/sponsorship/") Become a Sponsor

    %ul.sponsors-list
      %li
        %a(href="http://harrington.edu/" rel="nofollow")= image_tag "sponsors/harrington.png", alt: "Harrington College of Design"
      %li
        %a(href="http://rosenfeldmedia.com/" rel="nofollow")= image_tag "sponsors/rosenfeld.png", alt: "Rosenfeld Media"
      %li
        %a(href="https://simplecast.fm/" rel="nofollow")= image_tag "sponsors/simplecast.png", alt: "Simplecast"
      %li
        %a(href="http://uie.com/" rel="nofollow")= image_tag "sponsors/uie.png", alt: "User Interface Engineering"
