// Colors
// ========================================

$white:      #fff;
$gray-light: #bfbfbf;
$gray:       #838588;
$gray-dark:  #515254;
$black:      #000;
$yellow:     #ffcd03;
$red:        #f00;
$blue-light: #b3ddf2;
$blue:       #67a8c8;
$blue-dark:  darken($blue, 12);

// Map

$palette: (
  white:      $white,
  gray-light: $gray-light,
  gray:       $gray,
  gray-dark:  $gray-dark,
  black:      $black,
  yellow:     $yellow,
  red:        $red,
  blue-light: $blue-light,
  blue:       $blue,
  blue-dark:  $blue-dark
);
