%section.main-section
  .container

    %h3.h-section
      Code
      %span of
      Conduct

    %p All delegates, speakers, sponsors and volunteers at any Chicago Camps, LLC event are required to agree with the following code of conduct. Organizers will enforce this code throughout the event.

    %h4
      .h-divider.h-dividerlight The Short Version
      %span.lineup
        %a.a-chevron-right(href="/code-of-conduct/") Full Version

    %p Be respectful of other people; respectfully ask people to stop if you are bothered; and if you can&#8217;t resolve an issue contact the organizers. If you are being a problem, it will be apparent and you&#8217;ll be asked to leave.
