%header.primary-header.group

  %a.primary-nav-link(href="#" data-js="primary-nav-link" rel="nofollow") Menu

  %h1.primary-logo
    %a(href="/") Chicago Camps

  %nav.primary-nav(data-js="primary-nav" role="navigation")
    %ul.primary-nav-content
      %li
        %a(href="/") Home
      %li
        %a(href="/events/") Events
      %li
        %a(href="/updates/") Updates
      %li
        %a(href="/sponsorship/") Sponsorship
      %li
        %a(href="/about/") About
      %li
        %a(href="/contact/") Contact

  %form.primary-newsletter(method="post" action="https://chicagocamps.activehosted.com/proc.php" target="_blank")
    %input(type="hidden" name="u" value="1")
    %input(type="hidden" name="f" value="1")
    %input(type="hidden" name="s")
    %input(type="hidden" name="c" value="0")
    %input(type="hidden" name="m" value="0")
    %input(type="hidden" name="act" value="sub")
    %input(type="hidden" name="v" value="2")
    %label.newsletter-label(for="newsletter-email") Join Our Mailing List
    .primary-newsletter-form-container
      .primary-newsletter-form.form-row
        %input#newsletter-email.form-control(type="email" name="email" placeholder="Email address" required)
        .form-btn
          %input.btn.btn-default(type="submit" value="Join" name="subscribe")
