%header.primary-header.group

  %a.primary-nav-link(href="#" data-js="primary-nav-link" rel="nofollow") Menu

  %h1.primary-logo
    %a(href="/") Chicago Camps

  %nav.primary-nav(data-js="primary-nav" role="navigation")
    %ul.primary-nav-content
      %li
        %a(href="/") Home
      %li
        %a(href="/events/") Events
      %li
        %a(href="/updates/") Updates
      %li
        %a(href="/sponsorship/") Sponsorship
      %li
        %a(href="/about/") About
      %li
        %a(href="/contact/") Contact

  %form.primary-newsletter(action="//chicagocamps.us6.list-manage.com/subscribe/post?u=785f2733c9312c559087febe9&amp;id=492b931a09" method="post" name="mc-embedded-subscribe-form" target="_blank")
    %label.newsletter-label(for="newsletter-email") Join Our Mailing List
    .primary-newsletter-form-container
      .primary-newsletter-form.form-row
        %input#newsletter-email.form-control(type="email" name="EMAIL" placeholder="Email address" required)
        %input.primary-newsletter-spam(type="text" name="b_785f2733c9312c559087febe9_492b931a09" tabindex="-1")
        .form-btn
          %input.btn.btn-default(type="submit" value="Join" name="subscribe")
