%section.sponsors-all.main-section.main-bg-alt
  .container

    %h3.sponsors-all-heading.h-section
      %span Chicago
      Sponsors
      %span Camps

    - unless current_page.data.title == "Sponsorship"
      .lineup
        %a.a-chevron-right(href="/sponsorship/") Become a Sponsor

    %ul.sponsors-all-list
      %li.sponsors-all-rosenfeld
        %a(href="http://rosenfeldmedia.com/" rel="nofollow")= image_tag "sponsors/rosenfeld.png", alt: "Rosenfeld Media"
      %li.sponsors-all-simplecast
        %a(href="https://simplecast.fm/" rel="nofollow")= image_tag "sponsors/simplecast.png", alt: "Simplecast"
      %li.sponsors-all-columbia
        %a(href="http://www.colum.edu/" rel="nofollow")= image_tag "sponsors/columbia-college.png", alt: "Columbia College Chciago"
      %li.sponsors-all-wework
        %a(href="https://wework.com/" rel="nofollow")= image_tag "sponsors/wework.png", alt: "WeWork"
