// Events
// ========================================

// Header

.header-event-date
  @extend %margin-0
  @extend %margin-top-xx-small

// Navigation

.event-nav
  @extend %background-blue-light
  @extend %padding-top-xx-small
  @extend %padding-bottom-xx-small
  z-index: 1

  +breakpoint-max
    text-align: center

.event-nav-content

  +breakpoint-min
    float: left
    +rem(line-height, $baseline-x-large)

  li
    @extend %display-inline-block
    
    +breakpoint-max
      +rem(padding, 0 ($gutter-half / 2))

    +breakpoint-min
      +rem(padding-right, $gutter)

  a
    @extend %h-sm-caps
    @extend %color-gray-dark
    @extend %vertical-align-top

    +breakpoint-max
      +rem(padding, $baseline-step 5px)

    &:active,
    &:hover
      @extend %color-blue-dark

  .event-nav-title
    @extend %font-weight-bold
    
    +breakpoint-max
      display: none

.event-nav-btn
  
  +breakpoint-max
    +rem(margin, $baseline-xx-small 0 $baseline-step 0)
  
  +breakpoint-min
    float: right

// CTA

.event-cta
  @extend %margin-bottom
  @extend %text-center
