// Events
// ========================================

// Header

.header-event-date
  @extend %margin-0
  @extend %margin-top-xx-small

// Navigation

.event-nav
  @extend %background-blue-light
  @extend %padding-top-xx-small
  @extend %padding-bottom-xx-small
  @extend %transition-all
  z-index: 1

  &.is_stuck
    +rem(box-shadow, 0 0 3px rgba($black, .25))

  +breakpoint-max
    text-align: center

.event-nav-content

  +breakpoint-min
    float: left
    +rem(line-height, $baseline-x-large)

  li
    @extend %display-inline-block
    
    +breakpoint-max
      +rem(padding, 0 ($gutter-half / 2))

    +breakpoint-min
      +rem(padding-right, $gutter)

  a
    @extend %h-sm-caps
    @extend %color-gray-dark
    @extend %vertical-align-top

    +breakpoint-max
      +rem(padding, $baseline-step 5px)

    &:active,
    &:hover
      @extend %color-blue-dark

  .event-nav-title
    @extend %font-weight-bold
    
    +breakpoint-max
      display: none

.event-nav-btn
  
  +breakpoint-max
    +rem(margin, $baseline-xx-small 0 $baseline-step 0)
  
  +breakpoint-min
    float: right

// CTA

.event-cta
  @extend %margin-bottom
  @extend %text-center

// Schedule

.event-schedule
  border-collapse: separate
  +rem(border-spacing, 1px)
  @extend %margin-bottom
  @extend %grid-1-1

  tr:not(:last-child)
    margin-bottom: 1px
  
  th,
  td
    +rem(margin-bottom, 1px)
    @extend %padding-top-xx-small
    @extend %padding-right-half
    @extend %padding-bottom-xx-small
    @extend %padding-left-half
    @extend %text-center

  tr:nth-child(odd) th,
  tr:nth-child(odd) td
    background-color: rgba($white, .50)

  tr:nth-child(even) th,
  tr:nth-child(even) td
    background-color: rgba($white, .75)

  tr:first-child
    
    th:first-child
      +rem(border-top-left-radius, $border-radius-base)
    
    td:last-child
      +rem(border-top-right-radius, $border-radius-base)

  tr:last-child
    
    th:first-child
      +rem(border-bottom-left-radius, $border-radius-base)
    
    td:last-child
      +rem(border-bottom-right-radius, $border-radius-base)

  th
    @extend %h-sm-caps-gray
    @extend %s-golf
    @extend %line-height-x-small

.event-schedule-offset
  @extend %color-gray
  @extend %s-foxtrot

// Mentors

.mentor-list
  @extend %margin-top-x-large
  +rem(margin-left, $gutter-half * -1)
  +rem(margin-right, $gutter-half * -1)

  li
    @extend %grid-col
    @extend %margin-bottom
    @extend %padding-left-half
    @extend %padding-right-half
    @extend %text-center
    width: 50%

    +breakpoint-min($min: 480px)
      width: 33.33333%

    +breakpoint-min($min: 640px)
      width: 25%

  img
    @extend %frame
    @extend %margin-auto
    +rem(max-width, $baseline-step * 32)
    @extend %grid-1-1

.mentor-name
  @extend %display-inline-block
  @extend %s-delta
  @extend %margin-top-step
  @extend %vertical-align-top

.mentor-job
  @extend %h-sm-caps-gray
  @extend %color-gray
  @extend %s-golf
  @extend %line-height-x-small
  @extend %margin-top-step

.mentor-podcast-cta
  white-space: nowrap

// Location

.event-location-venue,
.event-location-area
  @extend %grid-col
  
  +breakpoint-max
    width: 100%

  +breakpoint-min
    width: 50%

  #{headings()}
    @extend %text-left

.event-location-media
  +breakpoint-max
    +rem(min-width, 276px)
    width: 90%

  figure
    height: 0
    @extend %margin-bottom
    padding-bottom: 67.5%
    @extend %position-relative
    @extend %grid-1-1
  
  .frame
    height: 100%
    @extend %left-0
    @extend %position-absolute
    @extend %top-0
    @extend %grid-1-1

+breakpoint-min

  .event-location-venue
    +rem(padding-right, $gutter-half)

  .event-location-area
    +rem(padding-left, $gutter-half)
