// Header
// ========================================

.primary-header
  @extend %background-white
  +rem(box-shadow, 0 0 3px rgba($black, .25))
  @extend %position-fixed
  @extend %top-0
  @extend %grid-1-1
  z-index: 1

// Navigation

.primary-nav
  @extend %h-sm-caps
  @extend %position-relative
  
  a
    @extend %display-block

.primary-nav-content
  @extend %transition-all

  li:not(:first-child)
    @extend %transition-all

// 740px and below

+breakpoint-max

  .primary-nav-link
    color: transparent
    float: left
    font: 0/0 a
    +rem(line-height, $baseline-step * 9)
    position: relative
    text-shadow: none
    +rem(width, $gutter-double + 18)

    &:after
      +background-svg("icons/i-menu", 18px 15px)
      content: ""
      +rem(height, 15px)
      +rem(left, $gutter)
      position: absolute
      +rem(top, 19px)
      +rem(width, 18px)

  .primary-nav
    +rem(margin-top, $baseline-step * 9)

    a
      +rem(padding, $baseline-step $gutter)

  .primary-nav-content
    max-height: 0
    overflow: hidden

    .primary-nav-active &
      +rem(max-height, 1000px)

    li
      +rem(border-top, 1px solid rgba($black, .12))

// 741px and above

+breakpoint-min

  .primary-nav-link
    display: none

  .primary-nav
    +rem(border-right, 1px solid rgba($black, .12))
    float: left
    +rem(height, $baseline-step * 9)
    +rem(width, 104px)

    &:focus,
    &:hover
      border-right-color: transparent

    a
      color: $gray
      +rem(padding, 0 $gutter-double)
    
      &:focus,
      &:hover
        color: $blue-dark

    li:first-child a
      +rem(padding-top, $baseline-xx-small)
      position: relative

      &:after
        +background-svg("icons/i-menu", 12px 10px)
        content: ""
        +rem(height, 10px)
        +rem(left, $gutter)
        position: absolute
        +rem(top, $baseline-xx-small + 10px)
        +rem(width, 12px)

    li:last-child a
      +rem(padding-bottom, $baseline-xx-small)

  .primary-nav-content
    pointer-events: none
    position: absolute

    .primary-nav:focus &,
    .primary-nav:hover &
      background: white
      +rem(box-shadow, 0 0 3px rgba($black, .25))
      pointer-events: auto

    li:not(:first-child)
      opacity: 0

      .primary-nav:focus &,
      .primary-nav:hover &
        opacity: 1

// Newsletter

.primary-newsletter
  @extend %pull-right
  @extend %position-relative

  +breakpoint-max
    display: none

.newsletter-label,
.primary-newsletter-form
  @extend %padding-right
  @extend %padding-left

.newsletter-label
  @extend %h-sm-caps
  +rem(border-left, 1px solid rgba($black, .12))
  @extend %color-gray
  @extend %cursor-pointer
  @extend %display-block
  @extend %padding-top-xx-small
  @extend %padding-bottom-xx-small

.primary-newsletter-form-container
  +rem(height, $baseline-step * 9)
  @extend %opacity-0
  @extend %overflow-hidden
  @extend %pointer-events-none
  @extend %position-absolute
  @extend %right-0
  @extend %top-0
  @extend %transition-all
  +rem(width, 350px)

  .primary-newsletter:focus &,
  .primary-newsletter:hover &
    @extend %opacity-1
    @extend %pointer-events-auto

.primary-newsletter-form
  @extend %background-white
  +rem(box-shadow, 0 0 3px rgba($black, .25))
  @extend %pull-right
  +rem(padding-top, $baseline-step * 1.5)
  +rem(padding-bottom, $baseline-step * 1.5)
  +rem(width, 340px)

  .btn
    +rem(padding-top, $baseline-step / 2)
    +rem(padding-bottom, $baseline-step / 2)

.primary-newsletter-spam
  @extend %display-none

// Logo

.primary-logo
  @extend %center-x
  @extend %margin-top-xx-small
  @extend %margin-bottom-xx-small
  @extend %position-absolute
  +rem(width, 200px)

  a
    @extend %ir
    +background-svg("logos/logo-wordmark-gray", 182px 16px)
    background-position: 50%
    background-repeat: no-repeat
    @extend %display-block
    +rem(height, $baseline-base)
