// Updates
// ========================================

.update
  @extend %margin-bottom

  &:first-of-type
    @extend %margin-top-xx-large

// Image

.update-img-container
  @extend %display-block
  height: 0
  @extend %margin-bottom
  padding-bottom: 25%
  @extend %position-relative

.update-img
  background-position: 50%
  background-size: cover
  @extend %border-radius-base
  height: 100%
  @extend %left-0
  @extend %position-absolute
  @extend %top-0
  @extend %grid-1-1

.update-hero-img
  @extend %margin-bottom

  .update-summary &
    @extend %display-none

  img
    @extend %border-radius-base
    @extend %display-block
    @extend %margin-auto
    @extend %margin-bottom-xx-small
    max-width: 100%
    
    +breakpoint-min
      width: 80%

  figcaption
    @extend %h-sm-caps
    @extend %color-gray
    @extend %text-center

// Title

.update-title
  @extend %grid-col

  +breakpoint-min
    width: 40%

// Summary

.update-summary
  @extend %grid-col

  +breakpoint-min
    +rem(padding-left, $gutter)
    width: 60%

.update-cta
  @extend %margin-bottom

// Podcast player

.update-podcast-player
  @extend %margin-auto
  @extend %margin-bottom-x-large
  @extend %grid-8-10

// Podcast credit

.podcast-credit-object
  @extend %pull-left

  img
    +rem(max-width, $baseline-step * 22)

.update-video
  height: 0
  @extend %margin-auto
  @extend %margin-bottom-x-large
  padding-bottom: 56.25% // 16:9
  @extend %position-relative
  @extend %grid-9-10

  iframe
    @extend %border-0
    height: 100%
    @extend %left-0
    @extend %position-absolute
    @extend %top-0
    @extend %grid-1-1
