// Media
// ========================================

img
  @extend %border-0

figure
  @extend %margin-0

// Embeds

audio,
canvas,
progress,
video
  @extend %display-inline-block
  @extend %vertical-align-baseline

audio:not([controls])
  @extend %display-none
  height: 0

// Podcast player

.podcast-player
  @extend %border-gray-light
  @extend %border-radius-base
  @extend %border-solid
  +rem(border-width, 3px)
  @extend %display-block
  +rem(height, $baseline-step * 7)
  @extend %opacity-70

// Promo video

.promo-video-frame
  height: 0
  padding-bottom: 56.25%
  @extend %position-relative
  @extend %grid-1-1

.promo-video
  height: 100%
  @extend %left-0
  @extend %position-absolute
  @extend %top-0
  @extend %grid-1-1
