// Typography
// ========================================

// Scale

@each $size, $i in $font-sizes
  .s-#{$size},
  %s-#{$size}
    +rem(font-size, $i)

.s-giga,
%s-giga
  +rem(line-height, $baseline-step * 14)

  +breakpoint-max
    +rem(font-size, $s-alpha)
    +rem(line-height, $baseline-step * 9)

.s-alpha,
%s-alpha
  +rem(line-height, $baseline-step * 9)

.s-bravo,
%s-bravo
  @extend %line-height-x-large

// Headings

@each $heading, $i in $headings
  .h-#{$i},
  %h-#{$i}
    @extend %s-#{$i}

.h-sm-caps,
%h-sm-caps
  @extend %s-golf
  @extend %text-transform-uppercase

.h-sm-caps-gray,
%h-sm-caps-gray
  @extend %color-gray
  @extend %s-foxtrot
  @extend %text-transform-uppercase

// Links

.a-chevron-right,
%a-chevron-right
  @extend %h-sm-caps
  +background-svg("icons/i-chevron-right", 7px 11px)
  background-position: 100% 50%
  background-repeat: no-repeat
  +rem(padding-right, $gutter * .75)

// Misc

.lineup,
%lineup
  > *
    @extend %position-relative
    +rem(top, 1px)
    @extend %vertical-align-top

.lineup-wrap,
%lineup-wrap
  +rem(margin-top, $baseline-step / 2)
  +rem(margin-bottom, $baseline-step / 2)

  h1 &,
  h2 &
    +rem(margin-top, $baseline-step * 1.5)
    +rem(margin-bottom, $baseline-step * 1.5)

  > *
    @extend %line-height-small

// Font families

@each $family, $i in $font-families
  %font-family-#{$family}
    font-family: $i

// Weights

@each $weight, $i in $font-weights
  %font-weight-#{$weight}
    font-weight: $i

// Misc

@each $alignment in $text-alignments
  %text-#{$alignment}
    text-align: #{$alignment}

@each $decoration in $text-decorations
  %text-decoration-#{$decoration}
    text-decoration: #{$decoration}

@each $transform in $text-transforms
  %text-transform-#{$transform}
    text-transform: #{$transform}

@each $space in $white-spaces
  %white-space-#{$space}
    white-space: #{$space}
