---
title: About
---

%section

  %header.main-header.main-header-default
    .main-header-container.container
      %h1.main-header-title About Chicago Camps

  .main-content.container

    %p Chicago Camps, LLC was formed and founded with the intention of bringing high-value, low-cost events to the technology community. Part of our goal is to help find new talent and topics and provide a forum for those to be shared. We work hard to make our events a worthwhile investment of your money and time, and also to help support local speakers.

    %p Chicago Camps was founded by Brad Simpson, Shay Howe, and Russ Unger. They continually seek out new ways to improve their events and experiment with new ideas every chance they get. Don&#8217;t hesitate to reach out and share your great ideas with them! 

    %h2 Founders

    .media
      .profile= image_tag "about/brad.jpg", alt: "Brad Simpson"
      .media-body

        %h3
          Brad Simpson
          .h-divider
            %a.h-sm-caps(href="https://twitter.com/simplybrad" rel="nofollow") @simplybrad
            %span &#8226;
            %a.h-sm-caps(href="http://i-rradiate.com/") http://i-rradiate.com

        %p Creative Director, Art Director, Designer, UX, Maker focusing on strategy, user experience and visual design in the digital and physical space.

        %p Brad is a principal at <em>Bakery</em> and partners on <em>BiNTH</em> featuring designs for the modern family. Brad also donates his time and talents for IA Institute and their past conferences including the recent WorldIADay.org events.

    .media
      .profile= image_tag "about/russ.jpg", alt: "Russ Unger"
      .media-body

        %h3
          Russ Unger
          .h-divider
            %a.h-sm-caps(href="https://twitter.com/russu" rel="nofollow") @russu
            %span &#8226;
            %a.h-sm-caps(href="http://www.userglue.com/") http://userglue.com

        %p Russ Unger is a UX designer and researcher in Chicago. He is co-author of &#8220;<a href="http://projectuxd.com">A Project Guide to UX Design</a>&#8221;, &#8220;<a href="http://designingtheconversation.com">Designing the Conversation</a>&#8221;, and &#8220;<a href="http://speakercampbook.com">Speaker Camp</a>&#8221; for Peachpit Press (Voices That Matter). Russ is also working on a book on guerrilla design and research methods that is due out well, sometime.

        %p Russ is on the Advisory Board for the Department of Web Design and Development at Harrington College of Design. He has 2 daughters who both draw better than he does and are currently beginning to surpass his limited abilities in coding.

    .media
      .profile= image_tag "about/shay.jpg", alt: "Shay Howe"
      .media-body
      
        %h3
          Shay Howe
          .h-divider
            %a.h-sm-caps(href="https://twitter.com/shayhowe" rel="nofollow") @shayhowe
            %span &#8226;
            %a.h-sm-caps(href="http://shayhowe.com/") http://shayhowe.com

        %p Designer, Front End Developer, Instructor and all around builder.

        %p As a designer and front end developer, Shay Howe has a passion for solving problems while building creative and intuitive products. He specializes in user interface design and front end development, working inside HTML, CSS, and JavaScript on a daily basis. Additionally, Shay <a href="http://learn.shayhowe.com/">teaches a front end design and development</a> and helps co-organize Chicago Camps, Refresh Chicago, and UX Happy Hour.
