---
title: Code of Conduct
---

%section

  %header.header.header-default
    .header-container.container
      %h1.header-title Code of Conduct

  .main-content.container

    %p All delegates, speakers, sponsors and volunteers at any Chicago Camps, LLC event are required to agree with the following code of conduct. Organizers will enforce this code throughout the event.

    %h2 The Short Version

    %p Be respectful of other people; respectfully ask people to stop if you are bothered; and if you can&#8217;t resolve an issue contact the organizers. If you are being a problem, it will be apparent and you&#8217;ll be asked to leave.

    %h2 The Long Version

    %h3 Respect

    %p Chicago Camps is an intentionally positive community that recognizes and celebrates the creativity and collaboration of independent members and the diversity of skills, talents, experiences, cultures, and opinions that they bring to Chicago Camps.

    %p Chicago Camps is an inclusive environment, based on treating all individuals respectfully, regardless of gender (including transgender status), sexual orientation, age, disability, nationality, ethnicity, religion (or lack thereof), or career path.

    %p We value respectful behavior above individual opinions. This should be extended to hotel staff in addition to the Chicago Camps community.

    %p 
      %strong Respectful behavior includes:
    
    %ul.list-ul
      %li Be considerate, kind, constructive, and helpful.
      %li Avoid demeaning, discriminatory, harassing, hateful, or physically threatening behavior, speech, and imagery.
      %li If you&#8217;re not sure, ask someone instead of assuming. No, really. Just ask us&nsdash;we&#8217;d rather hear from you than hear about something you said or did after the fact, and we are hear to help.

    %h3 Resolve Peacefully

    %p We believe peer to peer discussions, feedback, and corrections can help build a stronger, safer, and more welcoming community.

    %p If you see someone behaving disrespectfully, you are encouraged to respectfully discourage them from such behavior. Expect that others in the community wish to help keep the community respectful, and welcome your input in doing so.

    %p If you experience disrespectful behavior and feel in any way unable to respond or resolve it respectfully (for any reason), please immediately bring it to the attention of an organizer. We want to hear from you about anything that you feel is disrespectful, threatening, or just something that could make someone feel uncomfortable in any way. We will listen and work to resolve the matter.

    %h3 Apologize for Mistakes

    %p Should you catch yourself behaving disrespectfully, or be confronted as such, own up to your words and actions, and apologize accordingly. No one is perfect, and even well-intentioned people make mistakes. What matters is how you handle them and that you avoid repeating them in the future.

    %h3 Press

    %p Chicago Camps events are a safe space for people to come together and engage in an environment of openness and trust. It is imperative that we preserve this. If you are attending Chicago Camps as a member of the Press you must abide by the following:

    %ul.list-ul
      %li <strong>Everything is OFF THE RECORD</strong> unless you explicitly specify that a particular conversation or activity is on the record and you have received written consent from every person mentioned or pictured.
      %li <strong>A written release form must be signed by the subjects in any photos taken</strong> to be used for press purposes.

    %h3 Consequences

    %p If the organizers determine that an event participant is behaving disrespectfully, the organizers may take any action they deem appropriate, up to and including expulsion and exclusion from the event without warning or refund.

    %p As organizers, we will seek to resolve conflicts peacefully and in a manner that is positive for the community. We can&#8217;t foresee every situation, and thus if in the organizers&#8217; judgment the best thing to do is to ask a disrespectful individual to leave, we will do so. We don’t like playing bad cop so please don&#8217;t put us in this position.

    %h3 Thanks

    %p Thank you to every Chicago Camps community member for helping to make Chicago Camps the respectful and inclusive community that it is.

    %p
      %em Special thanks to YxYY (<a href="http://www.yesandyesyes.com/" rel="nofollow">Yes and Yes Yes</a>) and Hillary Hartley for sharing their Code of Conduct with Chicago Camps. We consider them an example to look up to and emulate. We also thank the YxYY community member, <a href="http://tantek.com/" rel="nofollow">Tantek &Ccedil;elik</a>, and the other organizers of <a href="http://indiewebcamp.com/" rel="nofollow">IndieWebCamp</a> for creating and sharing the <a href="http://indiewebcamp.com/code-of-conduct" rel="nofollow">Code of Conduct</a> on which this one is based. If you question the need for a Code of Conduct, please see <a href="http://indiewebcamp.com/code-of-conduct-why" rel="nofollow">this</a>.
