---
title: Code of Conduct
---

%section

  %header.header.header-default
    .header-container.container
      %h1.header-title Code of Conduct

  .main-content.container

    %p All attendees, speakers, sponsors and volunteers at our conference are required to agree with the following code of conduct. Organizers will enforce this code throughout the event. We are expecting cooperation from all participants to help ensuring a safe environment for everybody.

    %h2 Need Help?

    %p You can always contact us via the <a href="/contact/">contact form</a> on this website, via email at info at Chicago Camps dot org, or in-person at the events, where we announce who we are, and provide our staff with badging/event attire (as is possible/feasible).

    %h2 The Quick Version

    %p Our conference is dedicated to providing a harassment-free conference experience for everyone, regardless of gender, gender identity and expression, age, sexual orientation, disability, physical appearance, body size, race, ethnicity, religion (or lack thereof), or technology choices. We do not tolerate harassment of conference participants in any form. Sexual language and imagery is not appropriate for any conference venue, including talks, workshops, parties, Twitter and other online media. Conference participants violating these rules may be sanctioned or expelled from the conference without a refund at the discretion of the conference organizers.

    %h2 The Less Quick Version
    
    %p Harassment includes offensive verbal comments related to gender, gender identity and expression, age, sexual orientation, disability, physical appearance, body size, race, ethnicity, religion, technology choices, sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention.

    %p Participants asked to stop any harassing behavior are expected to comply immediately.

    %p Sponsors are also subject to the anti-harassment policy. In particular, sponsors should not use sexualized images, activities, or other material. Booth staff (including volunteers) should not use sexualized clothing/uniforms/costumes, or otherwise create a sexualized environment.

    %p If a participant engages in harassing behavior, the conference organizers may take any action they deem appropriate, including warning the offender or expulsion from the conference with no refund.

    %p If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of conference staff immediately. Conference staff will be identified in event announcements, at the registration areas, by their badges, and by event attire (where feasible).

    %p Conference staff will be happy to help participants venue security or local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the conference. We value your attendance.

    %p We expect participants to follow these rules at conference and workshop venues and conference-related social events.

    %p
      %em Original source and credit: <a href="http://2012.jsconf.us/#/about" rel="nofollow">http://2012.jsconf.us/#/about</a> &amp; <a href="https://geekfeminism.wikia.org/wiki/Conference_anti-harassment/Policy" rel="nofollow">The Ada Initiative</a>
      %br
      %em Please help by translating or improving: <a href="https://github.com/confcodeofconduct/confcodeofconduct.com" rel="nofollow">http://github.com/confcodeofconduct/confcodeofconduct.com</a>
      %br
      %em This work is licensed under a <a href="https://creativecommons.org/licenses/by/3.0/deed.en_US" rel="nofollow">Creative Commons Attribution 3.0 Unported License</a>
