---
title: Contact Us
---

%section

  %header.header.header-default
    .header-container.container
      %h1.header-title Contact Us

  .main-content.container

    %p If you are interested in sponsoring a Chicago Camps event, if you&#8217;d like to host a Chicago Camps event, or if you have any questions or comments, please use the form below.

    .form-group
      .cognito
        %script(src="https://services.cognitoforms.com/s/lanv1WdLB0ykqChUTMY8Gw")
        <script>Cognito.load("forms", { id: "1" });</script>
