---
title: Contact Us
---

%section

  %header.header.header-default
    .header-container.container
      %h1.header-title Contact Us

  .main-content.container

    %p If you are interested in sponsoring a Chicago Camps event, if you&#8217;d like to host a Chicago Camps event, or if you have any questions or comments, please use the form below.

    %form(action="https://docs.google.com/forms/d/16aVkfonlEqzMjhaDwXdpBgvp4T1WFJCLW6ouZnBkupo/formResponse?embedded=true" data-js="form" method="post" name="ss-form" target="hidden_form")
      
      .grid

        .form-col.form-group
          %label.form-label(for="form-name") Name
          %input#form-name.form-control(name="entry.1565436970" placeholder="Your full name" required type="text")
        
        .form-col.form-group
          %label.form-label(for="form-email") Email
          %input#form-email.form-control(name="entry.419230340" placeholder="Your email address" required type="email")

      .form-group
        %label.form-label Which event (if any) does your message relate to?

        .grid

          -#
            .form-col
              .form-choice
                %label
                  %input(name="entry.656477003" role="checkbox" type="checkbox" value="Front-end Camp")
                  Front-end Camp
              
            .form-col
              .form-choice
                %label
                  %input(name="entry.656477003" role="checkbox" type="checkbox" value="Mobile Camp")
                  Mobile Camp
              
            .form-col
              .form-choice
                %label
                  %input(name="entry.656477003" role="checkbox" type="checkbox" value="Prototype Camp")
                  Prototype Camp
              
            .form-col
              .form-choice
                %label
                  %input(name="entry.656477003" role="checkbox" type="checkbox" value="Sketch Camp")
                  Sketch Camp
              
            .form-col
              .form-choice
                %label
                  %input(name="entry.656477003" role="checkbox" type="checkbox" value="Speaker Camp")
                  Speaker Camp
            
            .form-col
              .form-choice
                %label
                  %input(name="entry.656477003" role="checkbox" type="checkbox" value="Prototypes Process Play Conference")
                  Prototypes, Process, &amp; Play Conference

            .form-col
              .form-choice
                %label
                  %input(name="entry.656477003" role="checkbox" type="checkbox" value="Workshop")
                  Workshop

          .form-col
            .form-choice
              %label
                %input(name="entry.656477003" role="checkbox" type="checkbox" value="UX Camp Spring")
                UX Camp Spring
              
          .form-col
            .form-choice
              %label
                %input(name="entry.656477003" role="checkbox" type="checkbox" value="UX Camp Fall")
                UX Camp Fall
              
          .form-col
            .form-choice
              %label
                %input(name="entry.656477003" role="checkbox" type="checkbox" value="Leadership by Design")
                Leadership by Design
              
          .form-col
            .form-choice
              %label
                %input(name="entry.656477003" role="checkbox" type="checkbox" value="Other")
                Other

      .form-group
        %label.form-label(for="form-message") Message
        %textarea#form-message.form-area(name="entry.1958185669" placeholder="What's on your mind?" required)

      .form-group
        %button.btn.btn-default(name="submit" type="submit") Send Message

    %iframe(name="hidden_form" hidden)

    %h3(data-js="form-confirmation" hidden) Thank you! We will do our best to respond within 24 hours!
