---
title: Contact Us
---

%section

  %header.main-header.main-header-default
    .main-header-container.container
      %h1.main-header-title Contact Us

  .main-content.container

    %p If you are interested in sponsoring a Chicago Camps event, if you&#8217;d like to host a Chicago Camps event, or if you have any questions or comments, please use the form below.

    %form(action="https://docs.google.com/forms/d/16aVkfonlEqzMjhaDwXdpBgvp4T1WFJCLW6ouZnBkupo/formResponse?embedded=true" data-js="form" method="post" name="ss-form" target="hidden_form")
      
      .grid

        .form-col.form-group
          %label.form-label(for="form-name") Name
          %input#form-name.form-control(name="entry.1565436970" placeholder="Your full name" required type="text")
        
        .form-col.form-group
          %label.form-label(for="form-email") Email
          %input#form-email.form-control(name="entry.419230340" placeholder="Your email address" required title="Must be a valid email address" type="email")

      .form-group
        %label.form-label(for="form-message") Message
        %textarea#form-message.form-area(name="entry.1958185669" placeholder="What's on your mind?" required)

      .form-group
        %button.btn.btn-default(name="submit" type="submit") Send Message

    %iframe(name="hidden_form" hidden)

    %h3(data-js="form-confirmation" hidden) Thank you! We will do our best to respond within 24 hours!
