---
title: Home
pageable: true
---

%header.main-header.home-header

  .home-header-container
    .container

      %h1.home-header-logo Chicago Camps
      %h2.home-header-tagline Low-cost, high-value events <br> serving the technology community.

      .h-sm-caps Up Next:
      %h2.home-header-next
        %a(href="/events/2015/workshop-workshop/") The Workshop Workshop
      %a.btn.btn-alt(href="/events/2015/workshop-workshop/") View Details

      %a.main-header-credit(href="https://flic.kr/p/amYWgx") Photo: Robert Lowe

  .home-header-news
    .container
      .h-divider.h-divider-opaque Latest News
      - blog.articles.select {|a| a.data.category != "events"}.each_with_index do |article, i|
        - break if i == 1
        = link_to article.title, article.url

%section.main-section
  - page_articles.each_with_index do |article, i|
    %h2
      = link_to article.title, article
      %span= article.date.strftime('%b %e')


