---
title: Submit a Talk
---
-#

  %h2 Submit a Talk

  %p Are you interested in submitting a talk to be a part of our line-up of speakers at Prototype Camp 2014?

  %p Hopefully so! We are certainly interested in hearing about your great ideas! Please fill out the following form and let us know what you have in mind. Here&#8217;s what we&#8217;re looking for in a submission to present at Prototype Camp: We&#8217;re pretty wide open! We want to hear from people who are building things&#8211;quickly and/or iteratively&#8211;across any medium (we&#8217;ve had presentations about cupcakes and card games in the past&#8211;we&#8217;re pretty open)!

  %p A speaker at Prototype Camp will get free admission to the event, an exciting podcast with one of our co-founders, lunch in the fabulous Green Room with the staff and other speakers, and a unique Speaker Gift&#8482; courtesy of Chicago Camps. We regret that we cannot sponsor travel or lodging at this point in time.

  %p Still on the fence? Take a few minutes to listen to this great interview we did with <a href="thedocwaller.com" rel="nofollow">Doc Waller</a> on speaking at conferences!

  %iframe(seamless src="https://simplecast.fm/e/3053?style=dark")

  %form

    %label
      Name
      %input(name="Field1" required type="text")

    %label
      Email
      %input(name="Field3" required type="email")

    %label
      Presentation Title
      %input(name="Field6" required type="text")

    %label(for="presentation-overview") Presentation Overview
    %textarea#presentation-overview(name="Field5" required)

    %label(for="your-bio">Your Bio
    %textarea#your-bio(name="Field7")

    %label(for="comments") Anything Else/Comments?
    %textarea#comments(name="Field8")

    %input(name="saveForm" type="submit" value="Send Message")
