---
title: Submit a Talk
alias: proposal
---

%section

  %header.header.header-default
    .header-container.container
      %h1.header-title Submit a Talk

  .main-content.container

    %p Are you interested in submitting a talk to be a part of our line-up?

    %p Hopefully so! We are certainly interested in hearing about your great ideas! Please fill out the following form and let us know what you have in mind. Here&#8217;s what we&#8217;re looking for in a submission to present: We&#8217;re pretty wide open!

    %p All speakers get free admission to the event and a unique Speaker Gift courtesy of Chicago Camps. We try to have someone taking notes at your presentation so that we can publish/share them, and we&#8217;ll do our best to take photos during the presentation so that you can use them, as well. We may also be offering semi-professional headshots (nice photos taken by our staff) to help you submit for future presentations, if you&#8217;d like.

    %p For events with an open Call for Speakers (typically our Camp events), we&#8217;ll also help you with your abstract if you&#8217;d like assistance, and gladly do our best to help you with feedback on a dry run of your presentation (scheduled at least a week before the event).

    %p <strong>We regret that we cannot sponsor travel or lodging at this point in time.</strong>

    %p Still on the fence? Take a few minutes to <a href="/podcasts/2014/doc-waller/">listen to this great interview we did with Doc Waller</a> on speaking at conferences!

    .form-group
      .cognito
        %script(src="https://services.cognitoforms.com/s/lanv1WdLB0ykqChUTMY8Gw")
        <script>Cognito.load("forms", { id: "2" });</script>
  