---
title: Sponsorship
---

%section

  %header.header.header-default
    .header-container.container
      %h1.header-title Sponsor Chicago Camps

  .main-content.container

    %h2
      Sponsor a Camp or Workshop
      .lineup
        %span.h-sm-caps-gray $500
        %span.h-dot &#8226;
        %a.a-chevron-right(href="/assets/packets/Chicago-Camps-Sponsorship-Info.pdf" download) Download the Sponsorship Packet

    %p We want to be the easiest partner you&#8217;ve ever worked with! With that as our guiding mantra, all of our Camps and Workshops sponsorships are $500. There is no picking and choosing across a variety of levels, there are no confusing considerations.

    %p Camps and Workshops have the following sponsorships available: 

    %ul.list-ul
      %li Registration &amp; Breakfast 
      %li Lunch
      %li Afternoon Snack
      %li Table (4)

    %h2
      Global ChicagoCamps.org Sponsorship
      .lineup
        %span.h-sm-caps-gray $1,000
        %span.h-dot &#8226;
        %a.a-chevron-right(href="/assets/packets/Chicago-Camps-Sponsorship-Info.pdf" download) Download the Sponsorship Packet
    
    %p As a global Chicago Camps sponsor, your brand is on all of the pages of our website, including all of our events, above the footer, linked to the URL of your choosing. You&#8217;ll receive special mention at all of our events (7 or more in 2015!) and we&#8217;ll provide any sort of message/ promotion/swag at any of our events that you&#8217;d like to be included in.
    
    %h2
      Sponsor Prototypes, Process &amp; Play
      .lineup
        %span.h-sm-caps-gray $1,500
        %span.h-dot &#8226;
        %a.a-chevron-right(href="/assets/packets/Prototypes-Process-PlaySponsorship-Info.pdf" download) Download the Sponsorship Packet

    %p We want to be the easiest partner you&#8217;ve ever worked with&#8211;even at the traditional conference level! With that as our guiding mantra, all of our Prototypes, Process &amp; Play sponsorships are $1500.

    %p Prototypes, Process &amp; Play has many different options available that are comparable to any other large scale event, and we&#8217;re happy to work with you to create something custom to meet your needs! We&#8217;ve got a great event planned and we&#8217;d love to talk to you about how we can partner with you! 

    %h2
      Bring One of Our Events to Your Town
      .lineup
        %a.a-chevron-right(href="/contact/") Request an Event

    %p This one is just a little bit different&ndash;we typically require assistance with a lot of the local, on-the-ground needs. This includes help locating an ideal venue and/or venue sponsor, assistance marketing to the community to ensure the event is a success, identifying local talent, and so on.

    %p Speaker Camp is our most requested, most-traveled event and generally requires some form of travel/lodging sponsorship and a secured location sponsor that can hold 40-60 people and that has at least 2 additional rooms with A/V connections. Additionally, we typically require assistance marketing locally to ensure that we can achieve no less than 20 attendees for the event in order to do our best to break even.

    %p Improving the diversity at technology events is very important to us&ndash;if you&#8217;re interested in bringing Speaker Camp to your town, please reach out and we&#8217;ll work with you to try to make it happen!


