%blockquote.testimonial

  %p &#8220;Speaking at Mobile Camp gave me the validation and positive support and input I needed to leave my shell and begin sharing my opinions in more speaking engagements.&#8221;

  %cite &#8212; Anthony Armendariz, Partner &amp; Experience Director, Funsize
