%blockquote.testimonial

  %p &#8220;Chicago Camps provides access to the kinds of experts found in larger, more expensive conferences, and does it in an environment that feels friendly and communal.&#8221;

  %cite &#8212; Carolyn Chandler, User Experience Design Architect, Instructor, &amp; Author
