%blockquote.testimonial
  
  %p &#8220;Chicago Camps is one of the best valued conferences out there today, jam-packed with incredible information at a stunningly affordable price. You won&#8217;t be disappointed.&#8221;
  
  %cite &#8212; Jared Spool, Author, Usability Expert &amp; Founder, User Interface Engineering
