%blockquote.testimonial

  %p &#8220;The Chicago Camps crew outdoes themselves. The learning experience they create is approachable, full of energy and fun and affordable to anyone that wants to learn more about design.&#8221;

  %cite &#8212; Jason Ulaszek, Executive Innovation Director, Manifest Digital, Founder, UX for Good
