%blockquote.testimonial

  %p &#8220;Chicago Camps is a great experience for everybody. They put their hearts into the little touches that make or break an event like this. It shows in the conversations, energy, and enthusiasm they inspire in attendees.&#8221;

  %cite &#8212; Jason Kunesh, CEO, Public Good Software
