// Events schedule
// ========================================

.event-schedule
  border-collapse: separate
  +rem(border-spacing, 1px)
  @extend %margin-bottom
  @extend %grid-1-1

  tr:not(:last-child)
    margin-bottom: 1px
  
  th,
  td
    +rem(margin-bottom, 1px)
    @extend %padding-top-xx-small
    @extend %padding-right-half
    @extend %padding-bottom-xx-small
    @extend %padding-left-half
    @extend %text-center

  tr:nth-child(odd) th,
  tr:nth-child(odd) td
    background-color: rgba($white, .50)

  tr:nth-child(even) th,
  tr:nth-child(even) td
    background-color: rgba($white, .75)

  tr:first-child
    
    th:first-child
      +rem(border-top-left-radius, $border-radius-base)
    
    td:last-child
      +rem(border-top-right-radius, $border-radius-base)

  tr:last-child
    
    th:first-child
      +rem(border-bottom-left-radius, $border-radius-base)
    
    td:last-child
      +rem(border-bottom-right-radius, $border-radius-base)

  th
    @extend %h-sm-caps-gray
    @extend %s-golf
    @extend %line-height-x-small

.event-schedule-offset
  @extend %color-gray
  @extend %s-foxtrot
